<div data-ng-controller="senderLoginPopupCtrl as login">
<div class="alert alert-success" >
  Please confirm your mobile number <strong>{{$root.senderMobile}}</strong>.
  </div>
<div class="text-right">
 <button type="button" class="btn btn-success btn-info" data-dismiss="modal" data-ng-click="login.senderLogin()">Confirm</button>
</div>
</div>
       
      
   