#bankNames_chosen{width:100%!important} 

@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: 'latoblack_italic';
  src: url("assets/fonts/lato-blackitalic-webfont.woff2") format("woff2"), url("assests/fonts/lato-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("assests/fonts/lato/lato-bold-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold_italic';
  src: url("assests/fonts/lato/lato-bolditalic-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline';
  src: url("assests/fonts/lato/lato-hairline-webfont.woff2") format("woff2"), url("assests/lato-hairline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoitalic';
  src: url("assests/fonts/lato/lato-italic-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight';
  src: url("assests/fonts/lato/lato-light-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight_italic';
  src: url("assests/fonts/lato/lato-lightitalic-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("assests/fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoblack';
  src: url("assests/fonts/lato/lato-black-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline_italic';
  src: url("assests/fonts/lato/lato-hairlineitalic-webfont.woff2") format("woff2"), url("assests/fonts/lato/lato-hairlineitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaybold';
  src: url("assets/fonts/raleway-bold-webfont.woff2") format("woff2"), url("assets/fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaylight';
  src: url("assets/fonts/raleway-light-webfont.woff2") format("woff2"), url("assets/fonts/raleway-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("assets/fonts/raleway-regular-webfont.woff2") format("woff2"), url("assets/fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaysemibold';
  src: url("assets/fonts/raleway-semibold-webfont.woff2") format("woff2"), url("assets/fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.whiteColor, .whiteColor:hover, .whiteColor:active, .whiteColor:visited, .whiteColor:focus {
  color: #fff; }

header {
  height: 76px;
  box-shadow: 0 1px 3px 0 rgba(214, 214, 214, 0.4);
  background: #fff; }

.search-label span {
  font-size: 14px; }

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  background: url("assets/img/pattern-bg.png") #fff; }

.pri-bg-cl {
  background: #f36d25; }

.search-box {
  margin: 5px 0 0 0; }

.innerHeader {
  height: 76px; }

.mTop-10 {
  margin: 10px 0 0 0; }

.form-wrapper {
  max-width: 1000px;
  margin: 15px auto; }

.table > thead > tr > th {
  background: #f36d25;
  color: #fff !important; }

.senderFormWrapper {
  margin: 20px 0 0 0; }

.form-group-text {
  padding: 6px 17px; }

.bank-details {
  margin: 0 0 15px 0;
  float: left; }
  .bank-details .form-label {
    line-height: 28px; }

.tras-mode {
  margin-bottom: 10px; }

.btn-radio {
  padding: 8px 10px;
  color: #b5b5b5;
  background: #f2f2f2;
  font-size: 13px; }

.btn-radio.left {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px; }
.btn-radio.right {
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px; }
.btn-radio.active {
  background: #f36d25;
  color: #fff; }

.form-label {
  font-size: 15px;
  line-height: 34px; }

.btn-primary {
  color: #fff;
  background-color: #f36d25;
  border: none;
  min-width: 110px; }

.btn-secondary {
  color: #fff;
  background-color: #0086bf;
  border: none; }

.link-primary {
  color: #f36d25; }

.row-link {
  position: relative;
  top: 10px; }

.box-button-wrapper {
  margin: 25px 40px 0px; }

.btn-secondary:hover {
  color: #fff;
  background-color: #0086bf;
  border: none; }

.btn-primary:hover {
  background: #b74406;
  color: #fff; }

.btn-search {
  border-radius: 0px 5px 5px 0;
  float: left;
  padding: 12px 27px;
  border: none;
  outline: none;
  background-color: #f36d25; }

.search-input {
  height: 44px;
  width: calc(100% - 125px);
  float: left;
  border-radius: 4px 0px 0px 4px; }

.logo {
  height: 88px;
  width: 110px;
  background: url("assets/img/logo2.png") no-repeat center center/100%;
  margin: 0px;
  position: relative;
  top: -6px;
  left: 3px; }

.midSection {
  position: relative;
  min-height: 500px; }

.search-wrapper {
  position: relative;
  float: right; }

.header-right {
  margin: 23px 0 0 0; }

.user-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%; }

.user-name {
  padding: 0px 17px;
  position: relative;
  top: -6px; }

.user-pic img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  top: -8px; }

.user-info .glyphicon-triangle-bottom {
  font-size: 12px;
  padding: 0px 14px;
  top: -5px; }

.search-wrapper .glyphicon-search {
  position: absolute;
  left: 4px;
  top: 9px;
  color: #ccc;
  font-size: 14px;
  margin: 0 10px; }

.user-info-block {
  background: #fff;
  height: 140px;
  -webkit-box-shadow: inset 0px 0px 18px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 18px -5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0px 0px 18px -5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0px 0px 18px -5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 18px -5px rgba(0, 0, 0, 0.4);
  border: 7px solid #fff; }

.user-info-block-oute {
  width: 90%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  -webkit-box-shadow: 7px 8px 20px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 8px 20px -13px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 7px 8px 20px -13px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 7px 8px 20px -13px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 8px 20px -13px rgba(0, 0, 0, 0.5); }

.box-inner {
  border: 1px solid #DEDEDE;
  margin: 25px 0 0 0;
  background: #fff;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  -ms-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  -o-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  box-shadow: 0 0 10px rgba(189, 189, 189, 0.4); }

.grid-search-sm {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 27px;
  text-indent: 9px;
  width: 80px; }

.record-count {
  margin: 5px 0; }

.box-header {
  background: #0086bf;
  color: #fff;
  padding: 5px 25px;
  font-size: 17px;
  margin: 2px 0;
  min-height: 42px;
  line-height: 30px; }
  .box-header a {
    color: #fff; }

.popover.fav-grid-popup {
  top: -1px !important;
  left: -240px !important; }
  .popover.fav-grid-popup p {
    float: left; }

.popover.right {
  display: block; }

.item-row {
  margin: 0 0 15px 0;
  float: left;
  width: 100%; }

.grid-btn {
  font-size: 12px;
  min-width: 75px; }

.box-inner-content {
  float: left;
  width: 100%;
  padding: 10px 25px;
  margin: 0 0 11px 0; }

.agent-info-wrapper {
  margin: 46px 0 41px 0; }

.grid-search {
  color: #5d5c5c;
  font-size: 14px;
  padding: 0px 4px;
  width: 226px;
  height: 30px;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 1px; }

.import-sender-btn {
  margin-right: 15px; }

.user-info {
  float: right; }

.main-search {
  border: 1px solid #ccc;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  border-radius: 13px;
  height: 31px;
  width: 201px;
  text-indent: 34px; }
  .main-search.focus {
    outline: none;
    border: 1px solid #ccc; }

.block-icon {
  position: absolute;
  height: 83px;
  width: 82px;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: auto;
  top: -37px; }

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.btn-wrapper {
  position: relative; }
  .btn-wrapper .loader-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #f36d25;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .btn-wrapper .loader-wrapper .loader {
      width: 20px;
      height: 20px;
      border: 5px solid #f3f3f3;
      border-top: 5px solid #3498db; }

.splash-screen {
  transition: all linear 0.5s;
  background: #fff;
  position: fixed;
  left: 0px;
  right: 0px;
  display: block;
  top: 0px;
  bottom: 0px; }
  .splash-screen .logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: auto;
    bottom: 0px;
    width: 255px;
    height: 122px; }

.error {
  border: 1px solid red;
  outline: 1px solid red; }

.popover {
  width: 300px;
  top: -160px !important;
  left: 130px !important; }
  .popover .popover-title {
    font-size: 16px; }

.table-container .tras-mode {
  margin-bottom: -2px; }
.table-container .btn-radio {
  padding: 3px 10px; }
.table-container .table {
  margin-bottom: 0px !important; }
  .table-container .table tbody {
    max-height: 192px !important; }
.table-container .table > tbody > tr > td {
  padding: 8px 8px 8px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  height: 100%;
  position: relative;
  min-height: 47px;
  line-height: 28px;
  overflow: hidden;
  max-height: 47px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
.table-container .table > thead > tr > th {
  text-align: center; }

.table-fixed {
  width: 100%; }
  .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%; }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block; }
  .table-fixed tbody td {
    float: left; }
  .table-fixed thead tr th {
    float: left; }

.collapsed .glyphicon-menu-down {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); }

.col-xs-1-5 {
  width: 12.555555555555%; }

.amount-wrapper {
  position: relative;
  width: 100%; }
  .amount-wrapper .glyphicon-exclamation-sign {
    position: absolute;
    color: red;
    font-size: 15px;
    right: 17px;
    top: 7px;
    position: absolute;
    color: #f36d25;
    font-size: 15px; }
  .amount-wrapper .glyphicon-exclamation-sign:hover .tooltip {
    display: block; }
  .amount-wrapper .tooltip {
    top: -6px;
    left: 19.5px;
    display: none;
    position: absolute;
    font-size: 11px; }
    .amount-wrapper .tooltip.in {
      opacity: 1; }
    .amount-wrapper .tooltip .tooltip-inner {
      padding: 6px 8px;
      color: #fff;
      text-align: center;
      width: 200px;
      max-width: none;
      background-color: red; }
    .amount-wrapper .tooltip .tooltip-arrow {
      top: 50%;
      border-right-color: red; }

#add-beneficiary-form .form-wrapper {
  max-width: none; }

.glyphicon-menu-down {
  @inculde transition (all, 500ms); }

.delete-opt-col .glyphicon-trash {
  font-size: 19px;
  color: #5d5c5c; }

.download-btn {
  border-radius: 3px;
  margin: 0px 5px 0 0; }

.table-container {
  overflow: auto;
  padding: 0px 0px;
  width: 100%;
  border: 1px solid #f2f2f2; }

.delete-opt-col {
  position: relative; }

.oxy-btn {
  background: #f36d25;
  color: #fff; }

.table tbody tr:last-child td {
  border-bottom: 1px solid #ddd; }

footer {
  background: #0086bf;
  color: #fff;
  padding: 17px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.txnTd{position:relative;overflow: visible!important}
.txnTd .txnpopup h3{border-bottom:2px solid }
.txnTd .txnpopup{display: none;
    position: absolute;
    background: #fff;
    padding: 0 12px;
    box-shadow: 0px 2px 2px #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 2;
    left: 98px;
    top: -18px}
.txnTd:hover .txnpopup{display:block}
/*# sourceMappingURL=mainStyle.css.map */
