 @import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
	font-family: "entypo", sans-serif;
}
label.btn span {
	font-size: 16px;
}
/*label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #fff;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-check-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
    color: #f96106;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #fff;
}*/

label input[type="checkbox"] ~ i.fa.fa-square-o {
	color: #07c7f7;
	display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o {
	display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
	display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
	color: #07c7f7;
	display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
	color: #07c7f7;
}
div[data-toggle="buttons"] label.active {
	color: #fff;
}
div[data-toggle="buttons"] label {
	display: inline-block;
	padding: 6px 0px;
	margin-bottom: 0;
	font-size: 10px;
	font-weight: normal;
	line-height: 2em;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	background-color: none;
	border: 0px solid #c8c8c8;
	border-radius: 0px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div[data-toggle="buttons"] label:hover {
	color: #fff;
}
div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*Side Menu css And popup Menu Css*/
















.sidebar {
	position: fixed;
	z-index: 9999999;
	right: 0%;
	top: 120px;
	height: 76%;
	width: 350px;
	background: url(../images/usermenubg.png) repeat;
	-webkit-transition: right 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
	transition: right 0.3s ease, box-shadow 0.3s ease 0.2s;
	-webkit-box-shadow: 0.5em 0 0 0 #1abc9c, 0.6em 0 0 0 #17a689;
	box-shadow: 0.5em 0 0 0 #1abc9c, 0.6em 0 0 0 #17a689;
}
.sidebar #close {
	float: left;
	/*margin: -5.5rem 1rem;*/
	font-size: 2.4em;
	color: #fa598d;
	text-align: right;
}
.sidebar.closed {
	right: -410px;
	-webkit-box-shadow: 0 0 0 #1abc9c;
	box-shadow: 0 0 0 #1abc9c;
}
.sidebar h2 {
	/*padding: .5em;
	color: #1abc9c;*/
}
.sidebar ul {
	padding: 0;
	margin: 0;
}
.sidebar ul li {
	width: 88%;
	margin: 1px 20px;
	float: left;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	/*line-height: 20px;*/
	white-space: nowrap;
	/*padding: 6px 6px;*/
	/*font-size: 18px;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	border-bottom:1px solid #fff 0.8; -webkit-box-shadow:0px 1px 0px #e1e1e1;-moz-box-shadow:0px 1px 0px #e1e1e1;box-shadow:0px 1px 0px #4b91b7;padding:11px 20px;font-family:Tahoma;font-size:18px;
}
.sidebar ul li a {
	color: #fff;
	text-decoration: none;
}
a.menu_userp:hover {
	color: #F90;
	font-family: Tahoma;
	font-size: 18px;
}
a.menu_userp:active {
	color: #F90;
	font-family: Tahoma;
	font-size: 18px;
}
.sidebar ul li:hover {
	color: #F90;
	border-color: #17a689;
}
.footer a {
	color: #17a689;
}
/* Blurred class

This class is added to the container 
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	-webkit-filter: url(#blur);
	filter: url(#blur);
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
 66% {
 -webkit-filter: blur(1px);
 filter: blur(1px);
 -webkit-filter: url(#blurLogo);
 filter: url(#blurLogo);
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
}
@keyframes blur {
 66% {
 -webkit-filter: blur(1px);
 filter: blur(1px);
 -webkit-filter: url(#blurLogo);
 filter: url(#blurLogo);
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
}
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
.avatar {
	width: 100%;
	margin-left: 32%;
	width: 100px;
	border-radius: 100px;
	height: 100px;
	background: #ccc;
	position: relative;
	border: 5px solid #1571a5;
	top:-55px;
}
.avatar img1 {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	margin: auto;
	border: 3px solid #fff;
	display: block;
}
.header {
	width: 600px;
	height: 56px;
	position: absolute;
	top: 0px;
	left: 25%;
}
a.back {
	width: 256px;
	height: 73px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 1;
	cursor: pointer;
}
a.activator {
	width: 153px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	cursor: pointer;
}
/* Style for overlay and box */
.overlay {
	background: transparent url(images/overlay.png) repeat top left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}
.box {
	position: fixed;
	top: -400px;
	left: 60%;
	right: 5%;
	background: url(../images/bg1.png) repeat;
	color: #7F7F7F;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 0px;
	width: 340px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	box-shadow: 0 1px 5px #333;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index: 101;
}
.box h1 {
	margin: -20px -20px 0px -20px;
	padding: 10px;
	background-color: transparent;
	color: #000;
	font-size: 18px;
}
a.boxclose {
	float: right;
	width: 37px;
	height: 37px;
	background: transparent url(../images/canceluser.png) no-repeat top left;
	margin-top: -35px;
	margin-right: -35px;
	cursor: pointer;
}
a.boxclose_user {
	float: right;
	width: 37px;
	height: 37px;
	background: transparent url(../images/canceluser.png) no-repeat top left;
	margin-left: -13px;
	margin-top: -13px;
	cursor: pointer;
}
/* Style for overlay and box */
.overlay1 {
	background: transparent url(images/overlay.png) repeat top left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}
.box1 {
	position: fixed;
	top: -600px;
	left: 60%;
	right: 5%;
	background-color: #1a6f9e;
	color: #7F7F7F;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index: 101;
}
.box1 h1 {
	border-bottom: 1px dashed #7F7F7F;
	margin: -20px -20px 0px -20px;
	padding: 10px;
	background-color: #fff;
	color: #000;
	border-radius: 20px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-khtml-border-top-left-radius: 20px;
	-khtml-border-top-right-radius: 20px;
	font-size: 18px;
}
a.boxclose1 {
	float: right;
	width: 26px;
	height: 26px;
	background: transparent url(images/cancel.png) repeat top left;
	margin-top: -30px;
	margin-right: -30px;
	cursor: pointer;
}
.rm {
	display: none;
}
 .form-control.insta_textbox::-moz-placeholder {
 color: #000 !important;
 opacity: 1;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: #428bca !important;
	border-color: #428bca;
	color: #fff;
}
 .form-control::-moz-placeholder {
 color:#000!important;
}
.nav-tabs > li.coup {
	background: transparent!important;
	font-size: 20px!important;
	color: #000!important;
}
.nav-tabs > li.active.coup a {
	background-color: #137eba!important;
	font-size: 20px!important;
	color: #000!important;
}
.nav-tabs > li.coup > a:hover {
	background-color: #137eba!important;
	font-size: 20px!important;
}
a.coup {
	background: transparent!important;
}
a:hover.coup {
	background: transparent!important;
}
div.bhoechie-tab-container {
	z-index: 10;
	background-color: transparent;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #efeeee;
	margin-top: 20px;
	margin-left: 50px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-top: -4px;
}
div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0px;
}
div.bhoechie-tab-menu div.list-group>a {
	margin-bottom: 3px;
	;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon, div.bhoechie-tab-menu div.list-group>a .fa {
	color: #000;
	font-size: 30px;
}
div.bhoechie-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
	background-color: #137eba;
	background-image: #5A55A3;
	color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -24px;
	border-left: 0;
	border-bottom: 22px solid transparent;
	border-top: 28px solid transparent;
	border-left: 31px solid #137eba;
}
div.bhoechie-tab-content {
	/* border: 1px solid #eeeeee; */
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px!important;
	margin-top: -5px!important;
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}
.list-group-item.trst {
	background-color: transparent!important;
}
/*.list-group-item.trst>active {
    background-color: #00F;!important;
}*/
.nav-tabs.coupp {
	border-bottom: 0px solid #ddd!important;
}
.navbar-default.coupp {
	background-color: transparent!important;
	border: none!important;
	border-color: transparent!important;
}
.pic {
	opacity: 0.4;
	filter: alpha(opacity=30);
	;
}
.pic:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
div.bhoechieu-tab-container {
	z-index: 10;
	background-color: transparent;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #efeeee;
	margin-top: 20px;
	margin-left: 50px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechieu-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-top: -4px;
}
div.bhoechieu-tab-menu div.list-group {
	margin-bottom: 0px;
}
div.bhoechieu-tab-menu div.list-group>a {
	margin-bottom: 0px;
	padding: 33px 18px;
}
div.bhoechieu-tab-menu div.list-group>a .glyphicon, div.bhoechieu-tab-menu div.list-group>a .fa {
	color: #000;
	font-size: 30px;
}
div.bhoechieu-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechieu-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechieu-tab-menu div.list-group>a.active, div.bhoechieu-tab-menu div.list-group>a.active .glyphicon, div.bhoechieu-tab-menu div.list-group>a.active .fa {
	background-color: #137eba;
	color: #ffffff;
}
div.bhoechieu-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -24px;
	border-left: 0;
	border-bottom: 22px solid transparent;
	border-top: 28px solid transparent;
	border-left: 31px solid #137eba;
}
div.bhoechieu-tab-content {
	/* border: 1px solid #eeeeee; */
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px!important;
	margin-top: -5px!important;
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechieu-tab div.bhoechieu-tab-content:not(.active) {
	display: none;
}
.list-group-item.trst {
	background-color: transparent!important;
}
/*.list-group-item.trst>active {
    background-color: #00F;!important;
}*/
