@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-logo	
{
	    margin: -19px 0 25px 0;
	    width: 150px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.errorMsg{float: left;
position: relative;
top: -13px;
color: red;}
.margin2{
	margin:5px 0;
}
.errorMsg.termAndConditionErr
{
margin: 15px 0px 0 0;
float: right;
text-align: right;
font-size: 12px;
}
input.term-conditions{
	width: auto;
margin: 3px 5px 0 0;
position: relative;
top: 2px;
	
}
.form input[type="submit"], .submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background: #ff6e26; */
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #ff6e26;
    text-decoration: none;
};
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #e9eff3; /* fallback for old browsers */
/*   background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F); */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
a {
    /* color: #ff6e26; */
    text-decoration: none;
}
.aquamarine .form button:hover, .aquamarine .form button:active, .aquamarine .form button:focus {
    background: #a23234;
}
.aquamarine .form input[type="submit"], .aquamarine .submit {
  
    background: #378987;
}
.dark-blue .form input[type="submit"], .dark-blue  .submit {
  
    background: #2d465e;
}
.purple .form input[type="submit"], .purple  .submit {
  
    background:  #c51288;   
}
.aquamarine .form input[type="submit"], .aquamarine .submit {
  
    background: #378987;
}
.aquamarine a {
    color: #378987;
   
}
.dark-blue a {
    color: #2d465e;
   
}

.purple a {
    color: #c51288;   
}