html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	outline: none !important;
}
html {
	background: #fff;
}
.container {
	padding-left: 50px!important;
	padding-right: 50px!important;
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('fonts/Montserrat-Regular.eot');
	src: url('fonts/Montserrat-Regular.eot') format('embedded-opentype'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg#webfontuploaded_file') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: Montserrat-Regular, Tahoma!important;
	background: url(../images/bg1.png) repeat;
}
#menu_user {
	background: url(../images/usermenubg.png) repeat;
	opacity: 0.8;
}
.pic {
	opacity: 0.4;
	filter: alpha(opacity=30);
	;
}
.pic:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.modal-content.usermenu {
	background: url(../images/usermenubg.png) repeat!important;
	opacity: 1!important;
}
.icon_dropcaret {
	background: url(../images/drop.png) no-repeat!important;
}
.icon_mob {
	background: url(../images/mob.png) no-repeat!important;
}
.icon_mobmod {
	background: url(../images/mobMod.png) no-repeat!important;
}
.icon_name {
	background: url(../images/emailmob.png) no-repeat!important;
	background-position:left 3px;
}
.icon_namemod {
	background: url(../images/emailmobmod.png) no-repeat!important;
	background-position:left 3px;
}
.icon_nameuser {
	background: url(../images/homeicon.png) no-repeat!important;
}
.icon_nameusermod {
	background: url(../images/homeiconMod.png) no-repeat!important;
}
.icon_pass {
	background: url(../images/pass.png) no-repeat!important;
}
.icon_passmod {
	background: url(../images/passMod.png) no-repeat!important;
}
.icon_email {
	background: url(../images/email.png) no-repeat!important;
}
.icon_emailmod {
	background: url(../images/emailMod.png) no-repeat!important;
}
.icon_op {
	background: url(../images/oper.png) no-repeat!important;
	background-position: left center;
}
.icon_cir {
	background: url(../images/circle.png) no-repeat!important;
	background-position: left center;
}
.icon_rup {
	background: url(../images/rupee.png) no-repeat!important;
	background-position: left center;
}
.icon_rupmod {
	background: url(../images/rupeeMod.png) no-repeat!important;
}
#user_navgct {
	background: url(../images/usermenubg.png) repeat;
	min-height: 50px;
	opacity: 0.6;
}
#user_navg {
	background: url(../images/usermenubg.png) repeat;
	min-height: 50px;
}
#user_navgwt {
	background: url(../images/usermenubg.png) repeat;
	min-height: 50px;
}
#coup_pg {
	background: url(../images/coupbg.png) no-repeat;
	width: 100%;
	height: 100px;
}
#about_us {
	background: url(../images/about.png) no-repeat;
	width: 100%;
	min-height: 400px;
}
#user_exp {
	background: url(../images/section.png) no-repeat;
	width: 100%;
	min-height: 581px;
}
.user_exphd {
	font-size: 20px;
	font-family: Tahoma;
	color: #fff;
	float: left;
	padding-left: 10px;
}
.user_exptxt {
	font-size: 14px;
	line-height: 25px;
	text-align: justify;
	font-family: Tahoma;
	color: #fff;
	float: left;
	padding-left: 10px;
}
#check_hdr {
	background: url(../images/check_header.png) no-repeat;
	width: 100%;
	height: 193px;
}
#check_hdr1 {
	background: url(../images/check_head1.png)center center no-repeat;
	width: 850px;
	height: 86px;
	margin-left: -2px;
}
.click_sta {
	margin-top: 5%!important;
}
.headerLine {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	/*background:url(../images/banner.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.headerLine:after {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/*background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*border-bottom: 150px solid white;*/
	border-left: 3000px solid transparent;
}
/*.container{
	outline:1px solid #fc0;
}
.row{
	outline:1px solid #f00;
}*/
.logo {
	margin-top: 28px;
	font-family: 'Roboto', 'sans-serif';
	font-size: 40px;
	font-weight: 700;
	/*text-transform:uppercase;*/
	color: #f96106;
	margin-bottom: 24px;
}
.logo span {
	color: #f96106;
}
.logo p {
	letter-spacing: 0.5px;
	margin-top: -10px;
	font-family: 'Roboto', 'sans-serif';
	font-size: 12px;
	font-weight: 300;
	text-transform: lowercase;
}
.logo a {
	cursor: pointer;
	color: #f96106;
	text-decoration: none;
}
#menu a:active {
/*border-bottom:3px solid #1489cb;*/
}
#menu select {
/*border-bottom:3px solid #1489cb;*/
}
#menu .active a {
/*border-bottom:3px solid #1489cb;*/

}
#menu .active a:focus {
/*border-bottom:3px solid #1489cb;*/
}
#menu .active a:active {
/*border-bottom:3px solid #1489cb;*/
	
}
#menu .active a:link {
/*border-bottom:3px solid #1489cb;*/
}
#menu .active a:visited {
/*border-bottom:3px solid #1489cb;*/
	
}
#menu li {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/*border-right:1px solid #000;*/
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	font-size: 16px;
	color: #f96106;
	list-style: none;
	text-transform: uppercase;
}
#menu li:last-child {
	border-right: 0;
	padding-right: 0px;
	float: right;
}
#menu {
	/*//margin-top: 33px;*/
	margin-top: 30px;
	float: left;
	margin-bottom: 24px;
	padding-left: 130px;
}
#menu li a {
	color: #f96106;
	text-decoration: none;
}
#menu li a:hover {
	border: none;
	outline: none;
	margin-top: 20px;/*border-bottom:3px solid #1489cb;*/
}
.nav-tabs.menuinsta {
	border-bottom: none!important;
}
.hd_imgbg {
	margin-top: 40px;
	margin-right: 70px;
	width: 100%;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}
.log_msg {
	color: #fff;
	font-size: 22px;
	margin-top: 5%;
	margin-left: 10%;
}
#navigation_top {/*background: url(../images/left_bg.png) no-repeat 0 0;*/
	width: 100%;
	overflow: auto;
	height: 100%;
	min-height: 382px;
	top: 50px;
	left: -5px;
	z-index: 100;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: -68%;
}
#navigation {
	background: url(../images/navigation.png) no-repeat 0 0;
	width: 100%;
	overflow: auto;
	height: 100%;
	min-height: 73px;
	position: relative;
	top: 50px;
	left: -5px;
	z-index: 100;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#navigation_top ul {
	list-style: none;
	list-style-position: outside;
}
#navigation ul li {
	float: left;
	font-size: 12px;
	line-height: 20px;
	padding: 0 8px;
}
#navigation ul li.last {
	background: transparent;
}
#navigation ul li a {
	color: #fff; /*text-shadow: rgba(0,0,0,0.6) 0px 1px 0px;*/
}
#navigation ul li a:hover {
	text-decoration: none;
	background-color: #1a6f9e;
}
#navigation ul li a:active {
	background-color: #1a6f9e;
}
.gallery {
	width: 100%;
	overflow: hidden;
	min-height: 495px;
	height: 100%;
	background: url(../images/banner.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#cont_rtinfo {
	float: right;
	paddding: 12px;
	font-size: 20px;
	width: 100%;
	margin-top: 55%;
	color: #fff;
	margin-right: 6%;
}
#cont_rtinfoct {
	float: right;
	paddding: 12px;
	font-size: 20px;
	width: 100%;
	margin-top: 16%;
	color: #fff;
	margin-right: 0%;
}
#cont_ltinfo {
	float: left;
	paddding: 12px;
	width: 100%;
	margin-top: 25%;
	color: #fff;
	margin-left: 12%;
}
#cont_ltinfoct {
	float: left;
	paddding: 12px;
	width: 100%;
	margin-top: 5%;
	color: #fff;
	margin-left: 12%;
}
.p-l-0 {
	padding-left: 0px!important;
}
.p-r-0 {
	padding-right: 0px!important;
}
.m-l-0 {
	margin-left: 0px!important;
}
.m-r-0 {
	margin-right: 0px!important;
}
.m-0 {
	margin: 0px!important;
}
#social_tb {
	background-color: #000000;
	border-top: 1px solid #00a7fe;
	border-bottom: 1px solid #00a7fe;
	min-height: 100px;
	height: 100%!important;
	padding: 20px;
	margin-top: 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fol_soc {
	font-size: 24px;
	color: #327aa5;
	text-align: center;
	margin-left: 5%;
}
.fol_soc_txt {
	font-size: 16px;
	text-align: center;
	color: #4f4f4f;
	margin-left: 5%;
}
#soc_tbb {
	background-color: #609;
	margin-left: 10%;
}
#camera_wrap_1 {
	margin-bottom: 0 !important;
	margin-top: 10px;
}
.camera_caption h2 {
	border-bottom: 4px solid #1fcdff;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: -2px;
}
.slicknav_menu {
	display: none;
}
@media screen and (max-width: 991px) {
.news p {
	text-align: center;
}
.news div {
	text-align: center;
}
.news img {
	display: inline;
}
.pic1Ab {
	margin-bottom: 0 !important;
}
.pic2Ab {
	margin-bottom: 0 !important;
}
#menu {
	display: none;
}
#menuF {
	opacity: 0 !important;/*display:none !important;*/
}
.fixed {
	opacity: 0;
 //display:none;
}
.slicknav_menu {
	display: block;
}
.about p {
	text-align: justify;
}
}
@media screen and (max-width: 1229px) {
.pic1Ab {
	margin-bottom: 50px;
}
.pic2Ab {
	margin-bottom: 20px;
}
}
@media screen and (max-width: 460px) {
	.gallery {
    width: 100%;
    
    
    height: 100%;
    background-color:#2d82b1!important;
   
}
#user_navg{
		 background-color:#2d82b1!important;
	}
.wwa h3 {
    font-size: 18px!important;
    color: #f96106;
    text-shadow: 0px 2px 0px #333;
    font-family: Tahoma;
}
.item h4 {
    font-family: Tahoma;
    font-size: 18px!important;
    line-height: 1.125em;
    /* margin: 10px 0; */
    color: #3f98ce;
    padding: 30px!important;
}

.team h4 {
    margin-top: 0px;
    font-size: 18px!important;
    color: #2f2f2f;
    
    font-weight: 300;
}
.msg_auth {
    font-style: normal;
    float: right;
    color: #000;
    margin-right: 20px;
    margin-top: 20px!important;
}
#user_exp {
		background-color:#2d82b1!important;
	}
#rt_seectionfrm {
    margin-top: 4%;
    right: 8%!important;
    background: url(../images/left_bg.png) no-repeat;
    min-height: 100px;
    width: 580px!important;
}
.rt_sectionmenubg {
    background-color: #F90;
    padding: 5px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    position: relative;
    width: 350px!important; 
    margin-left:8px!important; 
}
#cont_rtinfo {
	color: #fff;
	font-size: 14px;
	width: 100%;
	margin-left:7%!important;
	margin-top:13%!important;
}
#cont_ltinfo {
	color: #fff;
	font-size: 14px!important;
	float: left;
	margin-left:5%!important;
	
	width: 100%;
}

	.contact_txt2 {
   margin-left: 13%!important;
    font-size: 14px!important;
}
.contact_txt {
    font-size: 14px!important;
    color: #fff;
}
.cont_sec{
margin-left: 13%!important;
}
.modal-dialog.login {
    position: absolute;
    top: 10px !important;
    left: 10px!important;
}
.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.rd {
    height: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.container {
    padding-left: 30px!important;
    padding-right: 0px!important;
}
.project {
    margin-top: 0px;
    text-align: left;
}
.field label {
    max-height: 2px!important;
    overflow: hidden;
    position: absolute;
    bottom: 40px!important;
    left: 120px!important;
    right: 0;
    padding: 0 0px 0px 1px;
    font-size: 10px!important;
    color: #07c7f7;
    float: right;
}

#about_us {
	background: url(../images/about.png) no-repeat;
	width: 100%;
	min-height: 200px;
}
#coup_pg {
	background: url(../images/coupbg.png) no-repeat;
	width: 100%;
	height: 100%;
	border: none!important;
	min-height: 100px;
	background-color: #116EA3!important;
	margin-bottom: 21%!important;
}
.pic2Ab {
	padding-bottom: 0 !important;
	margin-bottom: 0;
}
.pic1Ab {
	padding-bottom: 0 !important;
	margin-bottom: 0;
}
.camera_caption h2 {
	font-size: 65px;
}
.about h3 {
	text-align: center;
	margin-top: 73px !important;
}
.about p {
	margin-top: 30px !important;
	text-align: justify;
}
.Ama {
	margin-top: 280px !important;
	margin-bottom: 100px !important;
}
.soc ul li {
	margin-bottom: 20px;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
	border: 1px solid #f4511e;
	background-color: #fff !important;
	color: #f4511e;
}
.panel-heading {
	color: #fff !important;
	background-color: #f4511e !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.panel-footer {
	background-color: white !important;
}
.panel-footer h3 {
	font-size: 32px;
}
.panel-footer h4 {
	color: #aaa;
	font-size: 14px;
}
.panel-footer .btn {
	margin: 8px 0;
	background-color: #0076a8;
	color: #fff;
}
#navigation_top {
	margin-bottom: 0px!important;
	min-height: 8px!important;
	margin-top: 12px;
}
.gogle_mr {
	margin-top: 4%;
	margin-left: 10%;
}
.line2 {
	background-color: #006!important;
}
#social_tb {
	background-color: #000!important;
}
.log_msg {
	margin-left: 0%!important;
}
.insta_mt10 {
	margin-left: 0%!important;
}
.gogle_mr {
	margin-top: 1%!important;
	margin-left: 0%!important;
}
.click_sta {
	margin-top: 0%!important;
}
}
@media screen and (max-width: 323px) {
.footer .fEmail {
	border-radius: 4px !important;
	margin-bottom: 10px;
}
.footer .subS {
	border-radius: 4px !important;
}
.news p {
	text-align: justify;
}

}
@media only screen and (max-width:384px) {

}
@media only screen and (max-width:800px) {
.gallery {
    width: 100%;
    
    
    height: 100%;
    background-color:#2d82b1!important;
   
}

#user_exp {
		background-color:#2d82b1!important;
	}
#rt_seectionfrm {
    margin-top: 4%;
    
    background: url(../images/left_bg.png) no-repeat;
    min-height: 100px;
    width: 580px!important;
}
.rt_sectionmenubg {
    background-color: #F90;
    padding: 5px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    position: relative;
    
}



.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.rd {
    height: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.container {
    padding-left: 10px!important;
    padding-right: 0px!important;
}
.project {
    margin-top: 0px;
    text-align: left;
}

.m-l-m40 {
	margin-left: -40px!important;
}
.m-r-m40 {
	margin-right: -40px!important;
}

}
@media screen and (max-width: 1229px) {
.cont {
	/*text-align:center;*/
	margin-left: 0px !important;
}
.name {
	width: 100% !important;
}
.Email {
	width: 100% !important;
}
.ftext .cBtn ul {
	padding-left: 40px !important;
}
.news p {
	text-align: justify;
}
}
.sl {
	height: 67px;
	position: absolute;
	width: 100%;
	top: 418px;
	background: url(../images/sliderL.png) no-repeat;
}
/**/
.project {
	margin-top: 12px;
	text-align: center;
}
.project h3 {
	letter-spacing: 1px;
	
	font-size: 37px;
	font-weight: 400;
	color: #2f2f2f;
}
.project h4 {
	margin-left: -5px;
	
	font-size: 20px;
	font-weight: 300;
	color: #2f2f2f;
}
.project p {
	
	font-size: 13px;
	font-weight: 300;
	margin-top: 16px;
	line-height: 23px;
	color: #666666;
}
/**/

.cBusiness {
	margin-top: 25px;
}
.cBusiness h3 {
	text-align: center;
	
	font-size: 28px;
	font-weight: 400;
}
.cBusiness h4 {
	margin-top: 16px;
	text-align: center;
	
	font-size: 16px;
	font-weight: 300;
}
/**/
.centPic {
 //margin-left: 24px;
	margin-top: 57px;
	text-align: center;
	margin-bottom: -89px;
	z-index: 10;
}
.centPic img {
	display: inline-block;
}
/**/
/*.line2{
	height:496px;
	background:url(../images/line2.png)no-repeat;
	margin-top: -10px;
}*/
.line2 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: url(../images/section.png) center center no-repeat;
	/*background:url(../images/line2.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line2:after {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/*height: 240px;*/
	/*background: url(../images/sliderL.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid transparent;
	border-left: 3000px solid transparent;
}
.line2:before {
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	/*border-top: 194px solid white;*/
	border-right: 3000px solid transparent;
 //bottom: 489px;
}
.Des {
 //margin-left: -14px;
	background: url(../images/user_section.png) no-repeat;
	padding: 6px;
	font-size: 24px;
	color: #fff;
	font-family: FontAwesome;
	text-align: center;
}
.Fresh {
	margin-bottom: 145px;
	color: #fff;
	margin-top: 160px;
	text-align: left;
}
.Fresh h4 {
	margin-left: 27px;
	margin-top: 17px;
	
	font-size: 20px;
	font-weight: 300;
}
.Fresh p {
	
	font-size: 14px;
	font-weight: 300;
	margin-top: 12px;
	line-height: 23px;
	margin-left: 12px;
}
.fa-cog {
	margin-left: 2px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: #fff;
	font-family: FontAwesome;
	text-align: center;
}
.Des h4 {
 //margin-left: -19px;
}
.Ver h4 {
 //margin-left:0;
}
.Fully h4 {
 //margin-left: 20px;
}
.fa-tablet {
 //margin-left: 20px;
	width: 73px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: #fff;
	font-family: FontAwesome;
	text-align: center;
}
/**/
.wwa {
	margin-top: 8px;
	text-align: center;
}
.wwa h3 {
	font-size: 43px;
	color: #f96106;
	text-shadow: 0px 2px 0px #333;
	font-family: Tahoma;
}
.wwa h4 {
	margin-top: 15px;
	font-size: 16px;
	color: #2f2f2f;
	
	font-weight: 300;
}
/**/
.team {
	text-align: center;
	margin-top: 46px;
}
.team .b1 {
	padding-left: 0;
}
.team .b3 {
	padding-right: 0;
}
.team img {
	margin: 0 auto;
}
.team h4 {
	margin-top: 24px;
	font-size: 20px;
	color: #2f2f2f;
	
	font-weight: 300;
}
.team h5 {
	margin-top: -3px;
	font-size: 13px;
	color: #a9a9a9;
	
	font-weight: 300;
}
.team p {
	margin-top: 12px;
	font-size: 13px;
	color: #666;
	
	font-weight: 300;
	line-height: 24px;
}
.team ul {
	margin-top: 2px;
	padding-left: 0px;
	display: inline-block;
	margin: 0 auto;
}
.team ul li {
	padding: 0 10px;
	float: left;
	list-style: none;
	font-family: FontAwesome;
	font-size: 15px;
}
.team ul li a {
	color: #2f2f2f;
}
.team ul li a:hover {
	color: #1fcdff;
}
/**/
/**/
.hr1 {
	margin-top: 34px;
}
.hr1 hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}
/**/
/**/
.chart {
	margin: 0 auto;
	position: relative;
	width: 70px;
	height: 70px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	line-height: 110px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

.textP h3 {
	margin-top: 22px;
	text-align: center;
	font-size: 20px;
	color: #2f2f2f;
	
	font-weight: 300;
}
.textP p {
	line-height: 23px;
	margin-top: 13px;
	text-align: center;
	font-size: 13px;
	color: #2f2f2f;
	
	font-weight: 300;
}
.bar {
	margin-top: 32px;
}
/*.bar:first-child{
	padding-left:0;
}
.bar:last-child{
	padding-right:0;
}*/
/**/
.aboutUs {
	margin-top: 32px;
	text-align: center;
}
.aboutUs h3 {
	font-size: 28px;
	color: #2f2f2f;
	
	font-weight: 400;
}
.about h3 {
	margin-top: 51px;
	font-size: 16px;
	color: #2f2f2f;
	
	font-weight: 300;
}
.about p {
	font-size: 13px;
	line-height: 22px;
	color: #666666;
	
	font-weight: 300;
	margin-top: 12px;
	margin-bottom: 0;
}
.pic1Ab {
	padding-bottom: 15px;
	float: right;
	padding: 34px;
	padding-top: 51px;
	padding-right: 40px;
	padding-bottom: 10px;
}
.about1 {
	float: right;
	text-align: right;
}
.pic2Ab {
	float: left;
	padding: 40px;
	padding-top: 51px;
	padding-right: 37px;
	padding-bottom: 39px;
}
.about2 {
	float: left;
	text-align: left;
}
.horL {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 31px;
	left: 0;
	bottom: 0;
	right: 0;
	width: 1170px;
	height: 254px;
 //left: 367px;
 //top: 55px;
	content: '';
	z-index: 30;
	background: url(../images/horL.png) no-repeat;
}
/**/
.line3 {
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 547px;
	height: 100%;
	background: url(../images/contact.png) center center no-repeat;
	/*background: url(../images/line3Bg.jpg) center center no-repeat;*/
	/*background:#3f2d28;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line3:after {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	/*background: url(../images/sliderL.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid transparent;
	border-left: 3000px solid transparent;
}
.line3:before {
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	border-top: 194px solid transparent;
	border-right: 3000px solid transparent;
 //bottom: 489px;
}
.Ama {
	margin-top: 201px;
	margin-bottom: 133px;/*	margin-top: 241px;
	margin-bottom: 94px;*/
}
 @media screen and (min-device-width:1919px) {
.Ama {
	margin-top: 246px;
	margin-bottom: 164px;
}
}
.Ama h3 {
	font-size: 42px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
	margin-top: 17px;
}
.Ama p {
	font-size: 16px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
/**/

/**/
.lb {
	margin-bottom: -78px;
	z-index: 10;
}
.lb ul {
	margin-left: 14px !important;
	margin-top: 45px !important;
	display: inline-block;
	margin-bottom: 15px;
}
.cBtn ul {
	margin-left: -37px;
	margin-top: 37px;
	display: inline-block;
}
.cBtn ul li {
	margin-bottom: 15px;
	margin-right: 10px;
	border-radius: 4px;
	float: left;
	list-style: none;
	padding: 10px;
	background: #2f2f2f;
	box-shadow: 0px 2px 0px 0px #000;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 11px;
}
.cBtn ul li:last-child {
	margin-right: 0;
}
.cBtn ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.cBtn ul li:hover {
	cursor: pointer;
	background: #1fcdff;
	color: #fff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
/**/


/**/
}
#filter {
	margin-bottom: 50px !important;
	margin-left: -37px !important;
	margin-top: 37px !important;
	display: inline-block !important;
}
#filter li {
	margin-bottom: 30px !important;
	margin-right: 10px !important;
	border-radius: 0!important;
	background: none!important;
	padding: 0!important;
	box-shadow: none!important;
	padding-right: 0!important;
	padding-left: 0!important;
	padding-top: 0!important;
	float: left;
	list-style: none;
}
#filter li:last-child {
	margin-right: 0;
}
#filter li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
 //margin-bottom: 15px;
 //margin-right: 10px;
	border-radius: 4px;
	padding: 10px;
	background: #2f2f2f;
	box-shadow: 0px 2px 0px 0px #000;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 11px;
}
#filter li a:hover {
	cursor: pointer;
	background: #1fcdff;
 //color:#fff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
#filter .current {
	background: #1fcdff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
/**/
.pretty {
	margin-top: 45px;
}
.pretty img {
	border-radius: 3px;
}
.pretty {
	margin-top: 0;
}
.isotope-item {
	top: 38px !important;
}
.picsGall {
	max-width: 100%;
	height: auto;
}
.pretty .img-responsive {
	transition-duration: 0.5s;
}
.pretty .gall a:hover .img-responsive {
	opacity: 0.45;
	transition-duration: 0.5s;
}
.pretty .plS {
	display: block;
}
.view h3 {
	margin-bottom: 5px;
	text-align: center;
 //margin-left: -14px;
	margin-top: 12px;
}
.view a {
	text-decoration: none;
	color: #2f2f2f;
	font-size: 16px;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view li {
	display: inline-block;
	height: 40px;
	background: none;
	text-decoration: none;
	color: #a9a9a9;
	font-size: 13px;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view a:hover {
	color: #1fcdff;
}
.view ul {
	display: block !important;
	margin-top: 7px;
	margin-bottom: 25px;
	text-align: center;
	padding-left: 0;
}
.view ul i {
	margin-right: 5px;
	font-style: normal;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 13px;
	color: #a9a9a9;
}
.view ul li {
	margin-right: 12px;
	text-align: center;
	display: inline-block;
	background: none;
	box-shadow: none;
	list-style: none;
}
/*.view ul li:hover{
	cursor:normal;
	color:#a9a9a9;
	background: none;
	box-shadow: none;
}*/
#filter {
	display: inline-block;
	margin-top: 45px;
}
.view ul a:hover, .view ul a:hover i {
	color: #fd5f5b;
}
.view ul a {
	display: inline-block;
	color: #a9a9a9;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.pb2 {
	margin-top: 25px;
}
.pb3 {
	margin-top: 25px;
}
/**/
.cBtn ul i {
	padding-right: 10px;
}
.cBtn .dowbload, .cBtn .buy {
	margin-left: 10px;
	margin-top: 4px;
	padding: 13px;
	padding-right: 20px;
	padding-left: 20px;
}
.cBtn .dowbload a, .cBtn .buy a {
	font-size: 14px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.cBtn .buy {
	box-shadow: 0px 2px 0px 0px #179abf;
	background: #1fcdff;
}
.cBtn .buy:hover {
	background: #2f2f2f;
	box-shadow: 0px 2px 0px 0px #000;
}
/**/
.line4 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	/*background: url(../images/line4.png) center center no-repeat;*/
	/*background:#3f2d28;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line4:after {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	/*background: url(../images/sliderL.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line4:before {
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
 //bottom: 489px;
}
.line4 .Ama {
/*margin-top: 121px;
	margin-bottom: 94px;*/
}
/**/
.news {
	margin-top: 50px;
}
.news2 {
	margin-top: 25px;
}
.news img {
	border-radius: 3px;
}
.news h3 {
	text-align: center;
	color: #2f2f2f;
	font-size: 16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.news p {
	line-height: 23px;
	color: #666666;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.readMore {
	color: #1fcdff;
}
.readMore i {
	font-size: 13px;
}
.news .readMore {
	text-decoration: none;
}
.news .readMore:hover {
	color: #666666;
}
.news h3 a {
	text-align: center;
	color: #2f2f2f;
	font-size: 16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	text-decoration: none;
}
.news h3 a:hover {
	color: #1fcdff;
}
.news ul {
	margin-top: 14px;
	padding-left: 0;
	text-align: center;
}
.news ul li {
	padding-right: 20px;
	display: inline-block;
	list-style: none;
}
.news ul li a {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color: #a9a9a9;
	font-size: 13px;
	text-decoration: none;
	list-style: none;
}
.news ul li {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color: #a9a9a9;
	font-size: 13px;
	text-decoration: none;
	list-style: none;
}
.news ul li a i {
	padding-right: 5px;
}
.news li i {
	padding-right: 5px;
}
.news ul li a:hover {
	color: #1fcdff;
}
.hrNews {
	margin-top: 18px;
	border: 0;
	height: 1px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}
/**/
.mNews {
	margin-top: 26px !important;
	margin-left: -49px !important;
}
.line5 .Ama {
/*margin-top: 127px;
	margin-bottom: 94px;*/
}
.line5 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	/*background: url(../images/line5Bg.jpg) center center no-repeat;	*/
	/*background:#3f2d28;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line5:after {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	/*background: url(../images/sliderL.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line5:before {
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
 //bottom: 489px;
}
/**/
.forma {
	margin-bottom: -80px;
	z-index: 10;
	margin-top: 48px;
}
.forma input {
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size: 13px;
	color: #555555;
	background: #ededed;
}
input:focus {
 //border:0;
	outline: none;
}
textarea:focus {
 //border:0;
	outline: none;
}
.name {
	margin-bottom: 10px;
	margin-right: 10px;
	width: 403px;
}
.Email {
	margin-bottom: 10px;
	width: 403px;
}
.Subject {
	margin-bottom: 10px;
	max-width: 816px;
}
textarea {
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size: 13px;
	color: #555555;
	background: #ededed;
	border: none;
	max-width: 816px;
	height: 153px;
	resize: none;
}
.forma input:focus, .forma textarea:focus {
	background: #dfdfdf;
	border: 0;
}
.forma .cBtn a {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	font-size: 13px;
	color: #fff;
}
.forma .cBtn ul {
	margin-left: -15px;
	margin-top: 6px;
	padding-left: 0;
	margin-bottom: 0;
}
.forma .cBtn ul i {
	padding-right: 10px;
}
.forma .cBtn .clear, .cBtn .send {
	margin-bottom: 0;
	margin-top: 4px;
	padding: 10px;
	padding-right: 17px;
	padding-left: 17px
}
.forma .cBtn .clear a, .cBtn .send a {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.forma .cBtn .send {
	box-shadow: 0px 2px 0px 0px #179abf;
	background: #1fcdff;
}
.forma .cBtn .send:hover {
	background: #2f2f2f;
	box-shadow: 0px 2px 0px 0px #000;
}
/**/
.cont {
	margin-top: 44px;
	margin-left: -33px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size: 13px;
	color: #666666;
	margin-bottom: -80px;
	z-index: 10;
}
.cont ul {
	padding-left: 0;
	list-style: none;
}
.cont li {
	margin-bottom: 16px;
}
.cont .fa {
	color: #2f2f2f;
	padding-right: 14px;
}
.cont a {
	text-decoration: none;
	color: #1fcdff;
}
.cont a:hover {
	color: #666666;
}
/**/
.line6 iframe {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
/*
	filter: url(filters.svg#grayscale); 
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);*/

.line6 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 700px;
}
.line6:after {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line6:before {
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
 //bottom: 489px;
}
.line6 .Ama {
	margin-top: 250px;
	margin-bottom: 250px;
	;
}
.line6 .Ama h3 {
	font-size: 42px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}
.line6 .Ama p {
	font-size: 16px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
/**/
.ftext {
	text-align: center;
	margin-bottom: -18px;
	z-index: 10;
	text-align: center;
}
.ftext h3 {
	font-size: 28px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
	margin-top: 37px;
}
.ftext p {
	font-size: 16px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	margin-top: 13px;
	line-height: 24px;
}
.ftext .cBtn ul {
	margin-top: 40px;
	margin-top: 22px;
}
/**/
.line7 {
	position: relative;
	width: 100%;
	overflow: hidden;
	max-height: 100%;
 //background:#3f2d28;
	background: url(../images/line7Bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*.line7:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 184px;
	background: url(../images/bgFooter.png) no-repeat;
}*/

.line7:before {
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	border-top: 150px solid white;
	border-right: 3000px solid transparent;
 //bottom: 489px;
}
.footer {
	margin-top: 40px;
	min-height: 435px;
}
.footer h3 {
	margin-top: 159px;
	font-size: 28px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin-bottom: 17px;
}
.footer p {
	font-size: 16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color: #fff;
	text-align: center;
}
.footer .fEmail {
	float: left;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	border: 0;
	background: #1c1c1c;
	color: #fff;
	padding: 11px;
	width: 350px;
	border-radius: 4px 0px 0px 4px;
	padding-left: 20px;
}
.footer .email {
	float: left;
}
.footer .subS {
	text-transform: uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	float: left;
	color: #fff;
	border-radius: 0 4px 4px 0;
	text-decoration: none;
	box-shadow: 0px 2px 0px 0px #179abf;
	background: #1fcdff;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.fr {
	margin-top: 40px;
	text-align: center;
 //margin: 40px 0 0 357px;
}
.footer a:hover {
	background: #2f2f2f;
	box-shadow: 0px 2px 0px 0px #000;
}
/**/
.soc ul li {
	margin-bottom: 20px;
	margin-right: 23px;
	float: left;
	text-align: center;
	text-decoration: none;
	list-style: none;
}
.soc {
	margin-top: 42px;
	text-align: center;
}
.soc ul {
	margin-left: 24px;
	padding-left: 0;
	display: inline-block;
}
.soc1 a {
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(../images/socIcons.png)no-repeat;
	margin-top: 15px;
	margin-left: 2px;
}
.soc1 {
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc1 a:hover {
	border: 0;
	background: url(../images/socIcons.png)no-repeat;
	box-shadow: none;
}
.soc1:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
.soc2 a {
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(../images/socIcons.png) -74px 0 no-repeat;
	margin-top: 15px;
	margin-left: 2px;
}
.soc2 {
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc2 a:hover {
	border: 0;
	background: url(../images/socIcons.png) -74px 0 no-repeat;
	box-shadow: none;
}
.soc2:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
.soc3 a {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -147px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc3 {
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc3 a:hover {
	border: 0;
	background: url(../images/socIcons.png) -147px 0 no-repeat;
	box-shadow: none;
}
.soc3:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
.soc4 a {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -221px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc4 {
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc4 a:hover {
	border: 0;
	background: url(../images/socIcons.png) -221px 0 no-repeat;
	box-shadow: none;
}
.soc4:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
.soc5 a {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -293px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc5 {
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc5 a:hover {
	border: 0;
	background: url(../images/socIcons.png) -293px 0 no-repeat;
	box-shadow: none;
}
.soc5:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
.soc6 a {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -368px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc6 {
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc6 a:hover {
	border: 0;
	background: url(../images/socIcons.png) -368px 0 no-repeat;
	box-shadow: none;
}
.soc6:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
.soc7 a {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -442px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc7 {
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc7 a:hover {
	border: 0;
	background: url(../images/socIcons.png) -442px 0 no-repeat;
	box-shadow: none;
}
.soc7:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
.soc8 a {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -516px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc8 {
	width: 50px;
	height: 50px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc8 a:hover {
	border: 0;
	background: url(../images/socIcons.png) -516px 0 no-repeat;
	box-shadow: none;
}
.soc8:hover {
	cursor: pointer;
	border: 2px solid #1c1c1c;
	background: #1c1c1c;
}
/**/
.lineBlack {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: url(../images/bgFooter.png) no-repeat;
	background: #101010;
}
.downLine {
	margin-bottom: 35px;
	margin-top: 127px;
}
.downLine p {
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color: #fff;
}
.lineBlack:before {
	top: 0;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 178px;
	background: url(../images/bgBeforFooter.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.lineBlack input {
	margin-top: 3px;
}
#downMenu {
	float: left;
	margin-top: 20px;
}
#downMenu1 {
	float: left;
}
#downMenu1 li {
	/*border-right:1px solid #343434;*/
	float: left;
	list-style: none;
}
#downMenu li {
	height: 16px;
	/*border-right:1px solid #343434;*/
	float: left;
	list-style: none;
}
#downMenu li:last-child {
	border-right: none;
}
#downMenu li a {
	padding: 15px;
	text-decoration: none;
	font-weight: 300;
	color: #268ccb;
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 10px;
}
#downMenu1 li a {
	padding: 25px;
	text-decoration: none;
	font-weight: 300;
	color: #268ccb;
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 10px;
}
li.brd_rt {
	border-right: 1px solid #268ccb;
}
#downMenu li:last-child a {
	padding-right: 0;
}
#downMenu li a:hover {
	color: #6d6d6d;
}
.downLine input {
	max-width: 95px;
	border: 0;
	background: #101010;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color: #6d6d6d;
}
.copy {
	margin-top: 39px;
	color: #268ccb;
}
.dm {
	margin-top: 29px;
}
#login_popup {
	background: url(../images/newloginpop.png) no-repeat;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 579px;
}
#login_popup2 {
}
.modal-body, .md_b {
	padding: 0px!important;
	position: relative;
}
.modal-header, .md_h {
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.43px;
	padding: 2px!important;
}
.modal-lg.login {
	width: 1100px!important;
	margin: 120px auto!important;
}
/**/
/*responsive*/
@media screen and (max-width: 1190px) {
.horL {
	display: none;
}
}
 @media screen and (max-width: 991px) {
.copy p {
	text-align: center;
}
#downMenu ul li {
	float: none;
	text-align: center;
}
.downLine input {
	margin-top: 25px;
}
.footer .fEmail {
	float: left;
 //max-width: 350px;
	max-width: 163px;
}
#downMenu li a {
	padding: 5px;
}
.team ul {
	margin-bottom: 35px;
}
.cont {
	margin-top: 124px;
]
}
.cBtn ul {
	margin-left: 0;
}
.line6 iframe {
	height: 750px;
}
.line6 {
	height: 350px;
}
}
/*isotop*/

/* ---- button ---- */
/*
.isotope-item {
    z-index: 2;
}
.isotope-item{
max-height: 370px !important;
margin-bottom: 35px !important;

}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope{
	max-height:100% !important;
}

.isotope,
.isotope .isotope-item {
  
	
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
*/
/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO
/*-----------------------------------------------------------------------------------*/
/* __________ Isotope Styles __________ */
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
/* __________ Filter __________ */
/*#filter {padding:11px 0 25px; text-align:center;}
#filter li {display:inline-block;}
#filter li a {
	display:block;
	padding:0 22px;
	text-transform:capitalize;
	line-height:20px;
	font-size:15px;
	color:#707070;
}*/
#filter li a.selected {
	cursor: pointer;
	background: #1fcdff;
	color: #fff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
#projects .columns1 .project {
	width: 100%;
}
.load_more_cont {
 //width:100%;
	padding: 10px 0 0;
}
/* __________ Portfolio Item __________ */
.portfolio_block {
	width: 100%;
}
.portfolio_block .project .hover_img {
	position: relative;
}
/*background-color:#f9cdad;/
/*.portfolio_block .project .hover_img:before {content:''; position:absolute; z-index:10; left:0; top:0; width:100%; height:100%; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.portfolio_block .project:hover .hover_img:before {background-color:rgba(0,0,0,0.38);}
.portfolio_block .project .hover_img img {opacity:0.92;}
.portfolio_block .hover_img .zoom {
	display:block;
	position:absolute;
	z-index:100;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0);
}*/
.portfolio_block.project_descr {
	position: relative;
	padding: 37px 10px 14px;
	color: #979797;
	border: 0;
	border-bottom: 2px solid #ededed;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.portfolio_block .project:hover .project_descr {
	border-bottom-color: #765692;
}
.portfolio_block .project_descr h4 {
	margin-bottom: 11px;
	font-size: 15px;
}
/* Portfolio Item Single */
/*.prev_next_links {
    display: block;
    float: left;
}*/
/*.prev_next_links a {
    margin: 0 17px 20px 0;
}*/




/* Portfolio Item Single Share */
.blogpost_share {
	display: block;
	float: right;
}
/*.blogpost_share a {
    display: inline-block;
    width:40px;
	height: 40px;
	margin:0 7px 10px 0;
    line-height: 40px;
	font-size: 19px;
    text-align: center;
	color:#555;
	background-color:#eaeaea;
}
.blogpost_share a:hover {background-color:#765692; color:#333;}

*/


/*                                                                    */
.default {
	transition-duration: 1s;
}
.fixed {
	transition-duration: 1s;/*text-align:center;*//*z-index:999;
        position:fixed;
        top: -65px; 
        padding:20px 0;
        width:100%;
		background-color: #101010!important;*/
}
/**/


.insta_mt10 {
	margin-top: 2%;
	margin-left: 5%;
}
.tab {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 100;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.tab:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 100;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.tab:focus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 100;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.form-control.insta_textbox {
	width: 83%;
	height: 50px;
	padding-left: 40px;
	padding-bottom: 16px;
	border-radius: 0px!important;
	box-shadow: none!important;
	font-size: 16px!important;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	color: #fff!important;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	outline: 0;
}
.form-control.insta_textboxmod {
	width: 80%;
	height: 40px;
	padding-left: 40px;
	padding-bottom: 16px;
	border-radius: 0px!important;
	box-shadow: none!important;
	font-size: 16px!important;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	color: #fff!important;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	outline: 0;
}
.form-control.insta_textbox.sup::-moz-placeholder {
 color: #000!important;
 font-family:Tahoma!important;
 font-size:16px!important;
}
.form-control.insta_textbox.nom::-moz-placeholder {
 color: #d8d9d9!important;
 font-family:Tahoma!important;
 font-size:16px!important;
}
.form-control.insta_textbox.nom::-webkit-placeholder {
 color: #d8d9d9!important;
 font-family:Tahoma!important;
 font-size:16px!important;
}
.form-control.insta_dropdown {
	color: #d8d9d9!important;
	font-family: Tahoma!important;
	font-size: 16px!important;/*background:url(../images/carretdrop.png) no-repeat right repeat-x!important;*/
}
.form-control.insta_dropdown.sup {
	color: #000!important;
	font-family: Tahoma!important;
	font-size: 16px!important;
	opacity: 0.8;
}
.form-control.insta_dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px!important;
	box-shadow: none!important;
	color: #d8d9d9!important;
	display: block;
	font-size: 14px;
	height: 50px;
	line-height: 1.42857;
	padding-left: 40px;
	padding-bottom: 16px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 83%;
	cursor: pointer!important;
}
select.insta_dropdown {
	background: url(../images/drop.png) no-repeat !important;
	background-position: right top 8px!important;
}
select.insta_dropdown:hover {
	background-color: transparent;
	color: #f96106;
}
.form-control.insta_dropdown.sup {
	color: #000!important;
	font-family: Tahoma!important;
	font-size: 16px!important;
	opacity: 0.8;
}
.form-control.insta_dropdownchk {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px!important;
	box-shadow: none!important;
	color: #000!important;
	display: block;
	font-size: 14px;
	height: 50px;
	line-height: 1.42857;
	padding-left: 40px;
	padding-bottom: 16px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 83%;
	cursor: pointer!important;
}
select.insta_dropdownchk {
	/*background: url(../images/drop.png) no-repeat !important;
	background-position: right top 8px!important;*/
}
select.insta_dropdownchk:hover {
	background-color: transparent;
	color: #f96106;
}
option.drp:hover {
	background-color: #960!important;
	color: #f96106;
}
option.drp {
	color: #1a6f9e;
	background-color: #d6d6d6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-bottom: 1px solid #1a6f9e;
	padding: 10px;
}
/*.insta_dropdown{
	width:80%;
	
	
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	color:#fff;
	-webkit-appearance: none;       
     -moz-appearance: none;    
     appearance: none;    
	background-color:transparent;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #fff;
	position: absolute;
    cursor: pointer;
	
}*/


.insta_textbox_amount {
	width: 60%;
	height: 50px;
	padding-left: 40px;
	padding-bottom: 16px;
	font-family: Tahoma!important;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	color: #fff!important;
	border-radius: 0px!important;
	box-shadow: none!important;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	outline: 0;
	float: left;
}
.insta_textbox_plan {
	width: 23%;
	height: 50px;
	padding: 8px 0px 0px 0px;
	font-family: Tahoma!important;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	color: #fff;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	outline: 0;
	float: left;
}
.insta_textbox_plan:hover {
	width: 23%;
	height: 50px;
	padding: 8px 0px 0px 0px;
	font-family: Tahoma!important;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	text-transform: none;
	color: #fff;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	outline: 0;
	float: left;
}
.insta_textbox_plan:focus {
	width: 20%;
	height: 50px;
	padding: 8px 0px 0px 0px;
	font-family: Tahoma!important;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	color: #fff;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	outline: 0;
	float: left;
}
.insta_button {
	font-family: Tahoma!important;
	border-radius: 5px;
	font-size: 20px;
	font-style: normal;
	/*font-weight:600;*/
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	background-color: #f96106;
	padding: 10px 31px!important;
	box-shadow: 0px 3px 0px #c84c02!important;
	/*outline:0;*/
	width: 100%
}
.insta_button.small {
	font-family: Tahoma!important;
	border-radius: 5px;
	font-size: 16px;
	font-style: normal;
	/*font-weight:600;*/
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	background-color: #f96106;
	padding: 10px 31px!important;
	box-shadow: 0px 3px 0px #c84c02!important;
	/*outline:0;*/
	width: 100%
}
.carousel-indicators, .indi {
	bottom: 235px!important;
}
.carousel-indicators li {
	border: 2px solid #fff;
	width: 20px;
	height: 20px;
	background-color: #bcdaed;
	box-shadow: 0px 2px 0px #585858!important;
}
.carousel-indicators li.active {
	border: 2px solid #fff;
	background-color: #f4511e;
	width: 20px!important;
	height: 20px!important;
}
.msg_auth {
	font-style: normal;
	float: right;
	color: #000;
	margin-right: 20px;
}
.peop_msg {
	border: 2px solid #fffefe;
	background: rgba(244,244,244,0.4);
	min-height: 230px!important;
}
.item h4 {
	font-family: Tahoma;
	font-size: 42px;
	line-height: 1.125em;
	/*margin: 10px 0;*/
	color: #3f98ce;
	padding: 8px;
}
.padding-bottom-10 {
	padding-bottom: 10px!important;
}
.padding-bottom-15 {
	padding-bottom: 15px!important;
}
.padding-bottom-25 {
	padding-bottom: 25px!important;
}
.padding-bottom-30 {
	padding-bottom: 30px!important;
}
.margin-bottom-10 {
	margin-bottom: 10px!important;
}
.margin-bottom-15 {
	margin-bottom: 15px!important;
}
.margin-bottom-25 {
	margin-bottom: 25px!important;
}
.margin-bottom-30 {
	margin-bottom: 30px!important;
}
.margin-10 {
	margin: 10px!important;
}
.margin-15 {
	margin: 15px!important;
}
.margin-25 {
	margin: 25px!important;
}
.margin-30 {
	margin: 30px!important;
}
.margin-top-9 {
	margin-top: 9px!important;
}
.margin-top-10 {
	margin-top: 10px!important;
}
.margin-top-15 {
	margin-top: 15px!important;
}
.margin-top-25 {
	margin-top: 25px!important;
}
.margin-top-30 {
	margin-top: 30px!important;
}
.field {
	display: block;
	position: relative;
	height: 60px;
}
.field label {
	max-height: 2px;
	overflow: hidden;
	position: absolute;
	bottom: 50px;
	left: 140px;
	right: 0;
	padding: 0 0px 0px 1px;
	font-size: 14px;
	color: #07c7f7;
	float: right;
}
.field input, .field select {
	border: none;
	width: 100%;
	height: 36px;
	padding: 0 10px;
	font-size: 14px!important;
	font-size: 1.3rem;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-color: #ccc;
	color: #000!important;
}
 .field select:invalid {
 color: #ccc;
}
/*
      Show label instead of placeholder
    */
	/*.form-control.insta_textbox::-moz-placeholder {
   
    opacity: 1!important;
	}*/
.field input:focus, .field select:focus {
	height: 50px;
}
.field input:focus ~ label, .field select:focus ~ label {
	color: #07c7f7!important;
	font-size: 14px!important;
	font-family: Tahoma;
	max-height: 30px;
}

    /* Hide placeholder onfocus for safari */
    .field input:focus[placeholder]::-webkit-input-placeholder, .field input:focus[placeholder]::-moz-input-placeholder, .form-control.insta_textbox::-moz-placeholder, .form-control.insta_textbox::-webkit-placeholder {
 opacity: 0!important;
}
/*
      Animations
    */
.field {
	transition-property: height, border-width;
	-webkit-transition-property: height, border-width;
	-moz-transition-property: height, border-width;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
}
.field input, .field select {
	transition: height 0.3s ease-in;
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
}
.field label {
	transition-property: max-height, color;
	-webkit-transition-property: max-height, color;
	-moz-transition-property: max-height, color;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
}
 .field input[placeholder]::-webkit-input-placeholder, -moz-input-placeholder {
 transition: opacity 0.3s ease-in!important;
 -webkit-transition: opacity 0.3s ease-in!important;
 -moz-transition: opacity 0.3s ease-in!important;
}
	/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder, -moz-input-placeholder, -webkit-select-placeholder {
 opacity: 0!important;
 -webkit-transition: opacity 0.35s ease-in-out;
 transition: opacity 0.35s ease-in-out;
}
/*:focus:-moz-input-placeholder {
  opacity: 0!important;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-select-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}*/
hr {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}
.modal.login {
 overflow:
 overflow-x:hidden!important;
	overflow-y: hidden!important;
}
.modal-dialog.login {
	position: absolute;
	top: 10px !important;
	left: 120px!important;
	transform: translate(0, -50%) !important;
	-ms-transform: translate(0, -50%) !important;
	-webkit-transform: translate(0, -50%) !important;
	margin: auto 5%;
	width: 90%;
	height: 80%;
}
.modal-content.login {
	min-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.modal-body.login {
	position: absolute;
	top: 209px;
	bottom: 45px;
	left: 0;
	right: 0;
	overflow: none;
}
.modal-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #ECF0F1;
	left: 10%;
	position: absolute;
	top: -10px;
}
.foo:focus {
	border-bottom: 2px solid #07c7f7;
	transition: border-color 500ms ease-in-out;
}
.rd {
	height: 50px;
	margin-top: 3%;
	margin-bottom: 3%;
}
.fade, login {
	opacity: 0.9!important;
}
li.add.a:focus {
	background-color: transparent!important;
}
li.add.a:hover {
	border-bottom: 1px solid #F60!important;
	background-color: transparent!important;
}
.add li.active {
	background-color: transparent!important;
	border-bottom: 3px solid #F60!important;
}
a.add {
	color: #fff!important;
	font-family: Tahoma!important;
	font-size: 16px!important;
}
a.wtp {
	color: #fff!important;
	font-family: Tahoma!important;
	font-size: 16px!important;
}
.nav-tabs.add {
	border-bottom: none!important;
	margin-left: 5%!important;
}
.nav.add > li > a {
	display: block;
	padding: 28px 26px;
	position: relative;
}
.nav.wtp > li > a {
	display: block;
	padding: 28px 26px;
	position: relative;
}
.nav-tabs.add > li > a:hover {
	border-bottom: 3px soloid #1a6f9e!important;
	bacground-color: #transparent!important;
}
.nav-tabs.add a:focus {
	background-color: transparent!important;
	border-bottom: 3px soloid #1a6f9e!important;
}
.nav-tabs.add > li.active a {
	border-bottom: 3px soloid #1a6f9e!important;
}
.nav-tabs.add > li.active > a, .nav-tabs.add > li.active > a:hover, .nav-tabs.add > li.active > a:focus {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: transparent!important;
	border: none!important;
	border-bottom: 3px soloid #1a6f9e!important;
	cursor: default;
}
.nav-tabs.add > li > a {
	border: none!important;
	border-radius: 0px!important;
	line-height: 1.42857;
	margin-right: 2px;
}
.nav-tabs.add > li > a:hover {
	background-color: transparent!important;
}
table.conect {
	font-family: Tahoma!important;
}
tr.lg_fnt {
	font-size: 16px;
}
tr.sel_row {
	background-color: #b7d2e2;
}
th.sel_pds {
	padding: 30px!important;
}
td.sel_pd {
	padding: 30px!important;
	color: #215973;
}
td.sel_pd_h {
	padding: 30px!important;
	color: #215973;
}
span.set_userside {
	font-family: Tahoma;
	font-size: 18px;
}
img.disp {
	display: inline;
	margin-right: 2%;
}
span.prep {
	font-family: Tahoma;
	color: #fff;
	font-size: 18px;
	padding-top: 3px;
}
span.operimg {
	top: -1%;
	position: absolute;
	left: 0px;
}
span.supimg {
	top: -1%; position: absolute; left: 10px;
}
span.instant {
	font-size: 12px!important;
	padding: 18px;
	color: #fff;
	
}

span.usernametxt{
	font-size:14px;color:#09f;
	}
#rt_seectionfrm{
	margin-top:4%;right:8%;background: url(../images/left_bg.png) no-repeat;min-height:430px;width:580px;
	
	}
.rt_sectionmenubg{
	background-color:#F90;padding:5px;box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); position:relative;width:580px;margin-left:-15px!important;
	}
.enhance{
	 margin-top:11%;margin-left:8%;
	}
.enhance2{
	margin-top:2%;margin-left:10%;
	}
.contact_txt{
			font-size:24px;color:#fff;
	}
img.emailimg{
		margin-left:20%;
	}
.contact_txt2{
	margin-right:10%;font-size:24px;
	}
table.brd-0{
		width:100%; border:0px!important;
	}
td.socimg{
		width:30%;
	}
td.socimgtxt{
	width:70%;
	
}

td.foot_logs{
		width:12%;
	}
#login_popimg{
	background: rgba(0, 0, 0, 0) url('../images/usermenubg.png') repeat scroll 0 0 !important;
    opacity:0.9;min-height:521px;min-width:461px;margin-top:3%;margin-left:5%;border-radius:5px!important;
	}
a.forgtxt{
	color:#c35f22;font-size:16px;
	}
span.crtactxt{
		color:#fff;
	}
a.clickacounttxt{
		text-decoration:none;font-size:14px;color:red;
	}
span.msg_weltxt{
	color:#137eba;font-size:30px;margin-top:50%;margin-left:20%;
	}
	span.msg_weltxt1{
	color:#137eba;font-size:30px;margin-top:50%;
	}
	span.msg_weltxt2{
	color:#f96106;font-size:30px;margin-top:50%;
	}
img.avaicon{
	display:block;margin-left:10%;margin-top:10%;
	}
.useremail{
	text-align:center!important;color:#fff;margin-top:-12%;
	}
td.menu_rupees{
	font-size:20px;color:#fff;
	}
a.admontxt{
		color:#fff;text-decoration:none;
	}
	a.admontxt:hover{
		color:#fff;text-decoration:underline;
	}
.insta_textbox.textboxadbrd{
	border-color:#000;color:#000!important;width:100%!important;
	}
.insta_textboxmod.textboxadbrdmod{
	border-color:#009;color:#000!important;
	width:60%!important;
	}
	
	.margin-l-20{
		margin-left:20px;
		}
		.margin-l-15{
		margin-left:15px;
		}
		.margin-l-40{
		margin-left:40px;
		}
		.margin-l-60{
		margin-left:60px;
		}
.margin-top-7{
		margin-top:7px;
	}
	.margin-top-8{
		margin-top:8px;
	}
.margin-top-60{
	margin-top:60px !important;
	}
	.margin-top-80{
	margin-top:80px !important;
	}
p.user_adtxt{
	line-height:30px;font-size:16px;font-family:Tahoma;color:#333;
	}
.insta_button.addmon_btn{
	width:44%!important;
	}
	.insta_button.addmon_btn1{
	width:140%!important;
	}
p.user_favtxt{
	color:#000;font-size:18px; font-family:Tahoma;
	}
	div.user_favtxt{
	color:#000;font-size:18px; font-family:Tahoma;
	}
	p.user_favtxt1{
	color:#000;font-size:18px; font-family:Tahoma;float:right;
	}
.fav_brd{
	border-bottom:2px solid #d6d6d6;padiing:5px;
                                "
	}
p.setthd{
	font-family:Tahoma;font-size:27px;
	}
.insta_textbox.primbrd{
	border-color:#ccc!important;color:#000!important; 
	}
	.insta_textbox.primbrd1{
	border-color:#009;color:#000!important;
	}
	
	.insta_dropdown.primbrdselect{
		border-color:#009;color:#000!important;
		}
		
.settings_prep{
	color:#000!important;font-family:Tahoma;font-size:16px;
	}
p.what_todo{
	text-align:center;color:#61605f;font-size:28px; font-family:Tahoma;
	}
p.bridg_todo{
	text-align:center;color:#5e5d5d;font-size:20px;font-family:Tahoma;
	}
.tab_containwt{
	min-height:165px;
	}
p.abt_hd{
		text-align:center;color:#61605f;font-size:28px;
	}
span.app_txt{
	color:#044b73;font-size:20px;
	}
span.inst{
	color:#137eba;font-size:20px;
	}
	span.serw{
	color:#f96106;font-size:20px;
	}
	span.inst1{
	color:#137eba;font-size:22px;
	}
	span.serw1{
	color:#f96106;font-size:22px;
	}
span.abt_tophd{
		color:#767676;font-size:16px;
		font-family:Tahoma;
	}
span.abt_topdw{
	color:#417694;font-size:16px;
	font-family:Tahoma;
	}
span.abt_com{
	color:#f96106;
	font-family:Tahoma;
	}
p.sec_par{
	color:#137eba;font-size:22px;
	font-family:Tahoma;
	}
span.abt_txtbs{
	color:#767676;
	font-family:Tahoma;
	}

.gradient-box{
    
    width: 244px;
    height: 47px;
    background-color:transparent;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(left top, #137eba 21%, #a86b45 58%,#f96106 79%);
    -webkit-border-image: -webkit-linear-gradient(left top, #137eba 21%, #a86b45 58%,#f96106 79%);
    border-image: linear-gradient(left top, #137eba 21%, #a86b45 58%,#f96106 79%);
    border-image-slice: 1;
 }
 .grd_txt{
	 font-size:22px; padding:5px;text-align:center;color:#f96106;font-family:Tahoma;"
	 }
span.discount{
	font-size:29px;color:#f96106;
	}
span.colon{
	font-size:29px;color:#137eba;
	}
span.rsttxt{
font-size:22px;color:#137eba;
}
.tab_containabt{
	min-height:400px;
	}
p.sup_txt{
	text-align:center;color:#61605f;font-size:24px;
	}
img.opc{
		opacity:0.5;
	}
p.reset{
	text-align:left;color:#61605f;font-size:28px;
	}
	
	.fxcoup{
		z-index:1000;
		}
	div.summary{
		width:13%!important;
		}
	p.sum_opr{
		font-size:14px;color:#fff;margin:0px;
		}
	p.sum_num{
		font-size:20px;color:#fff;margin:0px;
		}
	td.sum_num1{
		font-size:18px;color:#fff;margin:0px;
	}
a.viewdt{
	text-decoration:none;color:#039;
	}
span.check_num{
	color:#fff;font-size:20px;
	}
	span.check_opert{
	color:#fff;font-size:14px;
	}
.rup_val{
	width:60%!important;
	}
.txt_check{
	background-color:#137eba!important;color:#fff!important;height:40px;
	}
.btn_app{
	background-color:#a8a8a7!important;
	}
.check_ht{
		min-height:400px!important;
	}
.slider_leftbg{
	background-color:rgba(238,239,239,0.8);height:220px;border:1px solid #f2f2f2;padding:9px!important;
	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
	}
p.blan{
	color:#4a9bc8!important;
	}
label.checkdeb{
	color:#4a9bc8!important;
	}
.check_textbox{
		background-color:rgba(185,212,227,0.3);height:40px;color:#000!important;border:1px solid #fff!important;
		height:60px!important;border-radius:8px!important;
	}
	.check_textboxcvv{
		background-color:rgba(185,212,227,0.3);height:40px;color:#000!important;border:1px solid #fff!important;
		height:40px!important;border-radius:8px!important;
	}
.check_dropbg{
		background-color:rgba(185,212,227,0.3);height:40px;color:#000!important;border:1px solid #fff!important;height:40px!important;
		border-radius:8px!important;
	}
.lbltxt{
	color:#000!important;
	}