 @import url('https://fonts.googleapis.com/css?family=Roboto');
 body{
    font-family: 'Roboto', sans-serif;
    color:#4d5259;
    margin: 0;
    letter-spacing: .4px;
 }
 .col-xl-8,.col-lg-5,.col-xl-4,.col-lg-7,.col-md-6{
     float: left;
}
 .h-100 {
     height: 100%!important;
}
 .row{
     display:flex;
     min-height: 100vh !important;
}
@media (max-width:414px){
	.row {
    display: block;
    min-height: auto !important;
    }
}
.form-type-material.form-group, .form-type-material .form-group {
}
.login-box {
    padding-right: 80px !important;
    padding-left: 80px !important;
}
.login-box {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}
@media (min-width: 768px){
     .col-md-6 {
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;
    }
}
 
 @media (min-width: 992px){
     .col-lg-7 {
         -ms-flex: 0 0 58.333333%;
         flex: 0 0 58.333333%;
         max-width: 58.333333%;
    }
}
 
 @media (min-width: 1200px){
     .col-xl-8 {
         -ms-flex: 0 0 66.666667%;
         flex: 0 0 66.666667%;
         max-width: 66.666667%;
    }
}
 
 @media (min-width: 992px){
.col-lg-5 {
     -ms-flex: 0 0 41.666667%;
     flex: 0 0 41.666667%;
     max-width: 41.666667%;
}
}
@media (min-width: 1200px){
     .col-xl-4 {
         -ms-flex: 0 0 33.333333%;
         flex: 0 0 33.333333%;
         max-width: 33.333333%;
    }
}
.text-center{
    text-align: center;
}
.form-type-material.form-control, .form-type-material .form-control {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    outline-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #eaeaea;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.form-control {
    border-color: #ebebeb;
    border-radius: 2px;
    color: #8b95a5;
    padding: 5px 12px;
    font-size: 14px;
    line-height: inherit;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-type-material.form-group label:not(.custom-control):not(.switch), .form-type-material .form-group label:not(.custom-control):not(.switch) {
    position: absolute;
    left: 0;
    top: 5px;
    font-weight: 300;
    padding: 0;
    pointer-events: none;
    white-space: nowrap;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
label {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .5px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.btn-primary {
    background-color: #66c9d9;
    border-color: #66c9d9;
    color: #fff;
}
.btn-bold {
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}
.btn-block {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border-color: transparent;
    border-radius: 2px !important;
    letter-spacing: 1px;
}
.fs-13 {
    font-size: 13px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.text-muted {
    color: #868e96 !important;
}

a.text-primary {
    color: #66c9d9;
    text-decoration: none;
}

.bg-img {
    background-size: 100%;
    position: relative;
    background-position: center;
    background-color: #cfefd2;
}
.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}
.w-30px {
    width: 0px !important;
}
hr {
    border-top-color: rgba(77,82,89,0.07);
    margin: 2rem auto;
}
hr {
    margin-top: 1rem;
    margin-bottom: 4.5rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.bharti-logo{
position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.bg-img:before {
    content: "";
    position: absolute;
    background: linear-gradient(to top,black ,transparent);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.login-box h4 {font-size: 1.2em;}


a#forgot {
    float: right;
    color: #4d5259 !important;
    text-decoration: none;
}
@-webkit-keyframes autofill {
    to {
        color: #333;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}



.signuptextfieldsml{
	width:200%;
	font-size: 0.95em;
}
td.captcha-class {
    width: 60%;
}



input#Btnaccescd {
    background: url(../image/refreshicon.png) center no-repeat;
    box-shadow: 0 0 0 transparent;
    padding: 0 1rem;
    border-bottom: 0;
    margin-left: -1rem;
    margin-right: -1rem;
}

input#captchaCode {
    background: url(../image/captchabg.jpg);
    font-weight: bold;
    text-align: center;
    border: 0;
    width: 56%;
    padding: 0.5rem 1rem;
    float: left;
}

.login-box input {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    padding-left: 0;
    margin-bottom: 1rem;
    outline-color:transparent;
}

.login-box input::placeholder {
    font-size: 0.85em;
}

.login-box a {
    font-size: 0.9em;
}

.login-box input#captcha {
    width: 80%;
    float: left;
}

.login-box input#login_submit {
    margin-top: 0.5rem;
}
img.login-logo {
    margin: 1rem;
}

div#register {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

div#register h4 {
    margin-bottom: 0.5rem;
}

div#register select {
    margin-bottom: 1rem;
    color: #7e7e7e;
    font-size: 0.9em;
}

#register input {
    padding-left: 0.3rem;
}

div#register input#captcha {
    padding: 0.7rem 1rem;
    padding-left: 0.4rem;
}

#register input#Btnaccescd {
    float: left;
}

#register input::placeholder {
    font-size: 0.85em;
}

#register input#formname__submit {
    margin-top: 0.5rem;
}
.login-box .errorMessage,.login-box .rederror {
    color: red;
    font-size: 0.9em;
}

div#reset #emailId {
    padding: 0.5rem;
    width: 93%;
    padding-left: 0.3rem;
  /*   margin-bottom: 2rem; */
}

#reset input#captcha {
    width: 90%;
    padding: 0.5rem;
    padding-left: 0.3rem;
}

#reset input#submit {
    margin-top: 1rem;
}

span.signupboxtext {
    font-size: 0.9em;
}

#reset a {
    color: #66cad9;
    text-decoration: none;
}

.login-box input::placeholder {
    font-family: 'Roboto',sans-serif !important; 
}
#register span[data-dir="right"] {
    left: 53% !important;
}
* {
	outline:none;
}




@media only screen and (max-width: 500px) {
    .bg-img {
     width: 100% !important;
    float: none !important;
    background-repeat: no-repeat !important;
        min-height: 12rem;
    }
    .row {
    display: block;
    min-height: auto !important;
}
img.login-logo {
    width: 25%;
}

.login-box{
	padding-top:0rem !important;
}
}


.diwali-image{
    position: absolute;
    top: 31%;
    left: 25%;
    width:100%;
    height: 285px;
}