@font-face {
  font-family: 'bhartipay-wallet';
  src:  url('../fonts/bhartipay-wallet.eot?wd3d64');
  src:  url('../fonts/bhartipay-wallet.eot?wd3d64#iefix') format('embedded-opentype'),
    url('../fonts/bhartipay-wallet.ttf?wd3d64') format('truetype'),
    url('../fonts/bhartipay-wallet.woff?wd3d64') format('woff'),
    url('../fonts/bhartipay-wallet.svg?wd3d64#bhartipay-wallet') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="oxy-icon-"], [class*=" oxy-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bhartipay-wallet' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oxy-icon-send:before {
  content: "\61";
  color: #f36e24;
}
.oxy-icon-down-arrow:before {
  content: "\62";
  color: #f36e24;
}
.oxy-icon-back:before {
	
  content: "\63";
  color: #f36e24;
}
.oxy-icon-next:before {
  content: "\64";
  color: #f36e24;
}
.oxy-icon-android:before {
  content: "\65";
  color: #f36e24;
}
.oxy-icon-apple:before {
  content: "\66";
  color: #f36e24;
}
.oxy-icon-google_plus:before {
  content: "\67";
  color: #f36e24;
}
.oxy-icon-facebook:before {
  content: "\68";
  color: #f36e24;
}
.oxy-icon-twitter:before {
  content: "\69";
  color: #f36e24;
}
.oxy-icon-linkedin:before {
  content: "\6a";
  color: #f36e24;
}
.oxy-icon-datacard:before {
  content: "\6b";
  color: #f36e24;
}
.oxy-icon-insurance2:before {
  content: "\6c";
  color: #f36e25;
}
.oxy-icon-logout:before {
  content: "\6d";
  color: #f36e24;
}
.oxy-icon-left-arrow .path1:before {
  content: "\6e";
  color: rgb(243, 110, 36);
}
.oxy-icon-left-arrow .path2:before {
  content: "\6f";
  margin-left: -1em;
  color: rgb(243, 110, 36);
}
.oxy-icon-left-arrow .path3:before {
  content: "\70";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.oxy-icon-left-arrow .path4:before {
  content: "\71";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.oxy-icon-right-arrow .path1:before {
  content: "\72";
  color: rgb(243, 110, 36);
}
.oxy-icon-right-arrow .path2:before {
  content: "\73";
  margin-left: -1em;
  color: rgb(243, 110, 36);
}
.oxy-icon-right-arrow .path3:before {
  content: "\74";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.oxy-icon-right-arrow .path4:before {
  content: "\75";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.oxy-icon-shop:before {
  content: "\76";
  color: #f36e24;
}
.oxy-icon-percentage:before {
  content: "\77";
  color: #f37633;
}
.oxy-icon-gas:before {
  content: "\78";
  color: #f36d25;
}
.oxy-icon-landline:before {
  content: "\79";
  color: #f36d25;
}
.oxy-icon-electricity:before {
  content: "\7a";
  color: #f36d26;
}
.oxy-icon-satellite-dish:before {
  content: "\7b";
  color: #f36d25;
}
.oxy-icon-iphone:before {
  content: "\7c";
  color: #f36d25;
}



body{
font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	color:#5f5e5e;
	
}

header{
	
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.form-wrapper{
	    margin: 37px 0 0 0;
    background: #fff;
    border-radius: 5px;
    float:left;
    width:100%;
    min-height:280px;
    border: 1px solid #e6e5e5;
    padding: 10px 32px 30px;
    webkit-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
-moz-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
box-shadow: 0px 0px 23px -2px rgba(179,179,179,1); 
}
.form-heading{
	    margin: 22px 0px 20px;	   
	color: #5f5e5e;
    font-weight: 400;
    font-size:14px;
}
.radio-wrapper{
	    float: left;
    width: 115px;
    margin: 0 0 15px 0;
    
}
.radio-wrapper label{
	    color: #000;
    font-weight: 300;
    font-size:14px;
}
.radio-wrapper input[type="radio"]{
	margin: 0 10px 0 0;
    line-height: 10px;
    position: relative;
    top: 2px;
}
.half-width {
	width: calc(50% - 20px);
}
.innderHeader{
	-moz-box-shadow: 0px 1px 5px 3px #e0e0e0; 
	-webkit-box-shadow: 0px 1px 5px 3px #e0e0e0; 
	    box-shadow: 0px 1px 5px 3px #e0e0e0;
    padding: 9px 35px;
    width:100%;
    background: #fff;
    float: left;
}
.topheader ul li a{
	color:#ff6e26;
	    font-weight: 400;
	
}
.orangeText{
	color:#ff6e26;
}
.offerTicker{
	 border: 1px solid #ccc;
    font-size: 16px;
    padding: 17px;
    width: 77%;
    margin: 20px auto 0;
    
	
}
.offerLabel{
	    display: inline;
    border-right: 1px solid #ccc;
    padding: 20px 30px 20px 10px;
}
.world{
	background: url(../images/map.png) no-repeat;
       height: 433px;
    width: 100%;
    margin: 34px 0 60px 0;
}
.world .oxyLogo{

    background: url(../images/logo116x50.png) no-repeat center center/138px;
    height: 130px;
    width: 143px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.world  .ring{
	
	background: url(../images/three-ring.png) no-repeat;
	    
        height: 393px;
    width: 393px;
    margin: auto;
    text-align:center;
    position:relative;
}
.topheader ul li a{
	    border-right: 1px solid #ff6e26;
    padding-right: 12px;
}
.topheader ul li:last-child a{
	    border-right:none;
    padding-right: 12px;
}
.errorMsg {
  
    color: red;}
.primary-btn.submit-form{ background:#ff6e26;   color: #fff;
    border: none;
    padding: 16px;
    margin: 26px 0 0 0}
#popupLogin .modal-dialog{width:370px}
#popupLogin .list-inline{    margin-bottom: 30px;}
#popupLogin .modal-body .list-inline a {text-transform: uppercase; margin: 0 15px 0 0;font-size: 13px;}
#popupLogin .modal-body .list-inline a:hover, #popupLogin .modal-body .list-inline a:current, #popupLogin .modal-body .list-inline a:active{text-decoration: none}
#popupLogin .modal-body .list-inline .active a{      color: #ff6e26;
    border-bottom: 2px solid;
    padding: 10px 0px 10px 0;
   }
   .editInp{display:none;     padding: 6px 5px;
    border: 1px solid #c2c2c2;
    width: 100%;
}
#popupLogin .modal-body{    padding: 30px;}
#popupLogin .modal-dialog input[type="text"], #popupLogin .modal-dialog input[type="password"], #popupLogin .modal-dialog input[type="email"], #popupLogin .modal-dialog select {
	      width: 100%;
    padding: 14px;
    border: 1px solid #f2f2f2;
    margin: 14px 0 0px 0;
    font-size: 13px;
}

.leftCol  li a {position:relative;}
.leftCol  li.active a .rightBorder{
	background: #ff6e26;
    padding: 8px 1.5px;
    margin: 0px!important;
    top: 13px;
    right: 0px;
    position: absolute;
}
.topheader{
	    width: 100%;
    padding: 8px 35px 0;
    background: #fff;
    float: left;
    font-size: 12px;
    height: 30px;
}.modal-backdrop{
	    background-color: #000;
    bottom: 0;
    z-index: 111;
}
.leftCol{
position: fixed;
    position: fixed;
    left: 0px;
    top: 101px;
    padding: 0px 0 20px 0;
    width: 260px;
    overflow: auto;
    bottom: 0px;;
   
}
body{
	background:#fff
}
.rightCol{
	float: left;
  /*   background:url('../images/right_colbg.png') #fff; */
    width: calc(100% - 260px);
    margin-left: 268px;
    
    top: 25px;
    margin: 88px 0 0 259px;
    min-height: 900px;
    padding: 28px;
}
.oxyLogo{
	width:122px;
	
	
}
.leftSection, .rightSection{
	float:left;
	width:50%
}
.address .rightSection{
  
    background: #fafafa;
    height: 165px;
    width: 100%;
    margin: 68px 0 0;
}
.rightSecItem{
    background: url(../images/envelope.png) no-repeat;
    text-align: left;
    line-height: 7px;
    color: #f36e24;
    padding: 74px 0 0 0;
    margin: 31px auto;
    width: 234px;
	
}
.socialNetwork{
		    background: #283754;
    float: left;
    width: 100%;
}

.socialNetwork ul.navLinks li{
	float:left;
	text-decoration: none;
	list-style-type: none;
}
.socialNetwork ul.navLinks li a{
color: #fff;
    padding: 13px;
    float: left;
    font-size: 12px;
}
.footNote a {font-size:11px; padding:0px 4px; border-right: 1px solid #ccc!important; color: #ccc!important}
.socialNetworkIcon {margin: -2px 35px 0 0;}

.socialNetworkIcon li{
	float:right;

    padding: 0px 10px;
    list-style-type: none;
}

.socialNetworkIcon li span:before{color:#fff;    font-size: 26px;}
.addressContent{
	    color: #fff;
    margin: 51px;
    border: 2px dashed;
    padding: 30px;
}
.leftSection{
	background:#f36e24
}
.leftSection .addressContent{
	background:#f36e24;
	    color: #fff;
    margin: 51px;
    border: 2px dashed;
    padding: 30px;
	
}
.leftCol ul {
	

    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.leftCol ul li a{
	padding: 12px 0 12px 43px;
    display: block;
    color: #5f5e5e;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #e0dfde;
}

.oxyForm input[type="text"], .oxyForm input[type="password"], select{
	    border: none;
    background: transparent;
    border-bottom: 1px solid #eae9ea!important;
    padding: 9px 0;
        margin: 0 0 7px 0;
    width: 100%;
    text-indent: 7px;
	border:none;
	font-size: 13px;
}
.oxyForm .errorMsg{color: red;
       color: red;
    position: absolute;
    top: 39px;
    font-size: 11px;
    left: 10px;
  
    }
    .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    bottom: 0px;
}
.btn-default, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: #ff6e26 !important;
}
.oxySubmitBtn:hover{color:#fff}
.oxySubmitBtn{    background: #ff6e26;
    border: 1px solid #ff6d25;
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 10px;
    margin:20px 0 0 0;
    border-radius: 5px;
    position: relative;
    top: -2px;}
.oxyForm input[type="text"]{
	padding:9px 4px;
}
.oxyForm input[type="text"]:focus{
	outline:none;
}
.slider-container{
	    border: 1px solid #e6e5e5;
    padding: 10px;
    margin: 36px 0 0 0;
        webkit-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
-moz-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
box-shadow: 0px 0px 23px -2px rgba(179,179,179,1); 
background:#fff;
border-radius:5px;
}
.contentContainer{
	    position: relative;
    z-index: 0;
}
.walletBal{
	    border: 1px solid #e6e5e5;
      padding: 23px;
    font-size: 16px;
    text-align: center;
    margin: 17px 0 0 0;
    background: #fff;
        webkit-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
-moz-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
box-shadow: 0px 0px 23px -2px rgba(179,179,179,1); 
    border-radius: 5px;
    
}
.feature-block{
	background: #f36e24;;
    color: #fff;
    text-align: center;
    position:relative;
    padding: 15px;
    margin: 30px;
    height: 189px;
}
.big-icon {
position: absolute;
    width: 123px;
    height: 123px;
    top: -62px;
    left: -31px;
}
.big-icon.inter{
	background:url('../images/integration.png') no-repeat;
}

.big-icon.secure{
	background:url('../images/securefast.png') no-repeat;
}
.big-icon.affor{
	background:url('../images/affordable.png') no-repeat;
}
 .feature-block h2{
   font-size: 25px;
    margin: 47px 0 0 0;
    font-weight: 300;
 }
 .feature{
 	margin:50px 0 0 0
 
 } 
 .leftCol ul li a span{
 	font-size: 22px;
    float: right;
    margin: 0 30px 0 0;
    color: white;
 }
.oxyLinkBtn{
	
	    background: #ff6e26;
    color: #fff!important;
    padding: 10px;
    margin: 0 0 0 51px;
    text-decoration: none!important;
    border-radius: 4px;
    font-size: 14px;
	
}
.oxyForm .form-group, .oxyForm .half-width {position:relative}
.oxyForm .errorMsg.customSelectErr{
	top:46px
}
.oxyForm .dd .ddTitle{
	border: none;
	border-bottom: 1px solid #eae9ea!important;
	    float: left;
    margin: 0 0 6px 0;
}
.oxyForm .dd .ddTitle:hover, .oxyForm .dd .ddTitle:current, .oxyForm .dd .ddTitle:visited{
	outline:none
}
.oxyForm .ddcommon .divider{display:none}
.oxyForm .ddcommon{
	width:100%!important
}
.dropdown.oxyHeaderDropdown .dropdown-menu{
  left: inherit;
    font-size: 12px;
    font-weight: 300;
    right: 0px;
    max-width: 234px;

	
}
.oxyForm label{
    font-size: 12px;
    padding: 0 13px;
	font-weight: 400;
}
.oxyForm{font-size:13px;}
.oxyForm .form-group {
    margin-bottom: 5px;
}
.oxyForm .rechargeTypeRadio {position: relative;
    top: 3px;}
.topheader .dropdown.oxyHeaderDropdown ul.dropdown-menu li a{
   padding: 15px 16px;
    color: #5f5e5e;
    font-weight: 400;
    border-bottom: 1px solid #cacaca;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#IfscTable th, #IfscTable td{
	    font-size: 11px;
}
#ifscCodePopup .oxySubmitBtn{
	    margin: 0px 0 0 0;
}
#ifscCodePopup .oxyForm{
	font-size: 11px;
}
.marginTop20{margin:20px 0 0 0}
.dataTables_filter{float:right}
.green-btn{
	    padding: 7px 14px;
    background: #05ab0a;
    border: #68bb68 1px solid;
}
.oxyHeading{
	padding: 0 0 12px 0;
    margin: -2px 0 8px 0;
    
}
.twoFields .oxySubmitBtn{
	margin:0px 0px 0px 0px;
	
}
#transactionHistory  tr.odd td.sorting_1, #transactionHistory  tr.even td.sorting_1 {
     background-color: #fff;
}

 table.dataTable#transactionHistory tbody th,  table.dataTable#transactionHistory tbody td {
    color: #000;
    font-size: 13px;
    overflow-wrap: break-word;
    padding: 16px 18px;
}

#transactionHistory tr.odd {
    background-color: #fff;
}
.txtFailed{
	color: red;
    border: 1px solid;
    padding: 4px 24px;
    border-radius: 6px;
    width: 41px;
}

.txtFailed{
	color: red;
    border: 1px solid;
    padding: 4px 24px;
    border-radius: 7px;
    width: 41px;
}
.txtSuccess{
	color:green;
	    border: 1px solid;
    padding: 4px 15px;
    border-radius: 7px;
}
.txtPending{
	color:yellow;
	    border: 1px solid;
    padding: 4px 15px;
    border-radius: 7px;
}
#transactionHistory_wrapper .dt-buttons{display:none}
.dataTables_wrapper {
    margin: 14px 0 0 0;
    background: #fff;
    border-radius: 5px;
    float: left;
    width: 100%;
    min-height: 280px;
    border: 1px solid #e6e5e5;
    padding: 10px 32px 30px;
    webkit-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
    box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
}
.walletBal .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 13px;
}
  .oxyHeading span{     border-bottom: 2px solid;
    padding: 0 0 10px 0;
    font-size: 18px;
    margin: 0px 15px;}
.userImg {text-align:center;}
.userImg img{
    width: 140PX;
    height: 140PX;
    border-radius: 50%;
    border: 9px solid #f9f9f9;
    webkit-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
    box-shadow: 0px 0px 23px -2px rgba(179,179,179,1);
}

 .oxyPopup .modal-header{    min-height: 16.43px;
    padding: 19px 29px;
    border-bottom: 1px solid #e5e5e5;
    background: #ff6e26;
    color: #fff;}   
  .oxyPopup    .modal-header .close{
      margin-top: -6px;
    color: #fff;
    font-size: 33px;
  
  }
.oxyPopup h3.confirmationHeading { font-size: 16px;
    color: #000;
    position: relative;
    margin-top: 3px;
    margin-bottom: 15px;}
    
 .oxyPopup  .table-bordered {
    border: 1px solid #fff;
}
.oxyPopup .table-bordered th{
	border-bottom:1px solid #ddd!important;
	
}
.oxyPopup  .modal-footer{background:#fff}
.oxyPopup .table-bordered>tbody>tr>td, .oxyPopup .table-bordered>tbody>tr>th, .oxyPopup .table-bordered>tfoot>tr>td, .oxyPopup .table-bordered>tfoot>tr>th, .oxyPopup .table-bordered>thead>tr>td, .oxyPopup .table-bordered>thead>tr>th {
    border: 1px solid #fff;
        font-size: 14px;
}
 .marginTopBottom5{
     min-height: 32px;
 margin:5px
 }
 .policyContainer{
 padding:20px; 
 font-size:14px;
 }
 #policyContent{
     padding: 25px 0;
     min-height:400px
 }
 .oxyForm .dd .ddChild{top:0px!important}
 .policyContainer h2{margin-top:0px}
 .cfaqList li{margin:10px 0}
  .userAccountTile{
     padding: 10px 15px 35px 15px;
    min-height: initial;
 }
 .fieldRow{
       float: left;
    width: 100%;
    margin: 7px 0;
 }
 .oxyForm  .fieldRow input[type="text"] {
   padding: 9px 4px;
    margin: -10px 0 0 0;
    position: relative;
    top: 0px;
}
