.newRechargeUi .payplutus_formshadow{
	    background: #fff;
    border: 1px solid #756c6c;
    border-radius: 0px;
    width: 100%;
 	padding-bottom:20px;
    min-height: auto;
    
}
.newRechargeUi .payplutus_tab{padding: 4px 0px;}
.newRechargeUi{    
	/* margin-left: calc(50% - 425px); */
	position:relative;
	}
.newRechargeUi .payplutus_mt10{   
	/* margin-left: 52px; */
	}
.newRechargeUi .submit-form{
	width: 100%;
    /* color: #fff;
    background: #ff6e26; */
    /* padding: 17px; */
    padding: 7px;
    /* border: 1px solid #ff6e26; */
    }
.newRechargeUi  .payplutus_textbox, .newRechargeUi .payplutus_dropdown{box-shadow: none;
    height: 46px;
    border-radius: 0px;
    font-size: 15px;
    line-height: 15px;border-top-width:1px;}
    
.newRechargeUi .payplutus_tab_active, .newRechargeUi .payplutus_tab_active:hover{
	
	    background-color: #ff6e26;
   
    background: #ff6e26;

    padding:4px 0px;
    line-height: 35px;
    border-radius: 0px;
    color: #fff;
    
    border-radius: 0 0 5px 5px;
}
.aquamarine .newRechargeUi .payplutus_tab_active, .aquamarine .newRechargeUi .payplutus_tab_active:hover{
	    background: #378987;
	
}
.aquamarine .newRechargeUi .payplutus_formshadow{border: 1px solid #378987}
.aquamarine .col-7-width{    border-right: 1px solid #378987;
    border-bottom: 1px solid #378987;}
    .newRechargeUi .submit-form{ 
   /*  background: #378987;
    border: 1px solid #378987; */
    }
    
    .aquamarine .newRechargeUi .payplutus_tab_active, .aquamarine .newRechargeUi .payplutus_tab_active:hover{
	    background: #378987;
	
}
.aquamarine .newRechargeUi .submit-form{ background: #378987;border: 1px solid #378987;}

.dark-blue .newRechargeUi .payplutus_tab_active, .dark-blue .newRechargeUi .payplutus_tab_active:hover{
	    background: #2d465e;
	
}
.dark-blue .newRechargeUi .payplutus_formshadow{border: 1px solid #2d465e}
.dark-blue .col-7-width{    border-right: 1px solid #2d465e;border-bottom: 1px solid #2d465e;}
.dark-blue .newRechargeUi .submit-form{ background: #2d465e;border: 1px solid #2d465e;}
.newRechargeUi .submit-form{ 
	/* background: #ff6e26;
	border: 1px solid #ff6e26; */
	}
.newRechargeUi .payplutus_tab_active  a:hover, .newRechargeUi .payplutus_tab_active  a, .newRechargeUi .payplutus_tab_active  a:focus {
    color: #111;
    font-weight: bold;
}
.newRechargeUi  input[type=radio], .newRechargeUi  input[type=checkbox]{    position: relative;
   
    top: 2px;}
 .newRechargeUi   .r-tab-content{    padding: 20px 0 0 0;}
.newRechargeUi label.tab{    padding: 0 15px;color:#000}



.newRechargeUi.payplutus_button {

  
    background-color: #ff6e26;
    
    background: #ff6e26;
  

    border: 1px solid #ff6e26;
    outline: 0;
    color: #fff;
    padding: 14px;
    font-weight: normal;
    width: 100%;}
    .newRechargeUi   .errorMsg {
    background: transparent;
    position: relative;
    border-radius: 5px;
    left: 0;
    top: 0px;
    padding: 10px 20px;
    color: red;
    top: 0;
    font-size: 12px;
    left: 0px;
    z-index: 222222222;
    margin-left: 0px;
    display: none;
    padding: 7px 0px 10px;
    overflow: visible!important;
    text-align: left;
    margin: auto;
    float: left;
    width: 100%;}
    .newRechargeUi  .errorMsg:before{display:none}
    .newRechargeUi .errorMsg {
    background: transparent;
    position: relative;
    border-radius: 5px;
    left: 0;
    top: 0px;
    padding: 10px 20px;
    color: red;
    top: 0;
    font-size: 12px;
    left: 0px;
    z-index: 0;
    margin-left: 0px;
    display: none;
    padding: 7px 0px 10px;
    overflow: visible!important;
    text-align: left;
    margin: auto;
    float: left;
    width: 100%;
}
@media ( max-width :768px) {
	.newRechargeUi {
      margin-left: 0px;
}
.col-7-width {
    width: 25%!important
    }
    .col-7-width:last-child {
    width: 50%!important
    }
    .payplutus_mt10 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.payplutus_textbox {
    width: 100%;}
 .col-7-width   .tab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;}
     .col-7-width   .tab:hover  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;}
    .newRechargeUi .payplutus_mt10 {
    margin-left: 20px;
      margin-right: 20px;
}

.newRechargeUi .payplutus_textbox {
    width: 100%;}
    .newRechargeUi .submit-form{width:100%}
 .newRechargeUi  .ddcommon{width: 100%!important;}
.newRechargeUi .payplutus_formshadow {

    max-width: 850px;
    width: 100%;
}
}