@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	background-color:#FFFFFF;
	min-width:780px;
	color:#000000;
	margin-top:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
p{
font: 12px Arial, Helvetica, sans-serif;
color:#000000;
}

#outer-box{
border:#6F6F6F solid 1px;
margin:auto;
width:90%;
}
#header-bar
{
width:95%;
height:68px;
margin:auto
}
#header-left
{
width:236px;
height:31px;
float:left;
margin-top:20px;
}
#header-right
{
float:right;
width:277px;
height:37px;
margin-top:20px;
}
#link-bg
{
width:99%;
height:53px;
background:url(images/link-bg.jpg) repeat-x;
}
#link-bar{
height:25px;
font: bold 11px Arial, Helvetica, sans-serif;
color:#6E6E6E;
padding-top:15px;
float:left;
margin-left:1%;
}
#airtel-box{
width:76px;
height:54px;
float:right;
margin-right:3%;
}
.link-txt{
font: bold 11px Arial, Helvetica, sans-serif;
color:#6E6E6E;
text-decoration:none;
}
a:hover{
color:#6E6E6E
}
#bar
{
width:95%;
height:25px;
margin:auto;
}
.hd{
font:bold 13px Arial, Helvetica, sans-serif;
color:#5391B4;
}
.hd1{
font:bold 12px Arial, Helvetica, sans-serif;
color:#1F1F1F;
}
#col1
{
width:20%;
height:25px;
float:left;
}
.field{
width:50%;
height:19px;
border:#A8C8EF solid 1px;
font:11px Arial, Helvetica, sans-serif;
}
#table-border{
width:90%;
border-bottom:#A8C8EF solid 1px;
border-left:#A8C8EF solid 1px;
border-right:#A8C8EF solid 1px;
margin:auto;
}
#table-header{
background:url(images/table-top-bg.jpg) repeat-x;
height:27px;
width:90%;
margin:auto;
}
#table-top-left
{
width:20px;
height:27px;
float:left;
}
#table-top-right
{
width:20px;
height:27px;
float:right;
    
}
#table-top-middle
{
width:50%;
height:20px;
float:left;
padding-top:5px;
}

#table-row
{
width:100%;
height:28px;
}
#table-col2{
width:28%;
height:28px;
float:left;
}
#table-col3{
width:22%;
height:28px;
float:left;
}
#table-col1
{
width:30%;
height:28px;
float:left;
}
#spacer{
width:95%;
height:15px;
margin:auto;
}
#table-bottom
{
background:url(images/bottom-bg.jpg) repeat-x;
width:100%;
height:87px;
background-position:bottom;
background-color:#ffffff;
}
#footer{
width:90%;
height:20px;
font:10px Arial, Helvetica, sans-serif;
color:#000000;
text-align:right;
margin:auto;
margin-top:5px;
}

#small-top
{
background:url(images/login-top.jpg) no-repeat;
width:500px;
height:27px;
margin:auto;
}
#small-table
{
width:498px;
border-bottom:#A8C8EF solid 1px;
border-left:#A8C8EF solid 1px;
border-right:#A8C8EF solid 1px;
margin:auto;
}
#small-bar{
width:500px;
height:28px;
float:left;
}
#small-col1
{
width:200px;
height:28px;
float:left;
}
#small-bar1
{
width:500px;
height:50px;
}
.red-text{
font:11px Arial, Helvetica, sans-serif;
color:#6E6E6E;
}
#grid-row{
width:90%;
height:170px;
margin:auto;
}

#navigation {
	list-style-type: none;
	height: 24px;
	border-top: 0;
}

#navigation .menu_divider{
	background-color: #E1E1E1;
	height: 1px;
	width: 103px;
	margin-left: 10px;
	overflow: hidden;
}

#navigation li {
	height: 22px;
	line-height: 22px;
	font-size: 11px;
	font:Arial, Helvetica, sans-serif;
	color:#6E6E6E;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	position: relative;
}
#navigation li a {
	display: block;
	float: left;
	color: #6E6E6E;
	text-decoration: none;
	padding: 0 10px;
	font-size: 12px;
	color:#6E6E6E;
	font-family: "Courier New", Courier, monospace;
        text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}
#navigation li a:hover {
	color:#6E6E6E;
}
#navigation li.selected a {
	color: #6E6E6E;
}

#navigation li ul {
	list-style-type: none;
	width: 123px;
	position: absolute;
	background-color: #E9E9E9;
	height: auto;
	top: 22px;
	left: -1px;
	border: 1px solid #CACACA;
	border-top: 0;
	display: none;
	padding: 2px 0;
	overflow: hidden;
}
#navigation li.selected ul {
	display: block;
}
#navigation li ul li {
	width: auto;
	float: left;
	font-size: 11px;
	width: 123px;
	font-weight: normal;
}
#navigation li ul li a, #navigation li.selected ul li a {
	display: block;
	padding: 0 9px;
	color: #6E6E6E;
	background: #F5F5F5;
	float: none;
	border-left: 1px solid #fff;
}
#navigation li ul li a:hover, #navigation li.selected ul li a:hover {
	background-color: #5DFF1FF;
	color: #6E6E6E;
	border-left: 1px solid #84BBD9;
	border-right: 1px solid #84BBD9;
}

.readonlyInput
{
    background:none;
    border:none;
    font-weight:bold;
}