@charset "utf-8";
/* CSS Document */
@media (device-min-width: 320px){
header{ 	
	height:60px; 
	margin:0px; 
	background-image:url(../images/banner/top-header.png); 
	background-repeat:repeat; 
	border-bottom:0px solid #5bce80;
}
.header-logo{	
	height:auto;
	float:left;
	margin-left:0%;
	margin-right:0%;
	margin-top:2%;
}
.logo_text{
	font-family:"Bauhaus 93";
	font-size:25px;
	font-style:normal;
	font-weight: normal;
	color:#FFFFFF;
	text-align:left;
	text-transform:uppercase;
	vertical-align:middle;
	margin-top:6%;
  	float: left;
	text-shadow:0 2px 4px #837D7D;
}  
}

header{ 	
	height:80px; 
	margin:0px; 
	background-image:url(../images/banner/top-header.png); 
	background-repeat:repeat; 
	border-bottom:0px solid #5bce80;
}
.header-logo{	
	height:auto;
	float:left;
	margin-left:0%;
	margin-right:0%;
	margin-top:2%;
}
.logo_text{
	font-family:"Bauhaus 93";
	font-size:28px;
	font-style:normal;
	font-weight: normal;
	color:#FFFFFF;
	text-align:left;
	text-transform:uppercase;
	vertical-align:middle;
	margin-top:8%;
  	float: left;
	text-shadow:0 2px 4px #837D7D;
}
.content{	
	height:840px;
	margin:0px;
	background-image:url(../images/banner/banner-center-2.jpg);
	background-repeat:repeat;
}
.menu-top{ 
	height:100px;
}
.menu-top-first{ 
	height:98px;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS"; 
	font-size:16px; 
	font-style:normal; 
	font-weight:normal; 
	text-align:center; 
	text-decoration:none; 
	text-transform:uppercase; 
	color:#FFF; 
	margin-top:0.2%;
}
.first-active{
	border-bottom:0px solid rgba(91, 206, 128, 1);
}
.menu-top-second{
	height:98px;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	color:#FFF;
	margin-top:0.2%;
}
.menu-top-last{
	height:98px; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS"; 
	font-size:16px; 
	font-style:normal; 
	font-weight:normal; 
	text-align:center; 
	text-decoration:none; 
	text-transform:uppercase; 
	color:#FFF; 
	margin-top:0.2%;
}
.service_menu{
	padding:10px;
	border-radius:50%;
	border:5px solid #FFFFFF;
	background-color:#0015FF;
	
}
service_menu:hover{
	padding:10px;
	border-radius:50%;
	border:5px solid #FFFFFF;
	background-color:#0015FF;
	-webkit-backface-visibility: hidden;
            transition: -webkit-transform @transition-length;
            transition: -ms-transform @transition-length;
            transition: transform @transition-length;}

#halfclip {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
   overflow: hidden;
   transform-origin: left center;
   animation: cliprotate 16s steps(2) infinite;
   -webkit-animation: cliprotate 16s steps(2) infinite;
}

.halfcircle {
  box-sizing: border-box;
  height: 100%;
  right: 0px;
  position: absolute;
  border: solid 25px transparent;
   border-top-color: blue;
   border-left-color: blue;
   border-radius: 50%;
}
#clipped {
  width: 200%;
   animation: rotate 8s linear infinite;
   -webkit-animation: rotate 8s linear infinite;
}
#fixed {
  width: 100%;
    transform: rotate(135deg);  
   animation: showfixed 16s steps(2) infinite;
   -webkit-animation: showfixed 16s linear infinite;
}

@-webkit-keyframes cliprotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes cliprotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


@-webkit-keyframes rotate {
  0% {transform: rotate(-45deg);}
  100% {transform: rotate(135deg);}
}

@keyframes rotate {
  0% {transform: rotate(-45deg);}
  100% {transform: rotate(135deg);}
}

@-webkit-keyframes showfixed {
  0% {opacity: 0;}
  49.9% {opacity: 0;}
  50% {opacity: 1;}
 100% {opacity: 1;}
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0px 30px;
}/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	font-style: italic;
	margin: 0px 4px;
	padding: 0px 6px;
	color: #aaa;
	line-height: 20px;	
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #fff;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.codrops-demos a:hover{
	color: #333;
	background: #fff;
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f0f0f0;
	border-color: #d9d9d9;
	color: #aaa;
	box-shadow: 0 1px 1px rgba(255,255,255,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}
.ch-item {
	width: 90%;
	height: 90%;
	border-radius: 50%;
	position: relative;
	
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	border-radius:50%;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.49), inset 0 0 3px rgba(255, 255, 255, 0.49);
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}
.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.ch-info .ch-info-back {
	opacity: 0;
	background: #1FBBFC;
	pointer-events: none;	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
	width:100%;
	height:100%;
	border-radius:50%;
}
.ch-img-1 { 
	background-image:url(../images/44.png); background-repeat:no-repeat;
	width:100%;
	height: auto;
}

.ch-img-2 { 
	background-image: url(../images/34.png);background-repeat:no-repeat;
	width:100%;
	height: auto;
}

.ch-img-3 { 
	background-image: url(../images/23.png);
	width:50%;
	height: auto;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: auto;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}
.mplutus-step1{ 
	float: right; 
	margin-left:0%; 
	margin-top:87%; 
	width:73%;
}
.mplutus-step1-right{ 
	width:75%; 
	height:auto; 
	background-color:rgba(0,0,0,0.35); 
	float:left; 
	margin-left:0%; 
	margin-top:28%; 
	padding-bottom:20px; 
	padding-top:10px;
}
.mplutus-label{
	Font-size:1.5em; 
	font-style:normal; 
	font-weight:normal; 
	color:#ffffff; 
	text-align:center; 
	text-transform:capitalize; 
	text-decoration:none; 
	width:100%; 
	display: block!important; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
}
.mplutus-recharge-panel{ 
	width:90%; 
	height:auto; 
	border-bottom:2px solid rgba(86,217,251,1.00); 
	float:left; 
	margin-left:5%; 
}
.mplutus-input{	
	width:110%!important; 
	height: 45px;
	padding:0px 20px;
	background:none;
	border:none;
	font-size:2.5em;
	font-style:normal;
	font-weight:normal;
	color:#ffffff;
	text-align:left;
	text-transform:capitalize;
	text-decoration:none;
	display:block!important;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
	outline:0;
}
.mplutus-select{	
	width:110%!important; 
	height: 45px;
	padding:0px;
	background:none;
	border:none;
	font-size:2em;
	font-style:normal;
	font-weight:normal;
	color:#fafafa;
	text-align:left;
	text-transform:capitalize;
	text-decoration:none;
	display:block!important;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
	outline:0;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: url(../images/br_down.png) no-repeat right;
    background-position-x: 100%;
}
.mplutus-select option{	
	color:#333333;
	font-size:18px;
	background-color:#FFFFFF;
}
.mplutus-select-2{	
	width:110%!important; 
	height: 55px;
	padding:0px;
	background:none;
	border:none;
	font-size:1.4em;
	font-style:normal;
	font-weight:normal;
	color:#fafafa;
	text-align:left;
	text-transform:capitalize;
	text-decoration:none;
	display:block!important;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
	outline:0;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: url(../images/br_down.png) no-repeat right;
    background-position-x: 100%;
}
.mplutus-select-2 option{	
	color:#333333;
	font-size:18px;
	background-color:#FFFFFF;
	}
.transaction-select{
	width:100%!important; 
	height:40px;
	margin-top:3%;
	padding:0px 0px;
	background:none;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#333333;
	text-align:left;
	text-transform: uppercase;
	text-decoration:none;
	display:block!important;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
	outline:0;
	border:1px solid #ccc;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: url(../images/br_down.png) no-repeat right;
    background-position-x: 100%;
}
.btn-image {
    background:url(../images/direction.png);
	background-repeat:no-repeat;
    border: 0;
    display: block;
    height: 41px;
    width: 49px;
	margin-left:13px;
}
.btn-image:hover {
    background:url(../images/direction.png);
	background-repeat:no-repeat;
    border: 0;
    display: block;
    height: 41px;
    width: 49px;
	margin-left:13px;
}
.btn-image-back {
    background:url(../images/direction-back.png);
	background-repeat:no-repeat;
    border: 0;
    display: block;
    height: 41px;
    width: 49px;
	margin-left:13px;
}
.btn-image-back:hover {
    background:url(../images/direction-back.png);
	background-repeat:no-repeat;
    border: 0;
    display: block;
    height: 41px;
    width: 49px;
	margin-left:13px;
}
.transaction-select option{
	text-transform:uppercase;
	font-size:18px;
}
.mplutus-label-no{
	font-size:2.5em; 
	font-style:normal; 
	font-weight:normal; 
	color:#FFFFFF; 
	text-align:center; 
	text-transform:capitalize; 
	text-decoration:none; 
	width:100%; 
	display: block!important; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
}
input:focus{
	outline:0;
}
.mplutus-radio{ 
	width:30%; 
	height:20px; 
	float:left; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman"; 
	font-size:30px; 
	font-style:normal; 
	font-weight:bold; 
	text-align:left;
}
.mplutus-label-radio{
	font-size:1.5em; 
	font-style:normal; 
	float:left; 
	font-weight:normal; 
	color:#FFF; 
	text-align: left; 
	text-transform:capitalize; 
	text-decoration:none; 
	display: block!important; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS";
}
.text-container{ 
	height:100px; 
	float:left; 
	border-top:2px solid #FFFFFF; 
	margin-top:20%;
}
.text-container-h1{ 
	width:100%; 
	height:auto; 
	float:left; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman"; 
	font-size:2em; 
	font-style:normal; 
	font-weight:bold; 
	color:#FFF; 
	word-spacing:5px; 
	line-height:70px; 
	text-align:center; 
	text-decoration:none; 
	text-transform:capitalize;
}
.text-container-h2{  
	width:100%; 
	height:auto; 
	float:left;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman"; 
	font-size:1.3em; 
	font-style:normal; 
	font-weight:normal; 
	color:#FFF; 
	word-spacing:5px; 
	line-height:20px; 
	text-align:center; 
	text-decoration:none; 
	text-transform:capitalize;
}
.top-menu{ 
	float:left; 
	margin-top:20%; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman"; 
	font-size:14px; 
	font-style:normal; 
	font-weight:normal; 
	color:#FFFFFF; 
	text-align:left; 
	text-decoration:none; 
	text-transform:uppercase;
}
.top-menu:hover{ 
	float:left; 
	margin-top:20%; 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman"; 
	font-size:14px; 
	font-style:normal; 
	font-weight:normal; 
	color:#FFFFFF; 
	text-align:left; 
	text-decoration:none; 
	text-transform:uppercase;
}
.top-menu-login{
	float:left;
	margin-top:34%;
	font-family:Arial,"Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#333;
	text-align:left;
	text-decoration:none;
	text-transform:uppercase;
}
.top-menu-login:hover{ 
	float:left;
	margin-top:34%;
	font-family:Arial,"Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#333;
	text-align:left;
	text-decoration:none;
	text-transform:uppercase;
}
.mplutus-left-no-color{ 
	width:50%; 
	height:250px;
	background-image:url(../images/left1.png);
	float:left; 
	margin-left:0%; 
	margin:0;
}
.mplutus-right-color{ 
	width:50%;
	background-color:#0090D7;
	background-repeat:no-repeat; 
	height:250px; 
	float:right; 
	margin-right:0%; 
	margin:0;
}
.mplutus-left-color{ 
	width:50%;
	background-image:url(../images/left2.png);
	height:250px; 
	float:left; 
	margin-left:0%;
	left:0%;
	background-repeat:no-repeat; margin:0;
}
.mplutus-right-no-color{ 
	width:50%; 
	height:250px; 
	float:right; 
	margin-right:0%; 
	margin:0;
}
.mplutus-text{ 
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman"; 
	font-size:14px; 
	font-style:normal; 
	font-weight:normal; 
	color:#fff; 
	text-align:left; 
	text-decoration:none; 
	text-transform:none; 
	float:left; 
	margin-left:0%; 
	margin-top:15%;
}
.mplutus-text-black{
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman"; 
	font-size:14px; 
	font-style:normal; 
	font-weight:normal; 
	color:#333; 
	text-align:left; 
	text-decoration:none; 
	text-transform:none; 
	float:left; 
	margin-left:0%; 
	margin-top:15%;
}
.mplutus-footer{
	height: auto;
	background-color:#fafafa;
	border-top:2px solid #F3F3F3;
}
.mplutus-client{
	width:11%;
	height:auto;
	float:left;
	margin-left:1.2%;
	background-color:#FFFFFF;
	border-radius:50%;
}
.mplutus-client img{
	width:100%;
	height:auto;
	float:left;
	margin-left:0%;
	border-radius:50%;
}
.login-popup-top{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0%;
	left:0%;
	background-color:rgba(0,0,0,0.77);
}
.login-popup{	
	height:430px;
	position:fixed;
	top:20%;
	left:20%;
	background-color:#FFFFFF;
	border:6px solid #000000;
}
.mplutus-input-login{
	width:100%;
	height:50px;
	padding:10px;
	background-color:#FFF!important;
	border:1px solid #CCC;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	float:left;
	margin-top:3%;
}
.mplutus-input-btn{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #03abe5!important;
  box-shadow: 0 5px 11px #ccc;
  padding: 15px 82px;
  border: none;
  float: left;
  margin-left: 10%;
  margin-top: 6%;
}
.mplutus-input-btn:hover{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #55c5f7!important;
  padding: 15px 82px;
  border: none;
  float: left;
  margin-left: 10%;
  margin-top: 6%;
}
.mplutus-input-btn-sml{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #03abe5!important;
  box-shadow: 0 5px 11px #ccc;
  padding: 15px 40px;
  border: none;
  float: left;
  margin-left: 14%;
  margin-top: 6%;
}
.mplutus-input-btn-sml:hover{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #55c5f7!important;
  box-shadow: 0 5px 11px #ccc;
  padding: 15px 40px;
  border: none;
  float: left;
  margin-left: 14%;
  margin-top: 6%;
}
.mplutus-profile{
	float: left;
  	margin-left: 15%;
  	margin-top: 5%;
	
}
.pop-close{
	float:right;
	margin-right: -16%;
  	margin-top: -2%;
	font-size:30px;
	color:rgba(255,0,4,1.00);
}
.transaction-menu-2{
	height:30px;
	float:left;
	margin-left:0%;
	margin-top:1%;
	padding:2px;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	color:#333333;
	text-align:left;
	border-bottom:1px solid #ccc;
}
.transaction-menu-2 a{	
	color:#333333;	
}
.transaction-menu-2 a:hover{	
	color:#333333;
	text-decoration:none;
}
.transaction-menu{
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	color:rgba(0,0,0,1.00);
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.transaction-menu:hover{
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	color:#333333;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.transaction-filter{
	height:60px;
	background-color:#FFF;
	box-shadow:0px 5px 10px #ccc;
	margin:0;
}
.transaction-input-btn{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 16px;
  	font-style: normal;
  	font-weight: bold;
  	color: #FFFFFF;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color: #03abe5;
  	box-shadow: 0 5px 5px #ccc;
  	padding: 10px 82px;
  	border: none;
  	float: left;
  	margin-left: 10%;
  	margin-top: 2%;
}
.transaction-input-btn:hover{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 16px;
  	font-style: normal;
  	font-weight: bold;
  	color: #FFFFFF;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color: #55c5f7;
  	box-shadow: 0 5px 5px #ccc;
  	padding: 10px 82px;
  	border: none;
  	float: left;
  	margin-left: 10%;
  	margin-top: 2%;
}
.transaction-input-btn-2{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 12px;
  	font-style: normal;
  	font-weight: bold;
  	color: #333;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color:#F1F1F1;
	border:1px solid #ccc;  	
  	padding: 5px 15px;
  	float: left;
  	margin-left: 0%;
  	margin-top: 2%;
}
.transaction-input-btn-2:hover{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 12px;
  	font-style: normal;
  	font-weight: bold;
  	color: #333;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color: #F1F1F1; 
	border:1px solid #ccc; 	
  	padding: 5px 15px;
  	float: left;
  	margin-left: 0%;
  	margin-top: 2%;
}
.transaction-text{
	height:auto;
	background-color:#FFF;
	border-bottom:1px solid #ccc;
	margin:0;
	margin-top:1%;
	padding-bottom:5px;
	padding-top:5px;
}
.transaction-h3{
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:22px;
	font-style:normal;
	font-weight:bold;
	color:#222222;
	text-align:left;
	text-decoration:none;
	text-transform:capitalize;
}
.transaction-orders{
	height:auto;
	min-height:100px;
	padding-bottom:5px;
	padding-top:5px;
	background-color:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
}
.mplutus-input-profile{
	width:70%;
	height:50px;
	padding:10px;
	background-color:#FFF;
	border:1px solid #CCC;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	float:left;
	margin-top:0%;
}
.profile{
	height: auto;
	padding-bottom:5px;
	padding-top:5px;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:16px;
	font-style:normal;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	float:left;
	margin-left:0%;
	margin-top:0%;
	margin-bottom:1%;
	background-image:url(../images/backgroun.png);
	border-bottom:1px solid #CCCCCC;
}
.menu-1{
	padding-bottom:7px;
	padding-top:7px;
	font-family:Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
	font-size:16px;
	font-style:normal;
	color:#333;
	text-align:left;
	text-decoration:none;
	text-transform:capitalize;
	float:left;
	margin-top:1%;
	border-bottom:1px solid #CCCCCC;
}
.menu-1 a{
	
	color:#333;
	text-align:left;
	
}
.menu-1 a:hover{
	
	color:#666;
	text-align:left;
	text-decoration:none;
}
.shadow{
	height: auto;
	float:left;
	margin-left:0%;
	margin-right:0%;
	border:1px solid #ccc;
	box-shadow:0 5px 11px #ccc;
	background-color:#FFFFFF;
	padding-top:5px;
	padding-bottom:5px;
}
.success_row{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:left;
	color:#333333;
	text-decoration:none;
	text-transform:capitalize;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #CCCCCC;
}
.h3-success{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	text-transform:capitalize;
	color:#333333;
	margin-left:5%;
}
.h4-success{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:bold;
	text-align: center;
	text-decoration:none;
	text-transform:capitalize;
	color:#333333;
	margin-left:5%;
}
.h5-success{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	text-transform:capitalize;
	color:#666;
	margin-left:5%;
}
.h4-link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:bold;
	text-align:right;
	text-decoration:none;
	text-transform:capitalize;
	color:#0033FF;
	margin-left:5%;
}
.p-success{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight: normal;
	text-align: left;
	text-decoration:none;
	text-transform: none;
	color:#666;
	margin-left:5%;
}
.invoice_header{
	padding-bottom:12px;
	padding-top:12px;
	background-color:#03ABE5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	color:#FFFFFF;
	text-align:left;
	text-decoration:none;
	text-transform:uppercase;
}