@import url(https://fonts.googleapis.com/css?family=Shojumaru);

select {
    background-color: #fff;
}
#circle {
	    width: 80px;
    height: 80px;
    background-color: #c3ccdb;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    margin-top: 6px;
	
}
.row{
	margin-left:-7px!important;
	margin-right:-7px!important;
	}
.relative-w {
	position: relative
}
.side-bar-wrapper {
	font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.side-bar-wrapper .logo {
	color: #fff;
	text-align: center;
	display: block;
	font-weight: 300;
	margin-bottom: 40px
}
.side-bar-wrapper .logo i {
	font-size: 90px;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.6)
}
.side-bar-wrapper .logo span {
	text-transform: uppercase;
	font-size: 26px;
	display: block;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.6)
}
.side-bar-wrapper .logo:hover {
	text-decoration: none
}
.side-bar-wrapper .search-box {
	position: relative;
	margin-bottom: 30px
}
.side-bar-wrapper .search-box input.form-control {
	background-color: #272b37;
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255,255,255,0.2);
	border: 1px solid #14161C;
	border-color: #040405 #14161C #14161C #14161C;
	height: 40px
}
.side-bar-wrapper .search-box:before {
	content: "\f002";
	font-family: FontAwesome;
	color: #464D5B;
	font-size: 18px;
	position: absolute;
	right: 10px;
	top: 9px
}
.side-bar-wrapper .side-menu {
	border: 1px solid #808080;
	background-color: #808080;
	border-radius: 4px;
	padding: 0px 3px;
	list-style: none;
	margin-bottom: 30px;
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255,255,255,0.2)
}
.side-bar-wrapper .side-menu a:hover {
	text-decoration: none
}
.side-bar-wrapper .side-menu ul {
	list-style: none;
	display: none
}
.side-bar-wrapper .side-menu>li {
	margin: 0px
}
.side-bar-wrapper .side-menu>li a {
	display: block;
	border-radius: 0px;
	border-bottom: 1px solid #292D38;
	-webkit-box-shadow: inset 0px 1px 0px 0px #434756;
	box-shadow: inset 0px 1px 0px 0px #434756;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 11px 7px
}
.side-bar-wrapper .side-menu>li a i {
	margin-right: 15px;
	padding-right: 15px;
	font-size: 24px;
	width: 45px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #292D38;
	-webkit-box-shadow: 1px 0px 0px 0px #434756;
	box-shadow: 1px 0px 0px 0px #434756
}
.side-bar-wrapper .side-menu>li a .badge {
	background-color: #2e323f;
	color: #81889a;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.5), 0px 1px 2px 0px rgba(255,255,255,0.15);
	box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.5), 0px 1px 2px 0px rgba(255,255,255,0.15);
	padding: 5px 10px;
	margin-top: 2px
}
.side-bar-wrapper .side-menu>li:first-child a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none
}
.side-bar-wrapper .side-menu>li:last-child a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none
}
.side-bar-wrapper .side-menu>li.active>a, .side-bar-wrapper .side-menu>li.current>a, .side-bar-wrapper .side-menu>li:hover>a {
	margin: 0px -3px;
	padding: 11px 7px;
	position: relative;
	border-bottom: 1px solid #464848;
	background-color: #464848;
	color: #fff;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3)
}
.side-bar-wrapper .side-menu>li.active>a i, .side-bar-wrapper .side-menu>li.current>a i, .side-bar-wrapper .side-menu>li:hover>a i {
	border-right: 1px solid #773A3A;
	-webkit-box-shadow: 1px 0px 0px 0px #9b5757;
	box-shadow: 1px 0px 0px 0px #9b5757;
	color: #fff
}
.side-bar-wrapper .side-menu>li.active li:first-child a, .side-bar-wrapper .side-menu>li.current li:first-child a, .side-bar-wrapper .side-menu>li:hover li:first-child a {
	-webkit-box-shadow: none;
	box-shadow: none
}
.side-bar-wrapper .side-menu>li.active li:last-child a, .side-bar-wrapper .side-menu>li.current li:last-child a, .side-bar-wrapper .side-menu>li:hover li:last-child a {
	border-bottom: none
}
.side-bar-wrapper .side-menu>li.active:last-child a, .side-bar-wrapper .side-menu>li.current:last-child a, .side-bar-wrapper .side-menu>li:hover:last-child a {
	border-bottom: none
}
.side-bar-wrapper .side-menu>li.active ul, .side-bar-wrapper .side-menu>li.current ul {
	display: block
}
.side-bar-wrapper .side-menu>li>ul {
	background-color: #2e3340;
	margin: 0px -3px;
	padding: 0px;
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4)
}
.side-bar-wrapper .side-menu>li>ul li a {
	border-bottom: 1px solid #1F222B;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3c414f;
	box-shadow: inset 0px 1px 0px 0px #3c414f;
	color: #D0D3DB;
	padding: 15px 21px
}
.side-bar-wrapper .side-menu>li>ul li a:hover {
	background-color: #2a2e3a
}
.side-bar-wrapper .side-menu>li>ul li i {
	color: #D0D3DB
}
.side-bar-wrapper .side-menu.side-menu-dark-blue>li.active>a, .side-bar-wrapper .side-menu.side-menu-dark-blue>li.current>a, .side-bar-wrapper .side-menu.side-menu-dark-blue>li:hover>a {
	border-bottom: 1px solid #10161c;
	background-color: #34495e;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3)
}
.side-bar-wrapper .side-menu.side-menu-dark-blue>li.active>a i, .side-bar-wrapper .side-menu.side-menu-dark-blue>li.current>a i, .side-bar-wrapper .side-menu.side-menu-dark-blue>li:hover>a i {
	border-right: 1px solid #10161c;
	-webkit-box-shadow: 1px 0px 0px 0px #46627f;
	box-shadow: 1px 0px 0px 0px #46627f
}
.side-bar-wrapper .side-menu.side-menu-orange>li.active>a, .side-bar-wrapper .side-menu.side-menu-orange>li.current>a, .side-bar-wrapper .side-menu.side-menu-orange>li:hover>a {
	border-bottom: 1px solid #6d2b00;
	background-color: #d35400;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3)
}
.side-bar-wrapper .side-menu.side-menu-orange>li.active>a i, .side-bar-wrapper .side-menu.side-menu-orange>li.current>a i, .side-bar-wrapper .side-menu.side-menu-orange>li:hover>a i {
	border-right: 1px solid #6d2b00;
	-webkit-box-shadow: 1px 0px 0px 0px #ff6a07;
	box-shadow: 1px 0px 0px 0px #ff6a07
}
.side-bar-wrapper .side-menu.side-menu-blue>li.active>a, .side-bar-wrapper .side-menu.side-menu-blue>li.current>a, .side-bar-wrapper .side-menu.side-menu-blue>li:hover>a {
	border-bottom: 1px solid #164666;
	background-color: #2980b9;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3)
}
.side-bar-wrapper .side-menu.side-menu-blue>li.active>a i, .side-bar-wrapper .side-menu.side-menu-blue>li.current>a i, .side-bar-wrapper .side-menu.side-menu-blue>li:hover>a i {
	border-right: 1px solid #164666;
	-webkit-box-shadow: 1px 0px 0px 0px #409ad5;
	box-shadow: 1px 0px 0px 0px #409ad5
}
.side-bar-wrapper .side-menu.side-menu-green>li.active>a, .side-bar-wrapper .side-menu.side-menu-green>li.current>a, .side-bar-wrapper .side-menu.side-menu-green>li:hover>a {
	border-bottom: 1px solid #145b32;
	background-color: #27ae60;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3)
}
.side-bar-wrapper .side-menu.side-menu-green>li.active>a i, .side-bar-wrapper .side-menu.side-menu-green>li.current>a i, .side-bar-wrapper .side-menu.side-menu-green>li:hover>a i {
	border-right: 1px solid #145b32;
	-webkit-box-shadow: 1px 0px 0px 0px #36d278;
	box-shadow: 1px 0px 0px 0px #36d278
}
.side-bar-wrapper .side-menu.side-menu-green-sea>li.active>a, .side-bar-wrapper .side-menu.side-menu-green-sea>li.current>a, .side-bar-wrapper .side-menu.side-menu-green-sea>li:hover>a {
	border-bottom: 1px solid #0a463a;
	background-color: #16a085;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2), 0px 2px 2px 0px rgba(0,0,0,0.3)
}
.side-bar-wrapper .side-menu.side-menu-green-sea>li.active>a i, .side-bar-wrapper .side-menu.side-menu-green-sea>li.current>a i, .side-bar-wrapper .side-menu.side-menu-green-sea>li:hover>a i {
	border-right: 1px solid #0a463a;
	-webkit-box-shadow: 1px 0px 0px 0px #1ccdaa;
	box-shadow: 1px 0px 0px 0px #1ccdaa
}
.side-bar-wrapper .side-menu .badge.badge-notifications {
	background-color: #B5A370;
	color: #4F4836;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5), inset 0px 1px 2px 0px rgba(255,255,255,0.2);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5), inset 0px 1px 2px 0px rgba(255,255,255,0.2);
	padding: 5px 10px
}
@font-face {
	font-family: 'FontAwesome';
	src: url(assets/fonts/fontawesome-webfont.eot?v=3.2.1);
	src: url(assets/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1) format("embedded-opentype"), url(assets/fonts/fontawesome-webfont.woff?v=3.2.1) format("woff"), url(assets/fonts/fontawesome-webfont.ttf?v=3.2.1) format("truetype"), url(assets/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1) format("svg");
	font-weight: normal;
	font-style: normal
}
[class^="icon-"], [class*=" icon-"] {
font-family:FontAwesome;
font-weight:normal;
font-style:normal;
text-decoration:inherit;
-webkit-font-smoothing:antialiased;
*margin-right:.3em
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;*/
	speak: none
}
.icon-large:before {
	vertical-align: -10%;
	font-size: 1.33333em
}
a [class^="icon-"], a [class*=" icon-"] {
	display: inline
}
[class^="icon-"].icon-fixed-width, [class*=" icon-"].icon-fixed-width {
	display: inline-block;
	width: 1.14286em;
	text-align: right;
	padding-right: 0.28571em
}
[class^="icon-"].icon-fixed-width.icon-large, [class*=" icon-"].icon-fixed-width.icon-large {
	width: 1.42857em
}
.icons-ul {
	margin-left: 2.14286em;
	list-style-type: none
}
.icons-ul>li {
	position: relative
}
.icons-ul .icon-li {
	position: absolute;
	left: -2.14286em;
	width: 2.14286em;
	text-align: center;
	line-height: inherit
}
[class^="icon-"].hide, [class*=" icon-"].hide {
	display: none
}
.icon-muted {
	color: #eeeeee
}
.icon-light {
	color: white
}
.icon-dark {
	color: #333333
}
.icon-border {
	border: solid 1px #eeeeee;
	padding: .2em .25em .15em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.icon-2x {
	font-size: 2em
}
.icon-2x.icon-border {
	border-width: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.icon-3x {
	font-size: 3em
}
.icon-3x.icon-border {
	border-width: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
.icon-4x {
	font-size: 4em
}
.icon-4x.icon-border {
	border-width: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
.icon-5x {
	font-size: 5em
}
.icon-5x.icon-border {
	border-width: 5px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px
}
.pull-right {
	float: right
}
.pull-left {
	float: left
}
[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
	margin-right: .3em
}
[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
	margin-left: .3em
}
[class^="icon-"], [class*=" icon-"] {
display:inline;
width:auto;
height:auto;
line-height:normal;
vertical-align:baseline;
background-image:none;
background-position:0% 0%;
background-repeat:repeat;
margin-top:0
}
.icon-white, .nav-pills>.active>a>[class^="icon-"], .nav-pills>.active>a>[class*=" icon-"], .nav-list>.active>a>[class^="icon-"], .nav-list>.active>a>[class*=" icon-"], .navbar-inverse .nav>.active>a>[class^="icon-"], .navbar-inverse .nav>.active>a>[class*=" icon-"], .dropdown-menu>li>a:hover>[class^="icon-"], .dropdown-menu>li>a:hover>[class*=" icon-"], .dropdown-menu>.active>a>[class^="icon-"], .dropdown-menu>.active>a>[class*=" icon-"], .dropdown-submenu:hover>a>[class^="icon-"], .dropdown-submenu:hover>a>[class*=" icon-"] {
background-image:none
}
.btn [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large, .nav [class*=" icon-"].icon-large {
	line-height: .9em
}
.btn [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .nav [class*=" icon-"].icon-spin {
	display: inline-block
}
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large, .nav-tabs [class*=" icon-"], .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large, .nav-pills [class*=" icon-"], .nav-pills [class*=" icon-"].icon-large {
	line-height: .9em
}
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x {
	margin-top: .18em
}
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large {
	line-height: .8em
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x {
	margin-top: .25em
}
.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] {
	margin-top: 0
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
	margin-top: .05em
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x {
	margin-right: .2em
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
	margin-left: .2em
}
.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
	line-height: inherit
}
.icon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: -35%
}
.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1em;
	line-height: inherit;
*line-height:2em
}
.icon-stack .icon-stack-base {
	font-size: 2em;
*line-height:1em
}
.icon-spin {
	display: inline-block;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear
}
a .icon-stack, a .icon-spin {
	display: inline-block;
	text-decoration: none
}
@-moz-keyframes spin {
0% {
-moz-transform:rotate(0deg)
}
100% {
-moz-transform:rotate(359deg)
}
}
@-webkit-keyframes spin {
0% {
-webkit-transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(359deg)
}
}
@-o-keyframes spin {
0% {
-o-transform:rotate(0deg)
}
100% {
-o-transform:rotate(359deg)
}
}
@-ms-keyframes spin {
0% {
-ms-transform:rotate(0deg)
}
100% {
-ms-transform:rotate(359deg)
}
}
@keyframes spin {
0% {
transform:rotate(0deg)
}
100% {
transform:rotate(359deg)
}
}
.icon-rotate-90:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1)
}
.icon-rotate-180:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}
.icon-rotate-270:before {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}
.icon-flip-horizontal:before {
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1)
}
.icon-flip-vertical:before {
	-webkit-transform: scale(1, -1);
	-moz-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1)
}
a .icon-rotate-90:before, a .icon-rotate-180:before, a .icon-rotate-270:before, a .icon-flip-horizontal:before, a .icon-flip-vertical:before {
	display: inline-block
}
.icon-glass:before {
	content: "\f000"
}
.icon-music:before {
	content: "\f001"
}
.icon-search:before {
	content: "\f002"
}
.icon-envelope-alt:before {
	content: "\f003"
}
.icon-heart:before {
	content: "\f004"
}
.icon-star:before {
	content: "\f005"
}
.icon-star-empty:before {
	content: "\f006"
}
.icon-user:before {
	content: "\f007"
}
.icon-film:before {
	content: "\f008"
}
.icon-th-large:before {
	content: "\f009"
}
.icon-th:before {
	content: "\f00a"
}
.icon-th-list:before {
	content: "\f00b"
}
.icon-ok:before {
	content: "\f00c"
}
.icon-remove:before {
	content: "\f00d"
}
.icon-zoom-in:before {
	content: "\f00e"
}
.icon-zoom-out:before {
	content: "\f010"
}
.icon-power-off:before, .icon-off:before {
	content: "\f011"
}
.icon-signal:before {
	content: "\f012"
}
.icon-gear:before, .icon-cog:before {
	content: "\f013"
}
.icon-trash:before {
	content: "\f014"
}
.icon-home:before {
	content: "\f015"
}
.icon-file-alt:before {
	content: "\f016"
}
.icon-time:before {
	content: "\f017"
}
.icon-road:before {
	content: "\f018"
}
.icon-download-alt:before {
	content: "\f019"
}
.icon-download:before {
	content: "\f01a"
}
.icon-upload:before {
	content: "\f01b"
}
.icon-inbox:before {
	content: "\f01c"
}
.icon-play-circle:before {
	content: "\f01d"
}
.icon-rotate-right:before, .icon-repeat:before {
	content: "\f01e"
}
.icon-refresh:before {
	content: "\f021"
}
.icon-list-alt:before {
	content: "\f022"
}
.icon-lock:before {
	content: "\f023"
}
.icon-flag:before {
	content: "\f024"
}
.icon-headphones:before {
	content: "\f025"
}
.icon-volume-off:before {
	content: "\f026"
}
.icon-volume-down:before {
	content: "\f027"
}
.icon-volume-up:before {
	content: "\f028"
}
.icon-qrcode:before {
	content: "\f029"
}
.icon-barcode:before {
	content: "\f02a"
}
.icon-tag:before {
	content: "\f02b"
}
.icon-tags:before {
	content: "\f02c"
}
.icon-book:before {
	content: "\f02d"
}
.icon-bookmark:before {
	content: "\f02e"
}
.icon-print:before {
	content: "\f02f"
}
.icon-camera:before {
	content: "\f030"
}
.icon-font:before {
	content: "\f031"
}
.icon-bold:before {
	content: "\f032"
}
.icon-italic:before {
	content: "\f033"
}
.icon-text-height:before {
	content: "\f034"
}
.icon-text-width:before {
	content: "\f035"
}
.icon-align-left:before {
	content: "\f036"
}
.icon-align-center:before {
	content: "\f037"
}
.icon-align-right:before {
	content: "\f038"
}
.icon-align-justify:before {
	content: "\f039"
}
.icon-list:before {
	content: "\f03a"
}
.icon-indent-left:before {
	content: "\f03b"
}
.icon-indent-right:before {
	content: "\f03c"
}
.icon-facetime-video:before {
	content: "\f03d"
}
.icon-picture:before {
	content: "\f03e"
}
.icon-pencil:before {
	content: "\f040"
}
.icon-map-marker:before {
	content: "\f041"
}
.icon-adjust:before {
	content: "\f042"
}
.icon-tint:before {
	content: "\f043"
}
.icon-edit:before {
	content: "\f044"
}
.icon-share:before {
	content: "\f045"
}
.icon-check:before {
	content: "\f046"
}
.icon-move:before {
	content: "\f047"
}
.icon-step-backward:before {
	content: "\f048"
}
.icon-fast-backward:before {
	content: "\f049"
}
.icon-backward:before {
	content: "\f04a"
}
.icon-play:before {
	content: "\f04b"
}
.icon-pause:before {
	content: "\f04c"
}
.icon-stop:before {
	content: "\f04d"
}
.icon-forward:before {
	content: "\f04e"
}
.icon-fast-forward:before {
	content: "\f050"
}
.icon-step-forward:before {
	content: "\f051"
}
.icon-eject:before {
	content: "\f052"
}
.icon-chevron-left:before {
	content: "\f053"
}
.icon-chevron-right:before {
	content: "\f054"
}
.icon-plus-sign:before {
	content: "\f055"
}
.icon-minus-sign:before {
	content: "\f056"
}
.icon-remove-sign:before {
	content: "\f057"
}
.icon-ok-sign:before {
	content: "\f058"
}
.icon-question-sign:before {
	content: "\f059"
}
.icon-info-sign:before {
	content: "\f05a"
}
.icon-screenshot:before {
	content: "\f05b"
}
.icon-remove-circle:before {
	content: "\f05c"
}
.icon-ok-circle:before {
	content: "\f05d"
}
.icon-ban-circle:before {
	content: "\f05e"
}
.icon-arrow-left:before {
	content: "\f060"
}
.icon-arrow-right:before {
	content: "\f061"
}
.icon-arrow-up:before {
	content: "\f062"
}
.icon-arrow-down:before {
	content: "\f063"
}
.icon-mail-forward:before, .icon-share-alt:before {
	content: "\f064"
}
.icon-resize-full:before {
	content: "\f065"
}
.icon-resize-small:before {
	content: "\f066"
}
.icon-plus:before {
	content: "\f067"
}
.icon-minus:before {
	content: "\f068"
}
.icon-asterisk:before {
	content: "\f069"
}
.icon-exclamation-sign:before {
	content: "\f06a"
}
.icon-gift:before {
	content: "\f06b"
}
.icon-leaf:before {
	content: "\f06c"
}
.icon-fire:before {
	content: "\f06d"
}
.icon-eye-open:before {
	content: "\f06e"
}
.icon-eye-close:before {
	content: "\f070"
}
.icon-warning-sign:before {
	content: "\f071"
}
.icon-plane:before {
	content: "\f072"
}
.icon-calendar:before {
	content: "\f073"
}
.icon-random:before {
	content: "\f074"
}
.icon-comment:before {
	content: "\f075"
}
.icon-magnet:before {
	content: "\f076"
}
.icon-chevron-up:before {
	content: "\f077"
}
.icon-chevron-down:before {
	content: "\f078"
}
.icon-retweet:before {
	content: "\f079"
}
.icon-shopping-cart:before {
	content: "\f07a"
}
.icon-folder-close:before {
	content: "\f07b"
}
.icon-folder-open:before {
	content: "\f07c"
}
.icon-resize-vertical:before {
	content: "\f07d"
}
.icon-resize-horizontal:before {
	content: "\f07e"
}
.icon-bar-chart:before {
	content: "\f080"
}
.icon-twitter-sign:before {
	content: "\f081"
}
.icon-facebook-sign:before {
	content: "\f082"
}
.icon-camera-retro:before {
	content: "\f083"
}
.icon-key:before {
	content: "\f084"
}
.icon-gears:before, .icon-cogs:before {
	content: "\f085"
}
.icon-comments:before {
	content: "\f086"
}
.icon-thumbs-up-alt:before {
	content: "\f087"
}
.icon-thumbs-down-alt:before {
	content: "\f088"
}
.icon-star-half:before {
	content: "\f089"
}
.icon-heart-empty:before {
	content: "\f08a"
}
.icon-signout:before {
	content: "\f08b"
}
.icon-linkedin-sign:before {
	content: "\f08c"
}
.icon-pushpin:before {
	content: "\f08d"
}
.icon-external-link:before {
	content: "\f08e"
}
.icon-signin:before {
	content: "\f090"
}
.icon-trophy:before {
	content: "\f091"
}
.icon-github-sign:before {
	content: "\f092"
}
.icon-upload-alt:before {
	content: "\f093"
}
.icon-lemon:before {
	content: "\f094"
}
.icon-phone:before {
	content: "\f095"
}
.icon-unchecked:before, .icon-check-empty:before {
	content: "\f096"
}
.icon-bookmark-empty:before {
	content: "\f097"
}
.icon-phone-sign:before {
	content: "\f098"
}
.icon-twitter:before {
	content: "\f099"
}
.icon-facebook:before {
	content: "\f09a"
}
.icon-github:before {
	content: "\f09b"
}
.icon-unlock:before {
	content: "\f09c"
}
.icon-credit-card:before {
	content: "\f09d"
}
.icon-rss:before {
	content: "\f09e"
}
.icon-hdd:before {
	content: "\f0a0"
}
.icon-bullhorn:before {
	content: "\f0a1"
}
.icon-bell:before {
	content: "\f0a2"
}
.icon-certificate:before {
	content: "\f0a3"
}
.icon-hand-right:before {
	content: "\f0a4"
}
.icon-hand-left:before {
	content: "\f0a5"
}
.icon-hand-up:before {
	content: "\f0a6"
}
.icon-hand-down:before {
	content: "\f0a7"
}
.icon-circle-arrow-left:before {
	content: "\f0a8"
}
.icon-circle-arrow-right:before {
	content: "\f0a9"
}
.icon-circle-arrow-up:before {
	content: "\f0aa"
}
.icon-circle-arrow-down:before {
	content: "\f0ab"
}
.icon-globe:before {
	content: "\f0ac"
}
.icon-wrench:before {
	content: "\f0ad"
}
.icon-tasks:before {
	content: "\f0ae"
}
.icon-filter:before {
	content: "\f0b0"
}
.icon-briefcase:before {
	content: "\f0b1"
}
.icon-fullscreen:before {
	content: "\f0b2"
}
.icon-group:before {
	content: "\f0c0"
}
.icon-link:before {
	content: "\f0c1"
}
.icon-cloud:before {
	content: "\f0c2"
}
.icon-beaker:before {
	content: "\f0c3"
}
.icon-cut:before {
	content: "\f0c4"
}
.icon-copy:before {
	content: "\f0c5"
}
.icon-paperclip:before, .icon-paper-clip:before {
	content: "\f0c6"
}
.icon-save:before {
	content: "\f0c7"
}
.icon-sign-blank:before {
	content: "\f0c8"
}
.icon-reorder:before {
	content: "\f0c9"
}
.icon-list-ul:before {
	content: "\f0ca"
}
.icon-list-ol:before {
	content: "\f0cb"
}
.icon-strikethrough:before {
	content: "\f0cc"
}
.icon-underline:before {
	content: "\f0cd"
}
.icon-table:before {
	content: "\f0ce"
}
.icon-magic:before {
	content: "\f0d0"
}
.icon-truck:before {
	content: "\f0d1"
}
.icon-pinterest:before {
	content: "\f0d2"
}
.icon-pinterest-sign:before {
	content: "\f0d3"
}
.icon-google-plus-sign:before {
	content: "\f0d4"
}
.icon-google-plus:before {
	content: "\f0d5"
}
.icon-money:before {
	content: "\f0d6"
}
.icon-caret-down:before {
	content: "\f0d7"
}
.icon-caret-up:before {
	content: "\f0d8"
}
.icon-caret-left:before {
	content: "\f0d9"
}
.icon-caret-right:before {
	content: "\f0da"
}
.icon-columns:before {
	content: "\f0db"
}
.icon-sort:before {
	content: "\f0dc"
}
.icon-sort-down:before {
	content: "\f0dd"
}
.icon-sort-up:before {
	content: "\f0de"
}
.icon-envelope:before {
	content: "\f0e0"
}
.icon-linkedin:before {
	content: "\f0e1"
}
.icon-rotate-left:before, .icon-undo:before {
	content: "\f0e2"
}
.icon-legal:before {
	content: "\f0e3"
}
.icon-dashboard:before {
	content: "\f0e4"
}
.icon-comment-alt:before {
	content: "\f0e5"
}
.icon-comments-alt:before {
	content: "\f0e6"
}
.icon-bolt:before {
	content: "\f0e7"
}
.icon-sitemap:before {
	content: "\f0e8"
}
.icon-umbrella:before {
	content: "\f0e9"
}
.icon-paste:before {
	content: "\f0ea"
}
.icon-lightbulb:before {
	content: "\f0eb"
}
.icon-exchange:before {
	content: "\f0ec"
}
.icon-cloud-download:before {
	content: "\f0ed"
}
.icon-cloud-upload:before {
	content: "\f0ee"
}
.icon-user-md:before {
	content: "\f0f0"
}
.icon-stethoscope:before {
	content: "\f0f1"
}
.icon-suitcase:before {
	content: "\f0f2"
}
.icon-bell-alt:before {
	content: "\f0f3"
}
.icon-coffee:before {
	content: "\f0f4"
}
.icon-food:before {
	content: "\f0f5"
}
.icon-file-text-alt:before {
	content: "\f0f6"
}
.icon-building:before {
	content: "\f0f7"
}
.icon-hospital:before {
	content: "\f0f8"
}
.icon-ambulance:before {
	content: "\f0f9"
}
.icon-medkit:before {
	content: "\f0fa"
}
.icon-fighter-jet:before {
	content: "\f0fb"
}
.icon-beer:before {
	content: "\f0fc"
}
.icon-h-sign:before {
	content: "\f0fd"
}
.icon-plus-sign-alt:before {
	content: "\f0fe"
}
.icon-double-angle-left:before {
	content: "\f100"
}
.icon-double-angle-right:before {
	content: "\f101"
}
.icon-double-angle-up:before {
	content: "\f102"
}
.icon-double-angle-down:before {
	content: "\f103"
}
.icon-angle-left:before {
	content: "\f104"
}
.icon-angle-right:before {
	content: "\f105"
}
.icon-angle-up:before {
	content: "\f106"
}
.icon-angle-down:before {
	content: "\f107"
}
.icon-desktop:before {
	content: "\f108"
}
.icon-laptop:before {
	content: "\f109"
}
.icon-tablet:before {
	content: "\f10a"
}
.icon-mobile-phone:before {
	content: "\f10b"
}
.icon-circle-blank:before {
	content: "\f10c"
}
.icon-quote-left:before {
	content: "\f10d"
}
.icon-quote-right:before {
	content: "\f10e"
}
.icon-spinner:before {
	content: "\f110"
}
.icon-circle:before {
	content: "\f111"
}
.icon-mail-reply:before, .icon-reply:before {
	content: "\f112"
}
.icon-github-alt:before {
	content: "\f113"
}
.icon-folder-close-alt:before {
	content: "\f114"
}
.icon-folder-open-alt:before {
	content: "\f115"
}
.icon-expand-alt:before {
	content: "\f116"
}
.icon-collapse-alt:before {
	content: "\f117"
}
.icon-smile:before {
	content: "\f118"
}
.icon-frown:before {
	content: "\f119"
}
.icon-meh:before {
	content: "\f11a"
}
.icon-gamepad:before {
	content: "\f11b"
}
.icon-keyboard:before {
	content: "\f11c"
}
.icon-flag-alt:before {
	content: "\f11d"
}
.icon-flag-checkered:before {
	content: "\f11e"
}
.icon-terminal:before {
	content: "\f120"
}
.icon-code:before {
	content: "\f121"
}
.icon-reply-all:before {
	content: "\f122"
}
.icon-mail-reply-all:before {
	content: "\f122"
}
.icon-star-half-full:before, .icon-star-half-empty:before {
	content: "\f123"
}
.icon-location-arrow:before {
	content: "\f124"
}
.icon-crop:before {
	content: "\f125"
}
.icon-code-fork:before {
	content: "\f126"
}
.icon-unlink:before {
	content: "\f127"
}
.icon-question:before {
	content: "\f128"
}
.icon-info:before {
	content: "\f129"
}
.icon-exclamation:before {
	content: "\f12a"
}
.icon-superscript:before {
	content: "\f12b"
}
.icon-subscript:before {
	content: "\f12c"
}
.icon-eraser:before {
	content: "\f12d"
}
.icon-puzzle-piece:before {
	content: "\f12e"
}
.icon-microphone:before {
	content: "\f130"
}
.icon-microphone-off:before {
	content: "\f131"
}
.icon-shield:before {
	content: "\f132"
}
.icon-calendar-empty:before {
	content: "\f133"
}
.icon-fire-extinguisher:before {
	content: "\f134"
}
.icon-rocket:before {
	content: "\f135"
}
.icon-maxcdn:before {
	content: "\f136"
}
.icon-chevron-sign-left:before {
	content: "\f137"
}
.icon-chevron-sign-right:before {
	content: "\f138"
}
.icon-chevron-sign-up:before {
	content: "\f139"
}
.icon-chevron-sign-down:before {
	content: "\f13a"
}
.icon-html5:before {
	content: "\f13b"
}
.icon-css3:before {
	content: "\f13c"
}
.icon-anchor:before {
	content: "\f13d"
}
.icon-unlock-alt:before {
	content: "\f13e"
}
.icon-bullseye:before {
	content: "\f140"
}
.icon-ellipsis-horizontal:before {
	content: "\f141"
}
.icon-ellipsis-vertical:before {
	content: "\f142"
}
.icon-rss-sign:before {
	content: "\f143"
}
.icon-play-sign:before {
	content: "\f144"
}
.icon-ticket:before {
	content: "\f145"
}
.icon-minus-sign-alt:before {
	content: "\f146"
}
.icon-check-minus:before {
	content: "\f147"
}
.icon-level-up:before {
	content: "\f148"
}
.icon-level-down:before {
	content: "\f149"
}
.icon-check-sign:before {
	content: "\f14a"
}
.icon-edit-sign:before {
	content: "\f14b"
}
.icon-external-link-sign:before {
	content: "\f14c"
}
.icon-share-sign:before {
	content: "\f14d"
}
.icon-compass:before {
	content: "\f14e"
}
.icon-collapse:before {
	content: "\f150"
}
.icon-collapse-top:before {
	content: "\f151"
}
.icon-expand:before {
	content: "\f152"
}
.icon-euro:before, .icon-eur:before {
	content: "\f153"
}
.icon-gbp:before {
	content: "\f154"
}
.icon-dollar:before, .icon-usd:before {
	content: "\f155"
}
.icon-rupee:before, .icon-inr:before {
	content: "\f156"
}
.icon-yen:before, .icon-jpy:before {
	content: "\f157"
}
.icon-renminbi:before, .icon-cny:before {
	content: "\f158"
}
.icon-won:before, .icon-krw:before {
	content: "\f159"
}
.icon-bitcoin:before, .icon-btc:before {
	content: "\f15a"
}
.icon-file:before {
	content: "\f15b"
}
.icon-file-text:before {
	content: "\f15c"
}
.icon-sort-by-alphabet:before {
	content: "\f15d"
}
.icon-sort-by-alphabet-alt:before {
	content: "\f15e"
}
.icon-sort-by-attributes:before {
	content: "\f160"
}
.icon-sort-by-attributes-alt:before {
	content: "\f161"
}
.icon-sort-by-order:before {
	content: "\f162"
}
.icon-sort-by-order-alt:before {
	content: "\f163"
}
.icon-thumbs-up:before {
	content: "\f164"
}
.icon-thumbs-down:before {
	content: "\f165"
}
.icon-youtube-sign:before {
	content: "\f166"
}
.icon-youtube:before {
	content: "\f167"
}
.icon-xing:before {
	content: "\f168"
}
.icon-xing-sign:before {
	content: "\f169"
}
.icon-youtube-play:before {
	content: "\f16a"
}
.icon-dropbox:before {
	content: "\f16b"
}
.icon-stackexchange:before {
	content: "\f16c"
}
.icon-instagram:before {
	content: "\f16d"
}
.icon-flickr:before {
	content: "\f16e"
}
.icon-adn:before {
	content: "\f170"
}
.icon-bitbucket:before {
	content: "\f171"
}
.icon-bitbucket-sign:before {
	content: "\f172"
}
.icon-tumblr:before {
	content: "\f173"
}
.icon-tumblr-sign:before {
	content: "\f174"
}
.icon-long-arrow-down:before {
	content: "\f175"
}
.icon-long-arrow-up:before {
	content: "\f176"
}
.icon-long-arrow-left:before {
	content: "\f177"
}
.icon-long-arrow-right:before {
	content: "\f178"
}
.icon-apple:before {
	content: "\f179"
}
.icon-windows:before {
	content: "\f17a"
}
.icon-android:before {
	content: "\f17b"
}
.icon-linux:before {
	content: "\f17c"
}
.icon-dribbble:before {
	content: "\f17d"
}
.icon-skype:before {
	content: "\f17e"
}
.icon-foursquare:before {
	content: "\f180"
}
.icon-trello:before {
	content: "\f181"
}
.icon-female:before {
	content: "\f182"
}
.icon-male:before {
	content: "\f183"
}
.icon-gittip:before {
	content: "\f184"
}
.icon-sun:before {
	content: "\f185"
}
.icon-moon:before {
	content: "\f186"
}
.icon-archive:before {
	content: "\f187"
}
.icon-bug:before {
	content: "\f188"
}
.icon-vk:before {
	content: "\f189"
}
.icon-weibo:before {
	content: "\f18a"
}
.margin-top-10{
	margin-top:10px;
	}
	.margin-top-20{
	margin-top:20px;
	}
.bgshowcrt{
	/*background:url(../img/sc2.jpg) center no-repeat; height:300px!important; width:715px; color:#fff;margin-right:12px;margin-left:26px;*/
	background-color:#fff;
	}
.bgshow1{
	/*background:url(../img/formbg.png) center no-repeat; height:200px!important; width:715px; color:#fff;margin-right:12px;margin-left:26px;*/
	background-color:#fff;
	}

.bgshow{
	/*background:url(../img/formbg.png) center no-repeat; height:200px!important; width:715px; color:#fff;margin-right:12px;margin-left:26px;margin-top:10px;*/
	background-color:#fff;
	}
.adjicon{
	margin-top:20px;
	
	}

body{
	background:url(../img/bg1.png) repeat;
	width:auto;
	}
.ch-container {
    padding: 0 15px;
}
.rowbord{
	border:1px solid #d6d6d6; border-radius:5px;padding:5px;
	background-color:#fff;
	min-height:494px;
	}
.top-block {
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    display: block;
    line-height: 22px;
    text-shadow: 0 0 1px #DDD;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
    -moz-box-shadow: inset 0 0 0 1px #FAFAFA;
    box-shadow: inset 0 0 0 1px #FAFAFA;
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0.2)), color-stop(100%, rgba(125, 185, 232, 0)));
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -o-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -ms-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331e5799', endColorstr='#007db9e8', GradientType=0);
}

.top-block span {
    clear: both;
}

.top-block i {
    font-size: 25px;
}

.top-block:hover {
    text-decoration: none;
}

.notification {
    display: block;
    position: absolute;
    top: -10px;
    right: -5px;
    line-height: 16px;
    height: 16px;
    padding: 0 5px;
    font-family: Arial, sans-serif;
    color: white !important;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification {
    border-color: #2FABE9;
    background-color: #67C2EF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
    background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}

.notification.green {
    border-color: #5AAD34;
    background-color: #78CD51;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
    background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}

.notification.yellow {
    border-color: #F4A506;
    background-color: #FABB3D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.notification.red {
    border-color: #FA5833;
    background-color: #FA603D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);

}

.box-header h2 {
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 36px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.box-header h3 {
    font-size: 13px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
}

.box-header h2 > i {
    margin-top: 1px;
}

.box-icon {
    float: right;
}

.box-icon a {
    clear: none;
    float: left;
    margin: 0 2px;
    height: 20px;
    width: 5px;
    margin-top: 1px;
}

.box-icon a i {
    margin-left: -6px;
    top: -1px;
}

.box-content {
    padding: 10px;
	min-height:76px;
	height:auto;
	
}

.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}

ul.dashboard-list li {
    padding: 7px 0;
    list-style: none;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid white;
}

ul.dashboard-list a:hover {
    text-decoration: none;
}

ul.dashboard-list {
    margin: 0;
}

ul.dashboard-list li a span {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 70px;
    zoom: 1;
}

.dashboard-avatar {
    height: 50px;
    width: 50px;
    padding: 1px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
}

.thumbnail {
    background-color: white;
    z-index: 2;
    position: relative;
    margin-bottom: 40px !important;
}

.thumbnails > li {
    display: inline-block;
    margin-left: 15px;
}

.thumbnail img, .thumbnail > a {
    z-index: 2;
    height: 100px;
    width: 100px;
    position: relative;
    display: block;
}

img.grayscale {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.thumbnail .gallery-controls {
    position: absolute;
    z-index: 1;
    margin-top: -30px;
    height: 30px;
    min-height: 30px;
    padding: 0 6.5px;
}

.thumbnail .gallery-controls p {
    display: block;
    margin: auto;
    width: 100%;
}

div.uploader {
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
}

footer {
    clear: both;
}

div.center, p.center, img.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
}

.stackControls {
    padding: 5px;
}


/*.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 0px;
    margin-bottom: 22px;
    padding-bottom: 0;
    max-height: none;
	margin-top:22px;
	background-color:#eee;
}*/

.sidebar-nav > ul > li:not(.nav-header) {
    margin-right: -2px;
    margin-left: -2px;
}

.navbar-brand {
    font-family: 'Shojumaru', cursive, Arial, serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 183px;
    font-size: 17px;
}


.navbar-brand img {
    float: left;
   
    width: 116px;
    margin-right:5px;
}

.navbar-brand span {
    float: left;
}

.theme-container {
    z-index: 5;
}

.navbar-search {
    margin-left: 10px;
    margin-top: 7px;
}

.navbar-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    height: 60px;
}



.navbar-inner .btn-group {
    margin: 7px 5px 0 5px;
}

ul.ajax-loaders li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

ul.ajax-loaders {
    min-height: 80px;
}

.bs-icons li {
    list-style: none;
}

#for-is-ajax {
    padding-left: 12px;
    cursor: pointer;
}

#loading {
    margin-top: 20px;
    width: 128px;
    font-weight: bold;
}

#loading div.center {
    margin-top: 10px;
    height: 15px;
    width: 128px;
    background: url(../img/ajax-loaders/ajax-loader-6.gif);
}

.box-content .nav-tabs {
    margin-right: -10px;
    margin-left: -10px;
}


.login-header {
    padding-top: 30px;
    height: 120px;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.remember {
    margin-top: 3px;
}

.green {
    color: #458746;
}

.red {
    color: #B94846;
}

.blue {
    color: #3986AC;
}
.red{
	
    color: #a91b0c;

	}

.yellow {
    color: #F99406;
}

.login-box .input-prepend {
    margin-bottom: 10px;
}

.login-box .btn {
    margin-top: 15px;
    width: 100%
}

.box-content.buttons {
    min-height: 297px;
}

/*.main-menu > li > a {
    border-bottom: 1px solid  #eee;
	border-radius: 0;
	
 box-shadow: inset 0px 1px 0px 0px #434756;
}
*/
.main-menu > li {
    margin-top: 0 !important;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.navbar {
    border-radius: 0;
}

ul.main-menu li:hover {
    margin-left: 8px;
}

ul.main-menu li.active {
    margin-left: 8px;
}

ul.main-menu li.nav-header:hover {
    margin-left: 0;
}

ul.main-menu li:not(.nav-header) {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.accordion > ul {
    display: none;
    margin-left: 10px;
}

.nav-sm {
    display: none;
}
.preview-on-phone {
    height: 380px;

}

.powered-by {
    text-align: right;
}

.whitespace:before {
    content: "\2122";
    color: transparent !important;
}

.center-block {
    float: none !important;
    text-align: center;
}

ul.github-buttons li {
    display: inline;
}

.homepage-box {
    height: 380px;
}

.download-buttons a {
    margin: 5px;
}

.center-text {
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .navbar-brand {
        font-family: 'Shojumaru', cursive, Arial, serif;
        letter-spacing: 2px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 40%;
        font-size: 14px;
    }

    /* .nav-sm {
        display: block;
        margin-bottom: 10px;
        border-bottom: solid white 1px;
        padding-bottom: 10px;
    }
 */
    .sidebar-nav .nav-canvas {
        top: -20px;
        left: -90%;
        position: absolute;
        width: 80%;
        z-index: 2;
        margin: 0 !important;
        border-radius: 0 0 20px 0;
        padding-bottom: 10px;
        will-change: left;
    }

    .sidebar-nav.active .nav-canvas {
        left: -20px;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
    }

    .sidebar-nav {
        position: relative;
        z-index: 3;
        margin: 0 !important;
        padding: 0;
    }

    .nav-canvas {
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .sidebar-nav a {
        border: none !important;
        color: white;
    }

    #for-is-ajax {
        color: white;
        margin-top: 15px;
    }

    .main-menu .nav-header {
        color: white;
    }

    ul.main-menu li:hover {
        margin-left: inherit;
    }

    ul.main-menu li.active {
        margin-left: inherit;
    }

    /* ul.main-menu a:hover, .nav-sm a:hover {
        background: none !important;
        color: grey;
    } */

    .navbar-default .navbar-toggle:focus {
        background-color: inherit;
    }

    .navbar-default .navbar-toggle.active {
        box-shadow: 0 0 7px rgb(0, 255, 40);
        border: solid 1px white;
    }

    .navbar-toggle {
        margin-left: 5px;
        margin-right: 0;
    }

    .powered-by {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

    .table-wrapper .pinned {
        box-shadow: 0 0 20px black;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .box-icon {
        display: none;
    }

    .box-header h2 {
        font-size: 13px !important;
    }

    .box-header h3 {
        font-size: 11px !important;
    }

    .main-menu-span {
        width: 6.2% !important;
        margin-right: 4%;
    }

    .top-menu > li i {
        display: none;
    }

    .sidebar-nav li span {
        display: block !important;
    }

    .sidebar-nav li a, .sidebar-nav .nav-header {
        text-align: center
    }

    .sidebar-nav {
        padding: 0;
        margin-bottom: 0;
    }
}

/* Computer */
@media only screen and (min-width: 980px) {
    a, button, input[type=submit], input[type=button], .product-img {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .ch-container {
        padding: 0 50px;
    }
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
.email-subscription-footer a {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.email-subscription-footer {
    float: right;
    padding: 20px 0 0 20px;
    text-align: center;
}

.mc_embed_signup {
    font: 14px Helvetica,Arial,sans-serif;
}
.power_field{position: absolute; left: -5000px;display: none;}
.mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
.mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
.mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
.mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
.mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
.mc_embed_signup input:focus {border-color:#333;}
.mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
.mc_embed_signup .button:hover {background-color:#777;}
.mc_embed_signup .small-meta {font-size: 11px;}
.mc_embed_signup .nowrap {white-space:nowrap;}
.mc_embed_signup .clear {clear:none; display:inline;}

.mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
.mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px;}
.mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

.mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
.mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
.mc_embed_signup #mce-error-response {display:none;}
.mc_embed_signup #mce-success-response {color:#529214; display:none;}
.mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

select {
  border: 1px solid #ccc;
  height: 34px;
  width: 225px;
  border-radius:1px;
  padding: 6px 12px;
  line-height: 1.42857143;
/*   -moz-appearance:none;
  -webkit-appearance:none; */
  background-color:transparent;
  width:100%;
}
.dat{
	
	font-size:12px;
	color:#222;
}
.selectwrap {
  position: relative;
  float: left;
}

.selectwrap:after {
  content: "";
  position: absolute;
  width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	
	border-top: 8px solid #000;
  right: 19px;
  top: 14px;
  pointer-events: none;
}