.sidebar-menu-normal {
	color: #fff;
	padding: 12px 5px 12px 15px;
	display: block;
}

.sidebar-menu-hover {
	background-color: #ffc20a;
	color: #000;
	padding: 12px 5px 12px 15px;
	display: block;
}

.sidebar-menu-active {
	background-color: #ffc20a;
	color: #000;
	padding: 12px 5px 12px 15px;
	display: block;
}

.sidebar-nav-sep {
	position: relative;
	margin: 0;
	padding: 0;
	border-top: 1px solid #076385;
	border-bottom: 1px solid #aaddf0;
}

.LEFTBAR-RESPONSIVE-POSITION-OffCanvas {
	-webkit-transform: translate(-230px, 0);
	-ms-transform: translate(-230px, 0);
	-o-transform: translate(-230px, 0);
	transform: translate(-230px, 0);
}

.LEFTBAR-RESPONSIVE-POSITION-OnCanvas {
	-webkit-transform: translate(230px, 0);
	-ms-transform: translate(230px, 0);
	-o-transform: translate(230px, 0);
	transform: translate(230px, 0);
}

.LEFTBAR-DEFAULT-POSITION {
	-webkit-transform: translate(0, 0) !important;
	-ms-transform: translate(0, 0) !important;
	-o-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important;
}

/* COMMON CSS START */
body {
	font: normal 14px arial;
	/*   font-family: Lato-Regular; */
	padding-top: 56px;
	/*   font-size: 12px; */
	/* 	background-color: #ebebeb; */
	-webkit-print-color-adjust: exact;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}
/* COMMON CSS END */
.form-control {
	font-size: 14px;
	padding-bottom: 0px;
}

/* DASHBOARD TOP PANEL CSS START */
.panel-heading {
	padding: 10px;
	background-color: #16b6f0;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.panel-heading i {
	padding-right: 15px;
	font-size: 15px;
	color: #ffc20a !important;
}

.panel-body {
	border: 1px solid #16b6f0;
	padding: 10px;
}
/* DASHBOARD TOP PANEL CSS END */
/* PAGE HEADER TEST START */
.content-header h1 {
	/* 	font-family: Raleway-Light; */
	color: #2b2176;
}
/* PAGE HEADER TEST END */
/* SECTION BOX TITLE START */
.box-title {
	/* 	font-family: Lato-Light; */
	/* 	font-weight: bold; */
	font-size: 22px;
	color: #026cc0;
	text-transform: capitalize;
}
/* SECTION BOX TITLE END */
.top-nav-bar-color {
	background-color: white;
	/*   background-image:url(../images/headerBg.png); */
	background-repeat: repeat;
	border-bottom: 2px solid #fff;
}

.navbar-brand {
	padding: 0px !important;
}

.bank-logo {
	/* height: 55px; */
	margin-top:10px;
}

.bbps-logo {
     height: 53px; 
    margin-right: 15px;
    margin-top: 2px;
}
/* SELCT BOX FONT SIZE START */
select {
	font-size: 14px;
	margin-bottom: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

input {
	font-size: 14px !important;
}

/* SELCT BOX FONT SIZE START */
.mandatory-font {
	color: #ff0000;
}

.wrapper {
	min-height: 100%;
	position: static;
	overflow: hidden;
}

.wrapper:before, .wrapper:after {
	content: " ";
	display: table;
}

.wrapper:after {
	clear: both;
}

.wrapper {
	max-width: 1250px;
	margin: 0 auto;
	min-height: 100%;
	/*box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);*/
	position: relative;
}

.wrapper {
	max-width: 100%;
}
/* LEFT PANEL OR LEFT NAVIGATION PANEL BOX START */
.main-sidebar {
	position: fixed;
	background-color: #FFF;
	/*   background-color:#9ae4f6; */
	/*   background-color:#00b5ef; */
	/*   background-image: url(../images/capsule.png); */
	/*   background-repeat: repeat; */
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}
/* LEFT PANEL OR LEFT NAVIGATION PANEL BOX END */
@media ( max-width : 767px) { /* .main-sidebar,
    .left-side {
        padding-top: 100px!important
    }*/
}

.main-sidebar {
	/* position: absolute; */
	top: 56px;
	left: 0;
	min-height: 100%;
	width: 230px;
	/*z-index: 810;*/
	-webkit-transition: -webkit-transform 0.3s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-moz-transition: -moz-transform 0.3s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-o-transition: -o-transform 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: transform 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}

@media ( max-width : 767px) {
	.main-sidebar {
	top: 52px;
	}
	.main-sidebar {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
		/*  -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0)*/
	}
}

@media ( min-width : 768px) {
	.sidebar-collapse .main-sidebar, .sidebar-collapse .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
		/*  -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0)*/
	}
	.alignDown{
 	margin-top: 25px;
	}
}

@media ( max-width : 767px) {
	.sidebar-open .main-sidebar, .sidebar-open .left-side {
		-webkit-transform: translate(0, 0) !important;
		-ms-transform: translate(0, 0) !important;
		-o-transform: translate(0, 0) !important;
		transform: translate(0, 0) !important;
		/*  -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)*/
	}
}

.sidebar {
	padding-bottom: 10px;
}

.fixed .sidebar {
	overflow: auto;
	height: 100%;
}
/* HIDE ELEMENT WHILE PRINTING START */
@media print {
	.no-print, .main-sidebar, .left-side, .main-header, .content-header {
		display: none !important;
	}
	*{border:1px solid #fff!important}
	/* .modal{
		position:absolute!important;
		padding:0px!important;margin:0px!important;
		top:30px;
	} */
	
	label {
		letter-spacing: 1px;
		font-size: 14px;
		font-weight: normal;
	}
	@page {
		size: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
	 body {
                                padding: 10px!important;
                                margin:0px!important;
                }
                .content , .modal{padding:0px!important;margin:0px!important;}
                 .modal{position:absolute!important;}
               .box-header{padding:0px!important; padding-bottom:10px!important;}
                .content-wrapper{padding:0px!important;margin:0px!important;}
                .paymentRecept th{font-weight: bold!important;}
}
/* HIDE ELEMENT WHILE PRINTING END */
.paymentRecept td{text-align:left;}
/*.content-wrapper {
  background-color: #ebebeb;
}*/
.content-wrapper, .right-side, .main-footer {
	-webkit-transition: -webkit-transform 0.3s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-moz-transition: -moz-transform 0.3s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-o-transition: -o-transform 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: transform 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-webkit-transition: margin-left 0.3s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-o-transition: margin-left 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: margin-left 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	margin-left: 230px;
}

@media ( max-width : 767px) {
	.content-wrapper, .right-side, .main-footer {
		margin-left: 0;
	}
	body {
		padding-top: 50px;
	}
	.bbps-logo {
		height: 30px;
		margin-top: 10px;
	}
	.bank-logo {
		height: 30px;
		margin-top: 10px;
	}
}

@media ( min-width : 768px) {
	.sidebar-collapse .content-wrapper, .sidebar-collapse .right-side,
		.sidebar-collapse .main-footer {
		margin-left: 0;
	}
}

@media ( max-width : 767px) {
	.sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer
		{
		-webkit-transform: translate(230px, 0);
		-ms-transform: translate(230px, 0);
		-o-transform: translate(230px, 0);
		transform: translate(230px, 0);
		/*
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0)*/
	}
}

.content-wrapper, .right-side {
	min-height: 100%;
}

.main-footer {
	font-size: 14px;
	/* background: #fff; */
	padding: 15px;
	color: #444;
	border-top: 1px solid #eee;
}

.content {
	min-height: 250px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.content-header {
	position: relative;
	padding: 15px 15px 0 15px;
}

.content-header>h1 {
	margin: 0;
	font-size: 24px;
}

.content-header>h1>small {
	font-size: 12px;
	display: inline-block;
	padding-left: 4px;
	font-weight: 300;
}

.content-header>.breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	border-radius: 2px;
}

.content-header>.breadcrumb>li {
	display: inline-block !important;
}

.content-header>.breadcrumb>li>a {
	color: #444;
	text-decoration: none;
}

.content-header>.breadcrumb>li>a>.fa, .content-header>.breadcrumb>li>a>.glyphicon,
	.content-header>.breadcrumb>li>a>.ion {
	margin-right: 5px;
}

.content-header>.breadcrumb>li+li:before {
	content: '>\00a0';
}

@media ( max-width : 991px) {
	.content-header>.breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #d2d6de;
		padding-left: 10px;
	}
	.content-header>.breadcrumb li:before {
		color: #97a0b3;
	}
}

.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
	border-top-color: #fff;
}

.box.box-intermediate {
	border-top-color: #fff;
	border-radius: 5px;
	width: 50%;
	margin: auto;
}

.box.box-info {
	border-top-color: #00c0ef;
}

.box.box-danger {
	border-top-color: #dd4b39;
}

.box.box-warning {
	border-top-color: #f39c12;
}

.box.box-success {
	border-top-color: #00a65a;
}

.box.box-default {
	border-top-color: #d2d6de;
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header-inside {
	color: #444;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	position: relative;
}

.box-header-inside h3 {
	font-size: 22px;
	/* 	font-family: Lato-Light; */
	color: #026cc0;
	text-transform: capitalize;
}

.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}

.box-header>h3>small {
	font-size: 15px;
	display: inline-block;
	padding-left: 25px;
	font-weight: 300;
}

.box-header>h3>small>i {
	padding-left: 10px;
	padding-right: 10px;
}

.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.box-top15perc {
	margin-top: 15%;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #fff;
}

.sidebar-toggle {
	float: left;
	background-color: transparent;
	background-image: none;
	padding: 15px 15px;
	font-family: fontAwesome;
	color: #16b6f0;
}

.sidebar-toggle:before {
	content: "\f0c9";
}

.sidebar-toggle:hover {
	color: #2a2075;
}

.sidebar-toggle .icon-bar {
	display: none;
}

/* start */
.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-menu>li {
	position: relative;
	margin: 0;
	padding: 0;
	/*   border-top: 1px solid #3dc9f5; */
	border-bottom: 1px solid #E7E7E7;
}

.sidebar-menu>li>a {
	color: #27357E;
	/*   text-shadow: 1px 1px #057396; */
	padding: 12px 5px 12px 15px;
	display: block;
	/*  background-color: #00b5ef;*/
}

.sidebar-menu>li>a:hover {
	background: #27357E; /* For browsers that do not support gradients */
	/*     background: -webkit-linear-gradient(#008ad1 10%, #00a2e7 90%); For Safari 5.1 to 6.0 */
	/*     background: -o-linear-gradient(#008ad1 10%, #00a2e7 90%)); For Opera 11.1 to 12.0 */
	/*     background: -moz-linear-gradient(#008ad1 10%, #00a2e7 90%)); For Firefox 3.6 to 15 */
	/*     background: linear-gradient(#008ad1 10%, #00a2e7 90%)); Standard syntax */
	/*     text-shadow: 1px 1px #057396; */
	color: #fff;
	padding: 12px 5px 12px 15px;
	display: block;
}

.sidebar-menu>li>.active {
	background: #27357E; /* For browsers that do not support gradients */
	/*   background: -webkit-linear-gradient(#008ad1 10%, #00a2e7 90%); For Safari 5.1 to 6.0 */
	/*   background: -o-linear-gradient(#008ad1 10%, #00a2e7 90%)); For Opera 11.1 to 12.0 */
	/*   background: -moz-linear-gradient(#008ad1 10%, #00a2e7 90%)); For Firefox 3.6 to 15 */
	/*   background: linear-gradient(#008ad1 10%, #00a2e7 90%)); Standard syntax */
	/*   text-shadow: 1px 1px #057396; */
	color: #fff;
	padding: 12px 5px 12px 15px;
	display: block;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion
	{
	width: 20px;
}

.sidebar-menu>li .label, .sidebar-menu>li .badge {
	margin-top: 3px;
	margin-right: 5px;
}

.sidebar-menu li.header {
	padding: 10px 25px 10px 15px;
	font-size: 12px;
}

.sidebar-menu li>a>.fa-angle-left {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px;
}

.sidebar-menu li.active>a>.fa-angle-left {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.sidebar-menu li.active>.treeview-menu {
	display: block;
}

.sidebar-menu .treeview-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
}

.sidebar-menu .treeview-menu .treeview-menu {
	padding-left: 20px;
}

.sidebar-menu .treeview-menu>li {
	margin: 0;
}

.sidebar-menu .treeview-menu>li>a {
	padding: 5px 5px 5px 15px;
	display: block;
	font-size: 14px;
}

.sidebar-menu .treeview-menu>li>a>.fa, .sidebar-menu .treeview-menu>li>a>.glyphicon,
	.sidebar-menu .treeview-menu>li>a>.ion {
	width: 20px;
}

.sidebar-menu .treeview-menu>li>a>.fa-angle-left, .sidebar-menu .treeview-menu>li>a>.fa-angle-down
	{
	width: auto;
}

.table tr th {
	width: 50%;
}

.table tr:nth-child(odd) {
	background-color: #f6f6f6;
}

.table tr:nth-child(even) {
	background-color: #fff !important;
}

.modal table {
	font-size: 14px;
}

.box-header>.breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	border-radius: 2px;
}

.box-header>.breadcrumb>li {
	display: inline-block !important;
}

.box-header>.breadcrumb>li>a {
	color: #444;
	text-decoration: none;
}

.box-header>.breadcrumb>li>a>.fa, .box-header>.breadcrumb>li>a>.glyphicon,
	.box-header>.breadcrumb>li>a>.ion {
	margin-right: 5px;
}

.box-header>.breadcrumb>li+li:before {
	content: '';
	padding-left: 10px;
}

.recept-bbps-logo {
	height: 40px;
}

.recept-bank-logo {
	height: 40px;
}

.recept-modla-logo {
	background-color: transparent;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 14px;
	color: #717171;
}

::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 14px;
	color: #717171;
}

:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 14px;
}

:-moz-placeholder {
	/* Firefox 18- */
	font-size: 14px;
	color: #717171;
}

.mandatory {
	color: #ff0000;
}

.btn {
	font-family: Arial;
	letter-spacing: 1px;
	/* 	font-family: Lato-Regular; */
	/* 	font-size:12px; */
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-primary:hover {
	color: #fff !important;
	background-color: #286090 !important;
	border-color: #204d74 !important;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary
	{
	color: #fff !important;
	background-color: #286090 !important;
	border-color: #204d74 !important;
}
/* .btn-primary{ */
/*   border: 1px solid #146a98; */
/*   background: #008ad1;  */
/*   background: -webkit-linear-gradient(#008ad1 10%, #00a2e7 90%);  */
/*   background: -o-linear-gradient(#008ad1 10%, #00a2e7 90%));  */
/*   background: -moz-linear-gradient(#008ad1 10%, #00a2e7 90%));  */
/*   background: linear-gradient(#008ad1 10%, #00a2e7 90%));  */
/*   text-shadow: 1px 1px #057396; */
/*   color: #fff; */
/* } */
.box {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

label {
	font-weight: bold;
}

.select-style {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	background: #fff url("../images/select-arraw.png") no-repeat 98% 50%;
}

.select-style select {
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 22px;
}

.select-style label {
	position: absolute;
	left: 16px;
	top: 55px;
}

.form-group {
	height: 80px;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	border: 1px solid #27357e;
	background-color: #ccc;
}

body::-webkit-scrollbar-thumb {
	background-color: #fff;
	border: 1px solid #27357e;
}

.box-title-inside {
	/* 	font-weight: bold; */
	color: #00b5ef;
}

label>span {
	font-size: 14px;
	color: #ff0000;
	padding: 0px 5px;
}

.err-head {
	color: #ff0000;
}

@
medis print { .logo-bbps-print { margin:0px;
	
}

}
input[readonly] {
	/* 	color:#383838; */
	font-size: 14px;
	background-color: #DFDFDF;
}

input[disabled] {
	/* 	color:#383838; */
	font-size: 14px;
	background-color: #DFDFDF;
}

option:checked, option:hover {
	background-color: #008ad1;
	color: #fff;
}

input[type=date]:disabled, input[type=date][readonly=readonly], input[type=datetime-local]:disabled,
	input[type=datetime-local][readonly=readonly], input[type=email]:disabled,
	input[type=email][readonly=readonly], input[type=number]:disabled,
	input[type=number][readonly=readonly], input[type=password]:disabled,
	input[type=password][readonly=readonly], input[type=search-md]:disabled,
	input[type=search-md][readonly=readonly], input[type=search]:disabled,
	input[type=search][readonly=readonly], input[type=tel]:disabled, input[type=tel][readonly=readonly],
	input[type=text]:disabled, input[type=text][readonly=readonly], input[type=time]:disabled,
	input[type=time][readonly=readonly], input[type=url]:disabled, input[type=url][readonly=readonly],
	textarea.md-textarea:disabled, textarea.md-textarea[readonly=readonly]
	{
	/*     color: #880000 !important; */
	/*     border-bottom: 1px solid #cfcfcf!important; */
	background-color: #DFDFDF;
}

th {
	text-transdform: capitalize;
}

select, input[type=date], input[type=datetime-local], input[type=email],
	input[type=number], input[type=password], input[type=search-md], input[type=search],
	input[type=tel], input[type=text], input[type=time], input[type=url],
	textarea.md-textarea {
	letter-spacing: 1px !important;
	border-bottom: 1px solid #7f7f7f !important;
}

@
-webkit-keyframes autofill {to { background:transparent;
	
}

}
input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.modal-header {
	display: none !important;
}

/* .bootstrap-dialog-message{ */
/*  text-transform: capitalize; */
/* } */

  #Transaction-Seaerch {
	font-size: smaller;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #Transaction-Seaerch tr {
    border: 1px solid #ddd;
    padding: 5px;
  }

  #Transaction-Seaerch th, table td {
    padding: 6px;
    text-align: center;
  }

  #Transaction-Seaerch th {
/*     text-transform: uppercase; */
    font-size: normal;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 600px) {
  #txnlist .table-bordered{border:none!important;}

    #Transaction-Seaerch {
      border: 0;
    }

    #Transaction-Seaerch thead {
      display: none;
    }

    #Transaction-Seaerch tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #ddd;
    }

    #Transaction-Seaerch td {
      display: block;
      text-align: right;
      font-size: 13px;
    }
      
    #Transaction-Seaerch td:first-child {
      border-top: 0!important;
    }
      
    #Transaction-Seaerch td:last-child {
      border-bottom: 0;
    }

    #Transaction-Seaerch td:before {
      content: attr(data-label);
      float: left;
      text-transform:capitalize;
      font-size:12px;
      font-weight: bold;
    }
  }

.btn-trns{
	background:#e2e2e2;
	text-transform:capitalize;
	color:#000!important;
	border:solid 1px #999999;
	font-size:.7em;
}
#Transaction-Seaerch  .fa{font-size:.9em;color:#026cc0!important;}
#Transaction-Seaerch  .trnsList-selected .fa{font-size:1em;color:#000!important;}
#Transaction-Seaerch a , .trnsList a:visited{color:#000!important; font-size:.9em;letter-spacing: 1px;}
#Transaction-Seaerch a:hover{color:color:#4c3fac!important; font-size:.85em; font-weight:bold;}
#Transaction-Seaerch .trnsList-selected, #Transaction-Seaerch .trnsList-selected:hover a{text-decoration:none!

important;}
#Transaction-Seaerch .trnsList-selected, #Transaction-Seaerch .trnsList-selected:hover{background-color:#91cafb!

important; color:#000!important;cursor:auto;}
.trnsList-selected a , .trnsList a:visited{color:#000!important;}
#Transaction-Seaerch .trnsList-selected td a:hover{color:#000!important;}
.table-hover>tbody>tr:hover {
    background-color: #c9e4fb!important;
}
/* #Transaction-Seaerch tr{cursor:pointer;} */

/* .searchResults{ */
/* 	font-size: smaller; */
/* } */
.complainAction{
	display: inline-block;
	width: 40%;
	color: white;
	padding: 3px;
	text-align: center;
}
.complainAction:HOVER {
	font-weight: bolder;
	cursor:pointer;
}

.complaintViewAction {
	border: 2px solid #1695f0 !important;
}
.refresh-icon{
	cursor:pointer;
	color: #337ab7;
	font-size:1.5em;
	margin-top:5px;
}
.audio-icon{
	cursor:pointer;
	color: #337ab7;
	font-size:1.5em;
}
.refresh-icon:hover, .audio-icon:hover{
color:#286090 !important
}
.captcha .form-group{
	height:40px!important;
}

@media (max-width: 767px) {
    #captcha_modal_div .modal-dialog.modal-sm{
    top:280px;
    }
}
@media (min-width: 768px) {
    #captcha_modal_div .modal-dialog.modal-sm{
    top:250px;
    }
}
@media (min-width: 992px) {
    #captcha_modal_div .modal-dialog.modal-sm{
    top:220px;
    }
}
@media (min-width: 1200px) {
    #captcha_modal_div .modal-dialog.modal-sm{
    top:230px;
    }
}
select::-ms-expand {
    display: none;
}

.bbpsloader{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: url('../../images/bbps/ring_loader.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
}


.bbpsnotify {
	
    background-color: #FF0000;

    position: absolute;
    bottom: 60px;
    height: 80px;
    
    border-radius: 0px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    
    z-index: 99;
}

.bbpsnotifies {
	
    background-color: #FF0000;
    position: absolute;
    height: 72px;
    border-radius: 35px;
    border-top-right-radius: 36px;
    top: 225px;
    right: 41px;
    z-index: 99;
}

#spanNoti {
  position: absolute;
  top: 30px;
  left: 15px;
  color: white;
  
}