@charset "utf-8";
/* CSS Document */
body::-webkit-scrollbar {
    width: 0.2em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color:#F00;
  outline: 1px solid slategrey;
}
.share-icon {
	display: inline-block;
	float: left;
	margin: 4px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	vertical-align: middle;
	background-image: url(../img/share/share-icons.png);
}

.share-facebook {
	background-position: 0px 0px;
}

	.share-facebook:hover {
		background-position: 0px -40px;
	}

.share-twitter {
	background-position: -40px 0px;
}

	.share-twitter:hover {
		background-position: -40px -40px;
	}

.share-pinterest {
	background-position: -80px 0px;
}

	.share-pinterest:hover {
		background-position: -80px -40px;
	}

.share-linkedin {
	background-position: -240px 0px;
}

	.share-linkedin:hover {
		background-position: -240px -40px;
	}


.share-googleplus {
	background-position: -120px 0px;
}

	.share-googleplus:hover {
		background-position: -120px -40px;
	}


.share-stumbleupon {
	background-position: -360px 0px;
}

	.share-stumbleupon:hover {
		background-position: -360px -40px;
	}

.share-email {
	background-position: -320px 0px;
}

	.share-email:hover {
		background-position: -320px -40px;
	}

.ad_title_share {
	position: relative;
	top: 5px;
	width: 160px;
	height: 80px;
	margin-left: 22px;
}

.share-icons-sidebar {
	position: fixed;
	display: block;
	top: 110px;
	left: 0px;
	width: 40px;
	height: 240px;
}

@media only screen and (max-width: 1080px) {
	.ad_title_share {
		display: none;
	}

	.share-icons-sidebar {
		display: none;
	}
}
.thumb {
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	display: inline;
	margin: 10px;
	width: 300px;
	height: 250px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(109, 109, 109, 0.3);
	-moz-box-shadow: 1px 1px 5px 0px rgba(109, 109, 109, 0.3);
	box-shadow: 1px 1px 5px 0px rgba(109, 109, 109, 0.3);
}

.thumbb, a.thumbb {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 302px;
	height: 252px;
	color: #000;
	background-color: #CCC;
}

	a.thumbb:visited {
		color: #ff8400;
	}

	.thumbb:hover, a.thumbb:hover {
		color: #fff;
		background-color: #ff8400;
	}

.thumbi {
	position: absolute;
	left: 1px;
	top: 36px;
	width: 300px;
	height: 215px;
	line-height: 211px;
	text-align: center;
	background-color: #F6F6F6;
	background-position: center center;
	background-repeat: no-repeat;
}

	.thumbi img {
		vertical-align: middle;
		border: none;
	}

.thumbc {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 300px;
	height: 35px;
	background-color: #EAEAEA;
}

a.thumbb:hover .thumbc {
	background-color: #ff8400;
}

.thumbc {
	font-size: 18px;
	line-height: 35px;
	text-align: center;
}

.thumb_wrapper {
	position: relative;
	margin: 10px auto;
	padding: 0px;
	width: 100%;
	max-width: 960px;
	/*height: 100%;*/
	overflow: hidden;
}

.reserve_sidebar_space {
	float: none;
}

@media only screen and (min-width: 960px) {
	.reserve_sidebar_space {
		max-width: 640px;
		float: left;
		margin: 10px;
	}
}

@media only screen and (max-width: 959px) {
	.thumb_wrapper {
		max-width: 640px;
	}
}

@media only screen and (max-width: 639px) {
	.thumb_wrapper {
		max-width: 320px;
	}
}

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
	position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
	width: 16px;
	height: 16px;
	background: url(../img/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l                  (normal)
.jssora11r                  (normal)
.jssora11l:hover            (normal mouseover)
.jssora11r:hover            (normal mouseover)
.jssora11l.jssora11ldn      (mousedown)
.jssora11r.jssora11rdn      (mousedown)
*/
.jssora11l, .jssora11r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 37px;
	height: 37px;
	cursor: pointer;
	background: url(../img/a11.png) no-repeat;
	overflow: hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11l.jssora11ldn { background-position: -251px -41px; }
.jssora11r.jssora11rdn { background-position: -311px -41px; }

.payplutus_formshadow_box{
	position:absolute;
	top:70px;
	left:10%;
	z-index:9999;
}

.payplutus_formshadow{
	height:auto;
	min-height:320px;
	background: -webkit-linear-gradient(#46baed,#005081,  #005081,#46baed); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#46baed,#005081,  #005081,#46baed); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#46baed,#005081,  #005081,#46baed); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#46baed,#005081, #005081,#46baed); /* Standard syntax (must be last) */
	position:absolute;	
	border-top:8px solid #023761;
	border-bottom:14px solid #01a7e3;
	border-radius:10px 10px 10px 10px;
}
.payplutus_tab{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 0px;
	line-height:35px;
	border-radius:0px 0px 10px 10px;
}
.payplutus_tab:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 0px;
	border-radius:0px 0px 10px 10px;
	line-height:35px;
}
.payplutus_tab:focus{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 0px;
	line-height:35px;
	border-radius:0px 0px 10px 10px;
}
.payplutus_tab_active{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#023761;
	background: -webkit-linear-gradient(#023761,#005081,  #005081,#023761); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#023761,#005081,  #005081,#023761); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#023761,#005081,  #005081,#023761); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#023761,#005081, #005081,#023761); /* Standard syntax (must be last) */
	padding:10px 0px;
	line-height:35px;
	border-radius:0px 0px 10px 10px;
}
.payplutus_tab_active:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#023761;
	background: -webkit-linear-gradient(#023761,#005081,  #005081,#023761); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#023761,#005081,  #005081,#023761); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#023761,#005081,  #005081,#023761); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#023761,#005081, #005081,#023761); /* Standard syntax (must be last) */
	padding:10px 0px;
	line-height:35px;
	border-radius:0px 0px 10px 10px;
}
.payplutus_tab_active:focus{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#023761;
	background: -webkit-linear-gradient(#023761,#005081,  #005081,#023761); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#023761,#005081,  #005081,#023761); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#023761,#005081,  #005081,#023761); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#023761,#005081, #005081,#023761); /* Standard syntax (must be last) */
	padding:10px 0px;
	line-height:35px;
	border-radius:0px 6px;
}
.tab{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.tab:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}.tab:focus{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.payplutus_mt5{
	margin-top:10px;
	margin-left:5%;
}
.payplutus_mt10{
	margin-top:10px;
	margin-left:12%;
}
.payplutus_textbox{
	width:90%;
	height:30px;
	padding:0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #ccc;
	border-top:3px solid #ccc;
	outline:0;
}
.payplutus_textbox_login{
	width:90%;
	height:35px;
	padding:0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #ccc;
	outline:0;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.payplutus_textbox_amount{
	width: 60%;
  height: 30px;
  padding:0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: #FFFFFF;
  border: none;
  border-top: 3px solid #ccc;
  outline: 0;
  float: left;
}
.payplutus_textbox_plan{
	width: 30%;
  height: 30px;
  padding: 6px 10px 6px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  color: #0099FF;
  background-color: #FFFFFF;
  border: none;
  border-top: 3px solid #ccc;
  outline: 0;
  float: left;
}
.payplutus_textbox_plan:hover{
	width: 30%;
  height: 30px;
  padding: 6px 10px 6px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  color:#0099FF;
  background-color: #FFFFFF;
  border: none;
  border-top: 3px solid #ccc;
  outline: 0;
  float: left;
}
.payplutus_textbox_plan:focus{
	width: 30%;
  height: 30px;
  padding: 6px 10px 6px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: #FFFFFF;
  border: none;
  border-top: 3px solid #ccc;
  outline: 0;
  float: left;
}
.payplutus_dropdown{
	width:90%;
	height:30px;
	padding:0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #ccc;
	border-top:3px solid #ccc;
	outline:0;
}
.payplutus_button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:600;
	color:#333;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	background-color:#87c440;
	background: -webkit-linear-gradient(#87c440,#87c440,  #87c440,#87c440); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#87c440,#87c440,  #87c440,#87c440); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#87c440,#87c440,  #87c440,#87c440); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#87c440,#87c440, #87c440,#87c440); /* Standard syntax (must be last) */
	padding:10px;
	line-height:15px;
	border:1px solid #f3de4b;
	outline:0;
}
.payplutus_h1{
	font-family:montserrat,Arial,sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:bold;
	color:#023761;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	padding:10px 0px;
}
.payplutus_h1log{
	font-family:montserrat,Arial,sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
	color:#333333;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	padding:10px 0px;
}
.para{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:400;
	color:#666666;
	text-align: left;
	text-decoration:none;
	text-transform:capitalize;
	line-height:25px;
}
.para_2{
	font-family:montserrat,Arial,sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight: bold;
	color:#333;
	text-align:left;
	text-decoration:none;
	text-transform:capitalize;
	line-height:25px;
}
.payplutus_h3{
	font-family:montserrat,Arial,sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:400;
	color:#333;
	text-align:center;
	text-decoration:none;
	text-transform:none;
}
.payplutus_para{
	font-family:montserrat,Arial,sans-serif;
	font-size:20px;
	font-variant:normal;
	font-style:normal;
	color:#333;
	text-align: center;
	text-decoration:none;
	text-transform:none;
	line-height:22px;
	display:none;	
}
.payplutus_para_2{
	font-family:montserrat,Arial,sans-serif;
	font-size:13px;
	font-variant:normal;
	font-weight:500;
	font-style:normal;
	color:#333;
	text-align:justify;
	text-decoration:none;
	text-transform:none;
	line-height:22px;
	
}
.payplutus_footer_h1{
	font-family:montserrat,Arial,sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:500;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	padding:10px 0px;
}
.payplutus_footer_h1sml{
	font-family:montserrat,Arial,sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:500;
	color:#333;
	text-align: left;
	text-decoration:none;
	text-transform:none;
}
.payplutus_para_left{
	font-family:montserrat,Arial,sans-serif;
	font-size:13px;
	font-variant:normal;
	font-style:normal;
	color:#fff;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	line-height:25px;	
}
.payplutus_para_banner{
	font-size:16px;
	font-variant:normal;
	font-style:normal;
	color:#FFF;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	line-height:25px;	
	font-family:"myriad Pro";
}
.payplutus_para_center{
	font-family:montserrat,Arial,sans-serif;
	font-size:16px;
	font-variant:normal;
	font-style:normal;
	color:#FFF;
	text-align: center;
	text-decoration:none;
	text-transform:none;
	line-height:15px;	
}
.clear{
	padding:10px 0px;
	height:1px;
	float:left;
	width:100%;
	border-top:1px solid #ccc;
	margin-top:1%;
	margin-bottom:1%;
}
.payplutus_ul{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color:#333;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	line-height:30px;
	float:left;
	list-style:none;
}
.payplutus_copyright{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-variant:normal;
	font-style:normal;
	color:#fff;
	text-align: center;
	text-decoration:none;
	text-transform:none;
	line-height:1px;	
}
.payplutus_popup_1{
	height:300px;
	background-color:#FFFFFF;
	overflow:auto;
}
.payplutus_popup_1::-webkit-scrollbar {
    width: 0.5em;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
 
.payplutus_popup_1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
 
.payplutus_popup_1::-webkit-scrollbar-thumb {
  background-color:#333;
  outline: 1px solid slategrey;
  border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
.payplutus_popup{
	height:350px;
	border-top:8px solid #023761;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	display:none;
	position:absolute;
	top:130px;
	right:12%;
	background-color:#FFFFFF;
	opacity:1;
	box-shadow:0 10px 15px #333;
	overflow:auto;
}
.payplutus_popup::-webkit-scrollbar {
    width: 0.5em;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
 
.payplutus_popup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
 
.payplutus_popup::-webkit-scrollbar-thumb {
  background-color:#333;
  outline: 1px solid slategrey;
  border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
@media only screen and (max-width: 480px) {
.payplutus_formshadow_box{
	width:100%;
	height:auto;
	z-index:9999;
	position:inherit!important;
	min-height:430px;
}
.payplutus_para_banner {
  font-size: 18px;
  font-variant: normal;
  font-style: normal;
  color: #023963;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  line-height: 26px;
  font-family: "myriad Pro";
}
.payplutus_para {
  font-family: montserrat,Arial,sans-serif;
  font-size: 13px;
  font-variant: normal;
  font-style: normal;
  color: #333;
  text-align: justify;
  text-decoration: none;
  text-transform: none;
  line-height: 22px;
}
.payplutus_popup {
  height: 350px;
  border-top: 8px solid #023761;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  position: fixed;
  top:50px;
  z-index:9999;
  left:0%;
  background-color: #FFFFFF;
  opacity: 1;
  box-shadow: 0 10px 15px #333;
  overflow: auto;
}
.payplutus_login {
  height: 550px;
  border: 2px solid #FFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  position: absolute;
  top: 60px;
  left:0%;
  background-color: #FFFFFF;
  opacity: 1;
  box-shadow: 0 10px 15px #333;
  z-index: 9999;
}
}
@media only screen and (max-width: 640px) {
.payplutus_formshadow_box{
	width:100%;
	height:auto;
	z-index:9999;
	position:inherit!important; 
	min-height:430px;
}
.payplutus_para_banner {
  font-size: 18px;
  font-variant: normal;
  font-style: normal;
  color: #023963;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  line-height: 26px;
  font
  
}
.payplutus_para {
  font-family: montserrat,Arial,sans-serif;
  font-size: 13px;
  font-variant: normal;
  font-style: normal;
  color: #333;
  text-align: justify;
  text-decoration: none;
  text-transform: none;
  line-height: 22px;
}
.payplutus_popup {
  height: 350px;
  border-top: 8px solid #023761;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  position: fixed;
  top:50px;
  z-index:9999;
  left:0%;
  background-color: #FFFFFF;
  opacity: 1;
  box-shadow: 0 10px 15px #333;
  overflow: auto;
}
.payplutus_login {
  height: 550px;
  border: 2px solid #FFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  position: absolute;
  top: 60px;
  left:0%;
  background-color: #FFFFFF;
  opacity: 1;
  box-shadow: 0 10px 15px #333;
  z-index: 9999;
}
}
@media only screen and (max-width: 840px) {
.payplutus_formshadow_box{
	width:100%;
	height:auto;
	z-index:9999;
	position:inherit!important; 
	min-height:430px;
  	
}
.payplutus_para_banner {
 font-size: 18px;
  font-variant: normal;
  font-style: normal;
  color: #023963;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  line-height: 26px;
  font-family: "myriad Pro";
}
.payplutus_para {
  font-family: montserrat,Arial,sans-serif;
  font-size: 13px;
  font-variant: normal;
  font-style: normal;
  color: #333;
  text-align: justify;
  text-decoration: none;
  text-transform: none;
  line-height: 22px;
}
.payplutus_popup {
  height: 350px;
  border-top: 8px solid #023761;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  position: fixed;
  top:50px;
  z-index:9999;
  left:0%;
  background-color: #FFFFFF;
  opacity: 1;
  box-shadow: 0 10px 15px #333;
  overflow: auto;
}
.payplutus_login {
  height: 550px;
  border: 2px solid #FFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
  position: absolute;
  top: 60px;
  left:0%;
  background-color: #FFFFFF;
  opacity: 1;
  box-shadow: 0 10px 15px #333;
  z-index: 9999;
}
}
.payplutus_planstab{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color:#333333;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	height:25px;
}
.payplutus_plan_tab{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#333;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#fff;
	padding:10px;
	border:1px solid #ccc;
}
.plan_tab{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#333;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.payplutus_plan_tab:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#023761;
	padding:10px;
	border:1px solid #ccc;
}
.plan_tab:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.payplutus_plan_tab_active{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#023761;
	padding:10px;
	border:1px solid #FFF;
}
.plan_tab_active{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.payplutus_plan_tab_active:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#023761;
	padding:10px;
	border:1px solid #FFF;
}
.plan_tab_active:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.payplutus_plan_tab_active:focus{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#023761;
	padding:10px;
	border:1px solid #FFF;
}
.plan_tab_active:focus{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:100;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.plan_header{
	background-color:#f1f1f1;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px 0px;
	margin-top:3%;
}
.plan_header-1{
	background-color:#f1f1f1;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px 0px;
	margin-top:0%;
}
.plan_h1{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color:#003399;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	border-left:1px solid #ccc;
}
.plan_h1-1{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color:#003399;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
}
.plan_header_light{
	background-color:#fafafa;
	border-bottom:1px solid #f1f1f1;
	padding:10px 0px;
	margin-top:0%;
}
.plan_header_light_2{
	background-color:#fff;
	border-bottom:1px solid #fff;
	padding:10px 0px;
	margin-top:0%;
}
.plan_h2{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight: normal;
	color:#333;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	border-left:1px solid #ccc;
}
.plan_h2-1{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight: normal;
	color:#333;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
}
.plan_h3{
	font-family:montserrat,Arial,sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight: normal;
	color:#333;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	border-left:1px solid #ccc;
}
#payplutus_popup::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
} 
.payplutus_login{
	height:550px;
	border:2px solid #FFF;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	display:none;
	position: fixed;
	top:60px;
	left:32%;
	background-color:#FFFFFF;
	opacity:1;
	box-shadow:0 10px 15px #333;
	z-index:9999;
}
.payplutus_log_btn{
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:600;
	text-align:center;
	text-decoration:none;
	text-transform: uppercase;
	color:#FFFFFF;
	background-color:#6dbd64;
	padding:8px;
	border:none;
	outline:0;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	width:90%;
}
.payplutus_guest_btn{
	font-family: montserrat,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgb(6, 110, 171);
    padding: 8px 0px;
    border: none;
    outline: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    width: 84%;
}

.clear_2{
	padding:10px 0px;
	height:1px;
	width:90%;
	margin-left:5%;
	margin-right:auto;
	float:left;
	border-top:1px solid #ccc;
	margin-top:3%;
	margin-bottom:1%;
}
.clear_3{
	padding:10px 0px;
	height:1px;
	width:84%;
	margin-left:8%;
	margin-right:auto;
	float:left;
	border-top:1px solid #ccc;
	margin-top:1%;
	margin-bottom:1%;
}
.facebook_btn{
	width:60%;
	height:35px;
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#FFFFFF;
	background-color:#3b5999;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	padding:10px 10px;
	float:left;
	margin-left:20%;
}
.google_btn{
	width:56%;
	height:35px;
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#FFFFFF;
	background-color:#dd4a36;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	padding:10px 10px;
	float:left;
	margin-left:22%;
	margin-top:2%;
}
.facebook_btn:hover{
	width:60%;
	height:35px;
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#FFFFFF;
	background-color:#3b5999;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	padding:10px 10px;
	float:left;
	margin-left:20%;
}
.google_btn:hover{
	width:56%;
	height:35px;
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#FFFFFF;
	background-color:#dd4a36;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	padding:10px 10px;
	float:left;
	margin-left:22%;
	margin-top:2%;
}
.facebook_btn:focus{
	width:60%;
	height:35px;
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#FFFFFF;
	background-color:#3b5999;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	padding:10px 10px;
	float:left;
	margin-left:20%;
}
.google_btn:focus{
	width:56%;
	height:35px;
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#FFFFFF;
	background-color:#dd4a36;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	padding:10px 10px;
	float:left;
	margin-left:22%;
	margin-top:2%;
}
.login_footer{
	width:100%;
	float:left;
	margin-left:0%;
	margin-top:7%;
	background-color:#f5f5f5;
	border-top:1px solid #f1f1f1;
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#333;
	padding:32px;
}
.login_link{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	color:#00CC00;
	padding:10px 10px;
}
.left_menu{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:400;
	color:#333333;
	text-align:left;
	text-decoration:none;
	text-transform:capitalize;
	line-height:25px;
	width:100%;
	padding:15px 15px;
	background-color:#FFFFFF;
	border-bottom:1px solid #ccc;
	float:left;
}
.left_menu_active{
	font-family:montserrat,Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:400;
	color:#333333;
	text-align:left;
	text-decoration:none;
	text-transform:capitalize;
	line-height:25px;
	width:100%;
	padding:15px 15px;
	background-color:#f1f1f1;
	border-bottom:1px solid #ccc;
	float:left;
}
.profile_para{
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	color:#333333;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	padding:5px 0px;
}
.transaction-orders{
	height:auto;
	min-height:100px;
	padding-bottom:5px;
	padding-top:5px;
	background-color:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
}
.tr_date{
	background-color:#FFFFFF;border:1px solid #03ABE5;padding:1px;text-align:center;font-size:1.5em;
}
.tr_month{
	padding:1px;text-align:center;font-size:1em;background-color:#03ABE5;border:1px solid #03ABE5;color:#FFFFFF;
}
.transaction-input-btn-2{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 12px;
  	font-style: normal;
  	font-weight: bold;
  	color: #333;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color:#F1F1F1;
	border:1px solid #ccc;  	
  	padding: 5px 15px;
  	float: left;
  	margin-left: 0%;
  	margin-top: 2%;
}
.transaction-input-btn-2:hover{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 12px;
  	font-style: normal;
  	font-weight: bold;
  	color: #333;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color: #F1F1F1; 
	border:1px solid #ccc; 	
  	padding: 5px 15px;
  	float: left;
  	margin-left: 0%;
  	margin-top: 2%;
}

.transaction-input-btn-3{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 13px;
  	font-style: normal;
  	font-weight: bold;
  	color: #FFF;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color:#0066CC;
	border:1px solid #FFF;  	
  	padding: 7px 25px;
  	float: left;
  	margin-left: 0%;
  	margin-top: 2%;
}
.transaction-input-btn-3:hover{
	font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold", "Arial Unicode MS", "Times New Roman";
  	font-size: 13px;
  	font-style: normal;
  	font-weight: bold;
  	color: #FFF;
  	text-align: center;
  	text-decoration: none;
  	text-transform: capitalize;
  	background-color:#0066CC;
	border:1px solid #FFF;  	
  	padding: 7px 25px;
  	float: left;
  	margin-left: 0%;
  	margin-top: 2%;
}
.hidden_txt{
	font-family:montserrat,Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	color:#0066CC;
	text-align:center;
	text-decoration:;
	text-transform:none;
	background-color:#FAFAFA;
	border:none;
	outline:0;
	width:65%;
	height:auto;
	cursor:pointer;
}
.shadow{
	height: auto;
    float: left;
    margin-left: 0%;
    margin-right: 0%;
	margin-top:2%;
    border: 1px solid #ccc;
    box-shadow: 0 5px 11px #ccc;
    background-color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    padding-left: 6px!important;
    padding-right: 6px!important;
}
.invoice_header{
	padding-bottom: 12px;
    padding-top: 12px;
    background-color: #12131C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.success_row{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:left;
	color:#333333;
	text-decoration:none;
	text-transform:capitalize;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #CCCCCC;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color:#CC3366;
	background: url(../images/loader.png) center no-repeat #000;
}