@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-bolditalic-webfont.woff);
}

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-bold-webfont.woff);
}

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-extrabolditalic-webfont.woff);
}

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-extrabold-webfont.woff);
}

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-italic-webfont.woff);
}

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-lightitalic-webfont.woff);
}

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-light-webfont.woff);
}

@font-face {
	font-family: 'Open Sans Hebrew';
	src: url(opensanshebrew-regular-webfont.woff);
}

@media only screen and (width: 1366px) {
	.box_form {
		background-color: #006d6e;
		box-shadow: 0 2px 4px #ccc;
		padding: 10px 0px;
		margin: 3% 0% !important;
	}
}

@media only screen and (width: 1440px) {
	.box_form {
		background-color: #006d6e;
		box-shadow: 0 2px 4px #ccc;
		padding: 10px 0px;
		margin: 6% 0% !important;
	}
}

@media only screen and (width: 1600px) {
	.box_form {
		background-color: #006d6e;
		box-shadow: 0 2px 4px #ccc;
		padding: 10px 0px;
		margin: 11% 0% !important;
	}
}

@media only screen and (width: 1680px) {
	.box_form {
		background-color: #006d6e;
		box-shadow: 0 2px 4px #ccc;
		padding: 10px 0px;
		margin: 14% 0% !important;
	}
}

@media only screen and (width: 1920px) {
	.box_form {
		background-color: #006d6e;
		box-shadow: 0 2px 4px #ccc;
		padding: 10px 0px;
		margin: 23% 0% !important;
	}
}

@media only screen and (max-width: 1279px) {
	h1, ul, li {
		font-size: 1em !important;
	}
	.para_break {
		text-align: right;
		margin: 0;
		float: right;
		font-family: 'Open Sans Hebrew';
		font-size: 0.8em !important;
	}
	.para_break1 {
		text-align: left;
		margin: 0;
		float: right;
		font-family: 'Open Sans Hebrew';
		font-size: 0.8em !important;
	}
	/* Styles */
	.header_no {
		font-family: 'Open Sans Hebrew';
		font-size: 1em !important;
		font-style: normal;
		font-weight: bold;
		color: #006d6e;
		text-align: left;
		text-decoration: none;
		text-transform: none;
		margin: 0 !important;
	}
	.black {
		font-family: 'Open Sans Hebrew';
		font-size: 12px;
		font-weight: normal;
		color: #333333;
		padding-top: 10px;
	}
	.header_no_2 {
		font-family: 'Open Sans Hebrew';
		font-size: 3em !important;
		font-style: normal;
		font-weight: 100;
		color: #FFF;
		text-align: center;
		text-decoration: none;
		text-transform: none;
		padding: 10px 0px !important;
	}
	.name_text {
		font-family: 'Open Sans Hebrew';
		font-size: 0.8em !important;
		font-style: normal;
		font-weight: normal;
		color: #333333;
		text-align: right;
		text-decoration: none;
		text-transform: none;
	}
	.name_text_1 {
		font-family: 'Open Sans Hebrew';
		font-size: 0.8em !important;
		font-style: normal;
		font-weight: normal;
		color: #333333;
		text-align: center;
		text-decoration: none;
		text-transform: none;
	}
	.name_text_2 {
		font-family: 'Open Sans Hebrew';
		font-size: 1em !important;
		font-style: normal;
		font-weight: normal;
		color: #333333;
		text-align: center;
		text-decoration: none;
		text-transform: none;
	}
	#img_banner {
		width: 126% !important;
	}
	.nivo-controlNav {
		position: absolute;
		bottom: 60px;
		text-align: center;
		right: 190px !important;
	}
	.textbox {
		width: 94%;
		padding: 4px 10px !important;
		border: 1px solid #FFF;
		font-family: 'Open Sans Hebrew';
		font-size: 12px !important;
		font-style: normal;
		font-weight: bold;
		text-align: right;
		float: right;
		color: #333333;
	}
	.button {
		background: #ffad05;
		color: #000;
		font-family: 'Open Sans Hebrew';
		font-size: 1.5em !important;
		height: 30px !important;
		width: 94%;
		line-height: 30px;
		margin: 8px 15px;
		text-align: center;
		border: 0;
		transition: all 0.3s ease 0s;
	}
	.button {
		opacity: 1;
	}
	.button:hover {
		font-family: 'Open Sans Hebrew';
		background: #29afb2;
		color: #FFFFFF;
		opacity: 0.75;
	}
	#mega_menu {
		clear: both;
		z-index: 50;
		height: 56px;
		border-bottom: 1px solid #F7A400;
	}
	#mega_menu.noborder {
		border: 0;
	}
	#mega_menu .home_menu_btn.active a {
		background-color: transparent;
	}
	#mega_menu .home_menu_btn.active {
		background-color: #006d6e;
		height: 56px;
	}
	#mega_menu .home_menu_btn.active2 {
		background-color: FF0000;
		height: 56px;
	}
	#mega_menu .home_menu_btn {
		background-image: url(../image/home_menu_btn.png);
		background-repeat: no-repeat;
		background-position: 6px -20px;
		height: 56x;
	}
	#mega_menu .home_menu_btn a {
		background-color: transparent;
		padding: 18px 20px;
	}
	#mega_menu .home_menu_btn a:hover {
		background-color: transparent;
	}
	#mega_menu>ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
	#mega_menu>ul>li {
		position: relative;
		float: left;
		display: block;
		height: 56px;
		padding: 0;
	}
	#mega_menu>ul>li>a {
		font-family: 'Open Sans Hebrew';
		font-size: 1em !important;
		line-height: 36px;
		text-decoration: none;
		display: block;
		color: #333;
		text-transform: uppercase;
		padding: 50px 8px !important;
		-webkit-transition: 0.3s ease all;
		-moz-transition: 0.3s ease all;
		-ms-transition: 0.3s ease all;
		-o-transition: 0.3s ease all;
		transition: all 0.3s ease 0s;
	}
	#mega_menu>ul>li:hover a {
		background: none;
	}
	#mega_menu>ul>li:hover a, #mega_menu>ul>li.active a {
		color: #fff;
		background-color: #006d6e;
	}
	/***************************************menu_dropdown************/
	#mega_menu>ul>li>div.dropdown {
		font-family: 'Open Sans Hebrew';
		background: #fff;
		display: none;
		position: absolute;
		z-index: 9999;
		border-top: 1px solid #FFF;
		border-bottom: 4px solid #FFF;
		width: 200px;
		box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
		right: 0px;
		text-align: right;
	}
	#mega_menu>ul>li>div.dropdown ul li a {
		color: #646464;
		background: none;
		padding: 5px 10px 5px 12px;
		display: block;
	}
	#mega_menu>ul>li>div.dropdown ul li a:hover {
		color: #006d6e;
		text-decoration: none !important;
	}
	#mega_menu>ul>li>div.dropdown ul li:hover {
		color: #006d6e;
		text-decoration: none !important;
	}
	#mega_menu>ul>li:hover>div {
		display: block;
	}
	#mega_menu>ul>li>div.dropdown ul li {
		
	}
	#mega_menu>ul>li>div.dropdown a.parent:hover {
		text-decoration: underline
	}
	#mega_menu>ul>li>div.dropdown a.parent+.column.category {
		
	}
	#mega_menu>ul>li>div.dropdown ul {
		margin: 0;
		padding: 0;
		width: 180px;
	}
	#mega_menu>ul>li>div.dropdown ul li {
		list-style: none;
	}
	#mega_menu ul li ul li {
		position: relative
	}
	.menu_banner {
		float: left;
		margin: 6px;
		padding-left: 6px;
	}
	.box_form {
		background-color: #006d6e;
		box-shadow: 0 2px 4px #ccc;
		padding: 10px 0px;
		margin: 0% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.header_no_2 {
		font-family: 'Open Sans Hebrew';
		font-size: 1em !important;
		font-style: normal;
		font-weight: 100;
		color: #FFF;
		text-align: center;
		text-decoration: none;
		text-transform: none;
		padding: 17px 0px !important;
		margin-left: 0% !important;
		float: left !important;
	}
}

@media only screen and (max-width: 640px) {
	.header_no_2 {
		font-family: 'Open Sans Hebrew';
		font-size: 1.8em !important;
		font-style: normal;
		font-weight: 100;
		color: #FFF;
		text-align: center;
		text-decoration: none;
		text-transform: none;
		padding: 10px 0px !important;
	}
}

.para_break1 {
	text-align: left;
	margin: 0;
	float: right;
	font-family: 'Open Sans Hebrew';
	font-size: 15px;
}

.para_break {
	text-align: right;
	margin: 0;
	float: right;
	font-family: 'Open Sans Hebrew';
	font-size: 15px;
}
/* CSS Document */
.header_no {
	font-family: 'Open Sans Hebrew';
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #006d6e;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	margin: 0 !important;
}

.black {
	font-family: 'Open Sans Hebrew';
	font-size: 13px;
	font-weight: normal;
	color: #333333;
	padding-top: 10px;
}

.header_no_2 {
	font-family: 'Open Sans Hebrew';
	font-size: 48px;
	font-style: normal;
	font-weight: 100;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	margin: 0;
	padding: 15px 0px;
}

.box_form {
	background-color: #006d6e;
	box-shadow: 0 2px 4px #ccc;
	padding: 10px 0px;
	margin: -1% 0%;
}
/* Mega Menu */
/* menu */
.top_main_menu {
	
}

#mega_menu {
	clear: both;
	z-index: 50;
	height: 56px;
	border-bottom: 1px solid #F7A400;
}

#mega_menu.noborder {
	border: 0;
}

#mega_menu .home_menu_btn.active a {
	background-color: transparent;
}

#mega_menu .home_menu_btn.active {
	background-color: #006d6e;
	height: 56px;
}

#mega_menu .home_menu_btn.active2 {
	background-color: FF0000;
	height: 56px;
}

#mega_menu .home_menu_btn {
	background-image: url(../image/home_menu_btn.png);
	background-repeat: no-repeat;
	background-position: 6px -20px;
	height: 56x;
}

#mega_menu .home_menu_btn a {
	background-color: transparent;
	padding: 18px 20px;
}

#mega_menu .home_menu_btn a:hover {
	background-color: transparent;
}

#mega_menu>ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#mega_menu>ul>li {
	position: relative;
	float: left;
	display: block;
	height: 56px;
	padding: 0;
}

#mega_menu>ul>li>a {
	font-family: 'Open Sans Hebrew';
	font-size: 16px;
	line-height: 36px;
	text-decoration: none;
	display: block;
	color: #333;
	text-transform: uppercase;
	padding: 50px 15px;
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
	transition: all 0.3s ease 0s;
}

#mega_menu>ul>li:hover a {
	background: none;
}

#mega_menu>ul>li:hover a, #mega_menu>ul>li.active a {
	color: #fff;
	background-color: #006d6e;
}
/***************************************menu_dropdown************/
#mega_menu>ul>li>div.dropdown {
	font-family: 'Open Sans Hebrew';
	background: #fff;
	display: none;
	position: absolute;
	z-index: 9999;
	border-top: 1px solid #FFF;
	border-bottom: 4px solid #FFF;
	width: 160px;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	right: 0px;
	text-align: right;
}

#mega_menu>ul>li>div.dropdown ul li a {
	color: #646464;
	background: none;
	padding: 5px 45px 5px 9px;
	display: block;
}

#mega_menu>ul>li>div.dropdown ul li a:hover {
	color: #006d6e;
	text-decoration: none !important;
}

#mega_menu>ul>li>div.dropdown ul li:hover {
	color: #006d6e;
	text-decoration: none !important;
}

#mega_menu>ul>li:hover>div {
	display: block;
}

#mega_menu>ul>li>div.dropdown ul li {
	
}

#mega_menu>ul>li>div.dropdown a.parent:hover {
	text-decoration: underline
}

#mega_menu>ul>li>div.dropdown a.parent+.column.category {
	
}

#mega_menu>ul>li>div.dropdown ul {
	margin: 0;
	padding: 0;
	width: 180px;
}

#mega_menu>ul>li>div.dropdown ul li {
	list-style: none;
}

#mega_menu ul li ul li {
	position: relative
}

.menu_banner {
	float: left;
	margin: 6px;
	padding-left: 6px;
}
/* Mega Menu End */
/* =============================================Mobile Menu ========================================== */
.nav-collapse {
	text-align: left;
}

.navbar .nav>li {
	padding: 10px 30px 20px 0;
}

#ma-mobilemenu {
	height: auto;
	display: none;
	float: left;
	width: 100%;
	margin: 10px 0 0;
}

.nav-collapse, .nav-collapse.collapse {
	
}

.navbar-inner {
	background: #fff;
	border: 0 !important;
	box-shadow: none !important;
	padding: 0;
}

.navbar {
	background-color: #006d6e;
	border-radius: 0;
	margin: 0
}

.menu-mobile {
	float: left;
	width: 100%;
	padding: 0 2%;
}

.navbar .btn-navbar {
	margin-top: 10px;
	border: 0 !important;
	box-shadow: none !important;
	background: url("../images/bg-menu-mobile.png") no-repeat 50% 50%;
	padding: 10px
}

.navbar .btn-navbar:hover {
	background: url("../images/bg-menu-mobile.png") no-repeat 50% 50%
		!important;
	font-family: 'helvetica';
}

.navbar .btn-navbar .icon-bar {
	box-shadow: none !important;
	border-radius: 0 !important;
	background-color: inherit !important;
}

.mobilemenu>li.last a {
	border-bottom: 0;
}

.navbar .brand {
	color: #fff;
	text-transform: uppercase;
	text-shadow: none;
	font-size: 18px;
	font-family: Bitter;
	padding-top: 18px;
}

.mobilemenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.collapse.in {
	
}

.mobilemenu ul {
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	width: 100%;
}

.mobilemenu li {
	background: #faf8f8;
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	width: 100%;
	position: relative;
}

.mobilemenu li.level0.last {
	margin-bottom: 10px;
}

.mobilemenu li.active>a {
	/*background: url('http://www.plazathemes.com/demo/ma_bstore/skin/frontend/ma_bstore/ma_bstore2/images/close.gif') no-repeat center right;*/
	
}

.mobilemenu li div {
	padding: 20px;
	background: #aef;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}

.mobilemenu a {
	text-decoration: none;
	border-bottom: 1px solid #e0d8d8;
	line-height: 40px;
	font-family: 'Open Sans Hebrew' !important;
	font-weight: normal;
	color: #666;
	margin: 0 15px;
	display: block;
	text-align: right;
	cursor: pointer;
	font-size: 16px;
	text-transform: capitalize;
}

.mobilemenu li.active a, .mobilemenu a:hover {
	color: #006D6E
}

.mobilemenu ul a {
	color: #666 !important;
}

.mobilemenu ul a:hover, .mobilemenu ul li.active a {
	color: #006D6E !important;
}

.mobilemenu ul ul a, .mobilemenu ul li.active ul a {
	color: #666 !important;
}

.mobilemenu ul ul a:hover, .mobilemenu ul ul li.active a, .mobilemenu ul li.active ul a:hover
	{
	color: #006D6E !important;
}

.mobilemenu ul ul ul a, .mobilemenu ul ul li.active ul a {
	color: #666 !important;
}

.mobilemenu ul ul ul a:hover, .mobilemenu ul ul ul li.active a,
	.mobilemenu ul ul li.active ul a:hover {
	color: #006D6E !important;
}

.mobilemenu ul ul ul ul a, .mobilemenu ul ul ul li.active ul a {
	color: #666 !important;
}

.mobilemenu ul ul ul ul a:hover, .mobilemenu ul ul ul ul li.active a,
	.mobilemenu ul ul ul li.active ul a:hover {
	color: #1e7ec8 !important;
}

.mobilemenu li.parent>a {
	/*background: url('http://www.plazathemes.com/demo/ma_bstore/skin/frontend/ma_bstore/ma_bstore2/images/open.gif') no-repeat center right;*/
	
}

.mobilemenu li ul li {
	font-size: 0.9em;
}

.mobilemenu li.active>ul {
	
}

.mobilemenu ul a {
	padding-left: 25px;
}

.mobilemenu ul ul a {
	padding-left: 40px;
}

.mobilemenu ul ul ul a {
	padding-left: 55px;
}

.mobilemenu ul ul ul ul a {
	padding-left: 70px;
}

.mobilemenu ul ul ul ul ul a {
	padding-left: 85px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
	position: absolute;
	top: 8px;
	right: 8px;
}

.mobilemenu span.head a {
	background:
		url(http://www.plazathemes.com/demo/ma_bstore/skin/frontend/ma_bstore/ma_bstore2/images/menu_down.png)
		no-repeat 50% 50%;
	color: #333333;
	display: block;
	height: 15px;
	padding: 0;
	width: 15px;
	border: 0;
}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.head a {
	background:
		url(http://www.plazathemes.com/demo/ma_bstore/skin/frontend/ma_bstore/ma_bstore2/images/menu_up.png)
		no-repeat 50% 50%;
}

.mobilemenu li.selected span.head a {
	background:
		url(http://www.plazathemes.com/demo/ma_bstore/skin/frontend/ma_bstore/ma_bstore2/images/menu_up.png)
		no-repeat 50% 50%;
}
/* Browser Resets */
.ma-banner7-container .flex-container a:active, .ma-banner7-container .flexslider a:active,
	.ma-banner7-container .flex-container a:focus, .ma-banner7-container .flexslider a:focus
	{
	outline: none;
}

.ma-banner7-container .slides, .ma-banner7-container .flex-control-nav,
	.ma-banner7-container .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.ma-banner7-container .flexslider {
	margin: 0;
	padding: 0;
}

.ma-banner7-container .flexslider .slides>li {
	display: none;
	-webkit-backface-visibility: hidden;
	position: relative;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.ma-banner7-container .flexslider .slides img {
	width: 100%;
	display: block;
}

.ma-banner7-container .flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */
.ma-banner7-container .slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .ma-banner7-container .slides {
	display: block;
}

* html .ma-banner7-container .slides {
	height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .ma-banner7-container .slides>li:first-child {
	display: block;
}

/* FlexSlider Default Theme
*********************************/
.ma-banner7-container .flexslider {
	padding: 0;
	position: relative;
	zoom: 1;
}

.ma-banner7-container .flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.ma-banner7-container .loading .flex-viewport {
	max-height: 300px;
}

.ma-banner7-container .flexslider .slides {
	zoom: 1;
}

.ma-banner7-container .carousel li {
	margin-right: 5px
}

/* Direction Nav */
.ma-banner7-container .flex-direction-nav {
	*height: 0;
}

.ma-banner7-container .flex-direction-nav a, .nivo-directionNav a {
	width: 40px;
	height: 40px;
	margin: -15px 0 0;
	display: block;
	background: #b0b0b0
		url(http://www.plazathemes.com/demo/ma_bstore/skin/frontend/ma_bstore/ma_bstore2/magentothem/images/arrows.png)
		no-repeat 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 9;
}

.ma-banner7-container .flex-direction-nav a:hover, .nivo-directionNav a:hover
	{
	background-color: #000000
}

.ma-banner7-container .flex-direction-nav .flex-next, .nivo-directionNav a.nivo-nextNav
	{
	background-position: 100% 0;
	right: 5px;
}

.ma-banner7-container .flex-direction-nav .flex-prev, .nivo-directionNav a.nivo-prevNav
	{
	left: 5px;
}

.ma-banner7-container .flexslider:hover .flex-next:hover,
	.ma-banner7-container .flexslider:hover .flex-prev:hover {
	opacity: 1;
}

.ma-banner7-container .flex-direction-nav .flex-disabled {
	opacity: .3 !important;
	filter: alpha(opacity = 30);
	cursor: default;
}

ul.controls, .nivo-directionNav {
	display: none
}

#sequence-theme:hover ul.controls, .ma-banner7-container :hover .nivo-directionNav
	{
	display: block;
}
/* Control Nav */
.ma-banner7-container .flex-control-nav, .nivo-controlNav {
	position: absolute;
	bottom: 60px;
	text-align: center;
	right: 270px;
}

.ma-banner7-container .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.ma-banner7-container .flex-control-paging li a:hover,
	.ma-banner7-container .flex-control-paging li a.flex-active,
	.nivo-controlNav a:hover, .nivo-controlNav a.active {
	cursor: pointer;
	background: #006D6E;
}

.ma-banner7-container .flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}

.ma-banner7-container .flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}

.ma-banner7-container .flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}

.ma-banner7-container .flex-control-thumbs img:hover {
	opacity: 1;
}

.ma-banner7-container .flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}

.ma-nivoslider {
	overflow: hidden;
}

.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%;
}

.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.nivo-controlNav a {
	border: 0 none;
	display: inline-block;
	height: 14px;
	width: 14px;
	margin: 0 4px;
	text-indent: -9999px;
	cursor: pointer;
	position: relative;
	z-index: 9;
	background-color: #ccc;
	border: 1px solid #fff;
	border-radius: 50%;
}

.banner7-caption {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: none;
	color: #fff;
	font-size: 16px;
	z-index: 999;
}

.ma-banner7-container .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background:
		url(http://www.plazathemes.com/demo/ma_bstore/skin/frontend/ma_bstore/ma_bstore2/magentothem/images/loader.gif)
		no-repeat;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}
/* The Nivo Slider styles */
.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
	background: white;
	filter: alpha(opacity = 0);
	opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}

.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}

.nivo-box img {
	display: block;
}

.nivo-caption {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: 8;
}

.nivo-html-caption {
	display: none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
	background: white;
	filter: alpha(opacity = 0);
	opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}

.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}

.nivo-caption {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	width: 100%;
	z-index: 8;
	height: 100%;
}

.nivo-html-caption {
	display: none;
}

@
-webkit-keyframes myfirst {
	from {width: 0;
}

to {
	width: 100%;
}

}
@
keyframes myfirst {
	from {width: 0;
}

to {
	width: 100%;
}

}
.timethai.pos_hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.ma-banner7-container {
	position: relative;
}

/*===================================================Content-banner7===========================================================*/
.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.banner7-content {
	height: 100%;
	position: relative;
}

.bannerslideshow {
	position: absolute;
	top: 30%;
	left: 50px;
	padding: 0 20px;
	width: 100%;
}

.banner7-content h1, .banner7-content h2, .banner7-content h3 {
	text-transform: uppercase;
}

.banner7-content h1 span {
	-webkit-animation: bounceInLeft 1800ms ease-in-out;
	-moz-animation: bounceInLeft 1800ms ease-in-out;
	-ms-animation: bounceInLeft 1800ms ease-in-out;
	animation: bounceInLeft 1800ms ease-in-out;
	color: #fff;
	font-size: 48px;
	text-transform: uppercase;
	display: inline-block;
	background: rgba(95, 91, 89, 0.5);
	padding: 10px 20px;
}

.banner7-content h2 span {
	-webkit-animation: bounceInLeft 2200ms ease-in-out;
	-moz-animation: bounceInLeft 2200ms ease-in-out;
	-ms-animation: bounceInLeft 2200ms ease-in-out;
	animation: bounceInLeft 2200ms ease-in-out;
	clear: both;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	display: inline-block;
	background: rgba(81, 45, 23, 0.5);
}

.banner7-content h3 span {
	-webkit-animation: bounceInLeft 2500ms ease-in-out;
	-moz-animation: bounceInLeft 2500ms ease-in-out;
	-ms-animation: bounceInLeft 2500ms ease-in-out;
	animation: bounceInLeft 2500ms ease-in-out;
	padding: 10px;
	text-transform: capitalize;
	font-weight: normal;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	background: rgba(7, 7, 7, 0.5);
	display: inline-block;
	margin: 10px 0;
}

.banner7-content .banner7-readmore {
	-webkit-animation: bounceIn 2200ms ease-in-out;
	-moz-animation: bounceIn 2200ms ease-in-out;
	-ms-animation: bounceIn 2200ms ease-in-out;
	animation: bounceIn 2200ms ease-in-out;
	clear: both;
	padding: 10px 0;
}

.banner7-content .banner7-readmore a {
	background: rgba(81, 45, 23, 0.5);
	font-size: 12px;
	padding: 10px 15px;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
}

.banner7-content .banner7-readmore a:after {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0da";
	margin-left: 10px;
}

.banner7-content .banner7-readmore a:hover {
	background-color: #ff4f4f;
	color: #fff
}

.banner7-content .banner7-des {
	-webkit-animation: bounceInDown 2000ms ease-in-out;
	-moz-animation: bounceInDown 2000ms ease-in-out;
	-ms-animation: bounceInDown 2000ms ease-in-out;
	animation: bounceInDown 2000ms ease-in-out;
	float: left;
	clear: both;
	width: 50%;
	color: #3a3d42;
	margin: 15px 0;
}

.banner7-content img.img1 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	max-width: none;
	-webkit-animation: fadeInRight 1500ms ease-in-out;
	-moz-animation: fadeInRight 1500ms ease-in-out;
	-ms-animation: fadeInRight 1500ms ease-in-out;
	animation: fadeInRight 1500ms ease-in-out;
}

.banner7-content img.img2 {
	position: absolute;
	bottom: 0px;
	right: 0px;
	max-width: none;
	-webkit-animation: bounceInDown 1500ms ease-in-out;
	-moz-animation: bounceInDown 1500ms ease-in-out;
	-ms-animation: bounceInDown 1500ms ease-in-out;
	animation: bounceInDown 1500ms ease-in-out;
}

.slider-2 h1 span {
	-webkit-animation: bounceInUp 1500ms ease-in-out;
	-moz-animation: bounceInUp 1500ms ease-in-out;
	-ms-animation: bounceInUp 1500ms ease-in-out;
	animation: bounceInUp 1500ms ease-in-out;
}

.slider-2 h2 span {
	-webkit-animation: bounceInUp 1800ms ease-in-out;
	-moz-animation: bounceInUp 1800ms ease-in-out;
	-ms-animation: bounceInUp 1800ms ease-in-out;
	animation: bounceInUp 1800ms ease-in-out;
}

.slider-2 h3 span {
	-webkit-animation: bounceInUp 2200ms ease-in-out;
	-moz-animation: bounceInUp 2200ms ease-in-out;
	-ms-animation: bounceInUp 2200ms ease-in-out;
	animation: bounceInUp 2200ms ease-in-out;
}

.slider-2 .banner7-des {
	-webkit-animation: bounceInUp 2000ms ease-in-out;
	-moz-animation: bounceInUp 2000ms ease-in-out;
	-ms-animation: bounceInUp 2000ms ease-in-out;
	animation: bounceInUp 2000ms ease-in-out;
}

.slider-2 img.img1 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	max-width: none;
	-webkit-animation: bounceInDown 1500ms ease-in-out;
	-moz-animation: bounceInDown 1500ms ease-in-out;
	-ms-animation: bounceInDown 1500ms ease-in-out;
	animation: bounceInDown 1500ms ease-in-out;
}

.slider-2 img.img2 {
	position: absolute;
	bottom: 0px;
	right: 0px;
	max-width: none;
	-webkit-animation: fadeInRight 1500ms ease-in-out;
	-moz-animation: fadeInRight 1500ms ease-in-out;
	-ms-animation: fadeInRight 1500ms ease-in-out;
	animation: fadeInRight 1500ms ease-in-out;
}

.bdr3 {
	background: url(../images/strip.png) no-repeat;
}

.ac {
	text-align: center;
	font-family: 'Open Sans Hebrew';
	font-size: 40px;
	color: #FFFFFF;
}

.bgW {
	background-color: #006d6e;
	padding: 10px;
}

.name_text {
	font-family: 'Open Sans Hebrew';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-align: right;
	text-decoration: none;
	text-transform: none;
}

.name_text_1 {
	font-family: 'Open Sans Hebrew';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}

.name_text_2 {
	font-family: 'Open Sans Hebrew';
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}

.bg_wrapp {
	background: url(../images/banner2.png);
	width: 100%;
	height: 413px;
}

.textbox {
	width: 94%;
	padding: 10px 10px;
	border: 1px solid #FFF;
	font-family: 'Open Sans Hebrew';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	float: right;
	color: #333333;
}

.button {
	background: #ffad05;
	color: #000;
	font-family: 'Open Sans Hebrew';
	font-size: 24px;
	height: 50px;
	width: 94%;
	line-height: 30px;
	margin: 8px 15px;
	margin-left: 6% !important;
	text-align: center;
	border: 0;
	transition: all 0.3s ease 0s;
}

.button {
	opacity: 1;
}

.button:hover {
	font-family: 'Open Sans Hebrew';
	background: #29afb2;
	color: #FFFFFF;
	opacity: 0.75;
}

.banner3 {
	background: url(../images/banner4.png);
	width: 40%;
	height: 290px;
}

.banner5 {
	background: url(../images/banner6.png);
	width: 40%;
	height: 290px;
}
/* SLIDER STYLES */
.slider-wrapper {
	overflow: hidden;
	width: 100%;
	box-shadow: 0 3px 5px #666;
}

.slider {
	width: 100%;
	/*	height:400px; when responsive, comment this out */
	margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
	.slider {
		width: 100%;
	}
}

@media only screen and (min-width: 1440px) {
	.slider {
		width: 100%;
	}
}

/* ELEMENT STYLES */
.claim {
	line-height: 100%
}

.teaser {
	padding: 0.5% 1.5%;
	font-size: 14px;
	line-height: 100%
}

.small {
	width: 250px;
	padding-left: 0;
	padding-right: 0px;
	text-align: center;
}

.light-green {
	font-family: 'Open Sans Hebrew';
	font-size: 56px;
	color: #333333;
	text-align: center;
	font-style: normal;
	font-weight: 100;
}

.green {
	font-family: 'Open Sans Hebrew';
	font-size: 56px;
	color: #333333;
	text-align: center;
	font-style: normal;
	font-weight: 100;
}

.orange {
	font-family: 'Open Sans Hebrew';
	font-size: 56px;
	color: #333333;
	text-align: center;
	font-style: normal;
	font-weight: 100;
}

.turky {
	font-family: 'Open Sans Hebrew';
	font-size: 56px;
	color: #333333;
	text-align: center;
	font-style: normal;
	font-weight: 100;
}

.white {
	font-family: 'Open Sans Hebrew';
	font-size: 56px;
	color: #333333;
	text-align: center;
	font-style: normal;
	font-weight: 100;
}

.me {
	font-family: 'Open Sans Hebrew';
	font-size: 56px;
	color: #FFF;
	text-align: center;
	font-style: normal;
	font-weight: 100;
}

.me1 {
	font-family: 'Open Sans Hebrew';
	font-size: 12px;
	color: #FFF;
	text-align: center;
	font-style: normal;
	font-weight: 100;
}

.footer-link {
	font-family: 'Open Sans Hebrew';
	color: #333333;
	text-decoration: none;
	text-transform: none;
}

.footer-link:hover {
	font-family: 'Open Sans Hebrew';
	color: #006d6e;
	text-decoration: none;
	text-transform: none;
}
/* Navigation */
.ls-bottom-nav-wrapper {
	height: 0;
}

.ls-bottom-slidebuttons {
	text-align: left;
}

.ls-bottom-nav-wrapper, .ls-below-thumbnails {
	z-index: 2;
	height: 0;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.ls-below-thumbnails {
	display: none;
	z-index: 6;
}

.ls-bottom-nav-wrapper a, .ls-nav-prev, .ls-nav-next {
	outline: none;
}

* .ls-bottom-nav-wrapper *, * .ls-bottom-nav-wrapper span * {
	direction: ltr !important;
}

.ls-bottom-slidebuttons {
	position: relative;
	z-index: 1000;
}

.ls-bottom-slidebuttons, .ls-nav-start, .ls-nav-stop, .ls-nav-sides {
	position: relative;
}

.ls-nothumb {
	text-align: center !important;
}

.ls-link {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	top: 0 !important;
	background-image: url(blank.gif);
}

.ls-slide>a>* {
	background-image: url(blank.gif);
}
/**
 *
 * 
 * 2. HEADER SECTION (menu&slider)
 *
 * 
 */
#topContainer {
	width: 100%;
	position: relative;
	background: url('../img/mint/background.jpg') no-repeat center;
	background-size: cover;
	top: 0;
	z-index: 1;
}

#contentWrapper {
	position: relative;
	z-index: 10;
	top: 0px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

#navigationWrap {
	position: relative;
	margin: 100px 0 100px;
	width: 100%;
}

.menuWrap {
	text-align: right;
}

.mainMenu {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 50px;
}

.mainMenu li {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.mainMenu li a {
	color: #fff;
	line-height: 14px;
	padding: 10px 20px;
	text-decoration: none;
	background: transparent;
	-webkit-border-radius: 350px;
	-moz-border-radius: 350px;
	border-radius: 350px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.menuActive a {
	color: #5cadad !important;
	background: #fff !important;
}

.mainMenu li a:hover {
	color: #5cadad;
	background: #fff;
}

#followMenu {
	width: 100%;
	position: fixed;
	background: #f7f7f7;
	background-size: cover;
	padding: 30px 0;
	z-index: 20;
	overflow: hidden;
	display: none;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}

#followMenu .mainMenu li a {
	color: #ccc;
}

#followMenu .mainMenu li a:hover, #followMenu .mainMenu .menuActive a {
	background: #66cc99 !important;
	color: #fff !important;
}

#followMenu img {
	max-height: 100%;
	height: 50px;
}

#followMenu .mainMenu {
	margin: 0 auto;
}

.sliderText {
	font-size: 70px;
	line-height: 80px;
	color: #fff;
	font-weight: 100;
}

.sliderText span {
	font-weight: 300;
}

.sliderButtonWrap {
	
}

.sliderButtonWrap a {
	margin: 0px 15px;
}

.ls-bottom-nav-wrapper {
	bottom: 30%;
	right: 48%;
	position: absolute !important;
}

.ls-bottom-slidebuttons a {
	/*display: block !important;*/
	
}

#responsiveMenuToggle {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 20;
	padding: 10px;
	font-size: 30px;
	background: #66cc99;
	display: none;
}

#responsiveMenuToggle {
	cursor: pointer;
	color: #fff;
}

.pageTopContainer {
	height: 400px;
}

.ls-wp-fullwidth-container, .ls-wp-fullwidth-helper, .ls-container,
	.ls-container * {
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
}

.playstopholder {
	background: #ecf0f1;
	padding: 5px !important;
}

.tp-caption .playstopbutton {
	display: inline-block;
	color: #62a8a0;
	text-decoration: none;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 3px solid #fff !important;
	text-align: center;
	margin-right: 5px;
	font-size: 10px !important;
}

.tp-caption .playstopbutton {
	line-height: 13px !important;
	font-size: 10px !important;
}

.tp-caption .playstopbutton i:before {
	color: #E03301;
}

.tp-caption .playstopbutton:hover, .tp-caption .playstopbutton.selected
	{
	border-color: #E03301 !important;
}

.tp-bullets {
	display: block !important;
	opacity: 1 !important;
	background: #ecf0f1;
	padding: 7px 7px 0px
}

.tp-bullets .bullet {
	display: inline-block;
	background-color: #7f8c8d;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 3px solid #ecf0f1;
	text-align: center;
	width: 17px !important;
	height: 17px !important;
	margin-right: 2px !important;
}

.tp-bullets .bullet:hover, .tp-bullets .bullet.selected {
	display: inline-block;
	background-color: #fff;
	border: 3px solid #E03301;
}

.tparrows.default.custom {
	background: #fff;
	border-radius: 50%;
	border: 3px solid #fff;
}

.tparrows.default.custom:hover {
	background: #fff;
	border-radius: 50%;
	border: 3px solid #E03301;
}

.tparrows.default.custom:before {
	font-family: "eg-font";
	font-style: normal;
	font-weight: normal;
	position: absolute;
	padding: 4px 10px;
	color: #E03301;
	font-size: 25px;
}

.tp-leftarrow.default.custom:before {
	content: '\e824';
}

.tp-rightarrow.default.custom:before {
	content: '\e825';
}


@media screen and (min-width: 768px) {
        .modal-dialog {
          width: 800px; / New width for default modal /
        }
        .modal-sm {
          width: 350px; / New width for small modal /
        }
    }
    @media screen and (min-width: 992px) {
        .modal-lg {
          width: 950px; / New width for large modal /
        }
    }