$primaryColor:#f36d25;
$hoverColor: #b74406;
$secondaryColor: #0086bf;
$white :#fff;
$logo: "assets/img/logo2.png";
$textColor: #5d5c5c;
$greyBoder:1px solid #dcdcdc;
 
 

@font-face {
    font-family: 'latoblack_italic';
    src: url('assets/fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('assests/fonts/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('assests/fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url('assests/fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline';
    src: url('assests/fonts/lato/lato-hairline-webfont.woff2') format('woff2'),
         url('assests/lato-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('assests/fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('assests/fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight_italic';
    src: url('assests/fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('assests/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack';
    src: url('assests/fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'latohairline_italic';
    src: url('assests/fonts/lato/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('assests/fonts/lato/lato-hairlineitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('assets/fonts/raleway-light-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('assets/fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition ($property, $time) {
	-webkit-border-radius: $property $time ease-in-out;
	-moz-transition: $property $time ease-in-out;
	-ms-transition: $property $time ease-in-out;
	-o-transition:$property $time ease-in-out;
	transition: $property $time ease-in-out;
}
@mixin box-shadow ($shadow, $color) {
	-webkit-box-shadow:  $shadow $color;
	-moz-box-shadow:  $shadow $color;
	-ms-box-shadow:  $shadow $color;
	-o-box-shadow:  $shadow $color;
 	box-shadow:  $shadow $color;
}
.whiteColor, .whiteColor:hover , .whiteColor:active, .whiteColor:visited, .whiteColor:focus{
  
 	color:$white;  
}
@mixin box-shadow-inset ($shadow, $color) {
	-webkit-box-shadow: inset $shadow $color;
	-moz-box-shadow: inset $shadow $color;
	-ms-box-shadow: inset $shadow $color;
	-o-box-shadow: inset $shadow $color;
 	box-shadow: inset $shadow $color;
}
@mixin rotate($rot) {
	transform: rotate($rot) ;
-webkit-transform: rotate($rot) ;
-moz-transform: rotate($rot) ;
-o-transform: rotate($rot) ;
-ms-transform: rotate($rot) ;
}
header{
	height: 76px;
	box-shadow: 0 1px 3px 0 hsla(0,0%,84%,.4);    
	background:#fff; 
}
.search-label {
span{
font-size: 14px;}
}
body{
	color:$textColor;
	font-family: 'calibri'; 
	background:url('assets/img/pattern-bg.png') #fff;
}
.pri-bg-cl{
	background:#f36d25
}
.search-box{
    margin: 5px 0 0 0;
}
.innerHeader{
	height: 76px;
}
.mTop-10{
	margin:10px 0 0 0;
}
.form-wrapper{ max-width: 1000px;
    margin: 15px auto;
}
 .table>thead>tr>th{background:$primaryColor;color:#fff!Important}
.senderFormWrapper{
	margin:20px 0 0 0
	} 
.form-group-text{    padding: 6px 17px;}
.bank-details{    margin: 0 0 15px 0;
    float: left;
    .form-label{
    line-height:28px;
    }
    
 }
.tras-mode{margin-bottom: 10px;}
 .btn-radio{
 	padding: 8px 10px;
    color: #b5b5b5;
    background: #f2f2f2;
    font-size: 13px;
    
}
 .btn-radio{
 	&.left{
 		@include border-radius(5px 0px 0px 5px)
 	}
 	&.right{
 		@include border-radius(0px 5px 5px 0px)
 	}
 	&.active{background: $primaryColor;color:#fff}	
 
 }
.form-label{    font-size: 15px;
    line-height: 34px;}
.btn-primary{color:#fff; background-color:$primaryColor;border:none;min-width: 110px;}
.btn-secondary{color:#fff; background-color:$secondaryColor;border:none}
.link-primary{color:$primaryColor}
.row-link{position:relative;top:10px}
.box-button-wrapper{
margin:25px 40px 0px;
}
.btn-secondary:hover{color:#fff; background-color:$secondaryColor;border:none}
.btn-primary:hover{background:$hoverColor;color:#fff}
.btn-search{border-radius:0px 5px 5px 0;    float: left;
    padding: 12px 27px;
    border: none;
    outline: none;
    background-color:$primaryColor}
  .search-input{    height: 44px;
    width: calc(100% - 125px);
    float: left;
    border-radius:4px 0px 0px 4px;
    }
.logo{
	height: 88px;width: 110px;background: url($logo) no-repeat center center/100%;
	margin: 0px;
	position: relative;
	top: -6px;
	left: 3px;
}

.midSection{position:relative;min-height: 500px;}
.search-wrapper {position:relative;float:right}
.header-right{margin: 23px 0 0 0;}
.user-pic{width: 45px;height: 45px;border-radius: 50%;}
.user-name{padding:0px 17px;position:relative;top:-6px;}
.user-pic {
	img {width: 45px;height: 45px;border-radius: 50%;position:relative;top:-8px;}	
	}
.user-info {
	.glyphicon-triangle-bottom{font-size: 12px;padding: 0px 14px;top: -5px;}
} 
.search-wrapper {
	.glyphicon-search{
		position: absolute;
		left: 4px;top: 9px;
		color: #ccc;
		font-size: 14px;
		margin: 0 10px;
	}

}
 .user-info-block{background: #fff;
height: 140px;
@include box-shadow-inset(0px 0px 18px -5px, rgba(0, 0, 0, 0.4));
 border: 7px solid #fff;
 }
.user-info-block-oute{
	width: 90%;
@include border-radius(4px);
margin: auto;
@include box-shadow( 7px 8px 20px -13px, rgba(0, 0, 0, 0.5)); 
}
.box-inner {
    border: 1px solid #DEDEDE; 
    margin: 25px 0 0 0;
    background: #fff;
    padding:20px 0;  
    @include box-shadow(0  0 10px, rgba(189, 189, 189, 0.4));
    
}
.grid-search-sm{   border: 1px solid #ccc;
    border-radius: 4px;
    height: 27px;
    text-indent:9px;
    width: 80px;}
.record-count{    margin: 5px 0;}
.box-header{background:$secondaryColor;
    color: #fff;
    padding: 5px 25px;
    font-size: 17px;
        margin: 2px 0 ;
  
    min-height: 42px;
    line-height: 30px;
    a{ 
    	color:#fff
     
    }
 }
 .popover.fav-grid-popup{
     top: -1px!important;
    left: -240px!important;
   p{
   float:left;
   }

 }
 .popover.right{display:block}
.item-row{    margin: 0 0 15px 0;
    float: left;
    width: 100%;}
  .grid-btn{font-size: 12px;min-width:75px;}
 .box-inner-content{ 
    float: left;
    width: 100%;
    padding: 10px 25px; 
    margin: 0 0 11px 0;}
.agent-info-wrapper{ margin: 46px 0 41px 0; }

.grid-search{color:$textColor;
    font-size: 14px;
    padding: 0px 4px;
    width: 226px;
    height: 30px;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-top: 1px;}
  .import-sender-btn{    margin-right: 15px;}
.user-info {float:right}
.main-search{
	border: 1px solid #ccc;
	@include border-radius(13px);
	height: 31px;
	width: 201px;
	text-indent: 34px;
	&.focus{
		outline:none;
		border: 1px solid #ccc;
	}
}

.block-icon{
	position: absolute;
	height: 83px;
    width: 82px;
   	background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    top: -37px;
		
}

.loader {
      border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
.btn-wrapper{
	position:relative;
	.loader-wrapper{
	    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;  
    bottom: 0px;
    background: #f36d25;
    z-index:2;
     @include border-radius(5px);
		
	.loader{
		width:20px;height:20px; border: 5px solid #f3f3f3;
	    border-top: 5px solid #3498db;}

	}
}
.splash-screen{
	  transition: all linear 0.5s;
	    background: #fff;
    position: fixed;
    left: 0px;
    right: 0px;
    display:block;
    top: 0px;
    bottom: 0px;
    .logo{
        position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: auto;
    bottom: 0px;
    width: 255px;
    height: 122px;
    }
}

.error{
	    border: 1px solid red;
    outline: 1px solid red;
		

}
.popover {
	width: 300px;
	    top: -160px!important;
    left: 130px!important;
.popover-title{
	font-size:16px;
}	
}
.table-container {
	
   .tras-mode {
    margin-bottom: -2px;
    }
    .btn-radio{
    padding: 3px 10px;
    } 
     .table {
         margin-bottom: 0px!important;
     	tbody{ max-height: 192px!important;} 
     }
     .table>tbody>tr>td{  padding: 8px 8px 8px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    height: 100%;
    position: relative;
    min-height: 47px;
    line-height: 28px;
    overflow: hidden;
    max-height: 47px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}
    .table > thead > tr > th{text-align:center}
}
.table-fixed{
  width: 100%;

  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
     
      }
    }
  }
}

.collapsed{
	.glyphicon-menu-down{
	 @include rotate(-90deg);
	}
}
.col-xs-1-5{width:12.555555555555%}


.amount-wrapper{
	position:relative;
	width:100%;
	.glyphicon-exclamation-sign{
	position: absolute;
    color: red;
    font-size: 15px;
       right: 17px;
    top: 7px;	
	position: absolute;
    color: #f36d25;
    font-size: 15px;
	}
	.glyphicon-exclamation-sign{
	 &:hover{
		 	.tooltip{
		 	display:block
		 	}
		}
    	  
	}
	.tooltip {top: -6px;
    left: 19.5px;
    display: none;
    position: absolute;   
    font-size: 11px;
    &.in{
    	opacity:1;
    }
   
    .tooltip-inner{padding: 6px 8px;
    color: #fff;
    text-align: center;
    width:200px;
    max-width:none;
    background-color: red;}
    .tooltip-arrow{
    	top:50%;
    	    border-right-color: red;
    }
    }
}
#add-beneficiary-form{
	.form-wrapper{max-width:none}
}
.glyphicon-menu-down{
@inculde transition (all, 500ms) 
}
.delete-opt-col{
.glyphicon-trash{font-size: 19px;    color: $textColor;}
}
 .download-btn{
  border-radius: 3px;
    margin: 0px 5px 0 0;
 }  
.table-container{  
    overflow: auto;
    padding: 0px 0px;
    width: 100%;
    border: 1px solid #f2f2f2;}
.delete-opt-col{position:relative}
.oxy-btn{
	background:$primaryColor;
	color:#fff;
	
}

.table{
   tbody{
   		tr:last-child{
   			td{
   			 border-bottom: 1px solid #ddd;
   			}
   		}
   }
   
}

desableButton {
	font-weight: 700;
}

.desableButton:desabled {
	color: #000;
	font-weigth: normal;
}
footer{    background: #0086bf;
    color: #fff;
    padding: 17px;}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}