<div class="container-fluid agent-info-wrapper"  data-ng-controller="senderLoginCtrl as sender">
<form  data-ng-submit="sender.postSenderData();">
<div class="col-md-4 text-center search-label">
<h4>Sender Mobile Number<br/>
<span>(To add new sender or search existing sender)</span>
</h4>
</div>
<div class="col-md-6">

<div class="search-box"><input autocomplete="off" data-mw-input-restrict="onlynumbers" class="form-control search-input" data-ng-model="sender.mobile" id="senderNum" data-ng-keyup="sender.valid()" maxlength="10" type="text" />
 <input  class="btn-search btn-primary btn" type="Submit" data-ng-disabled="sender.mobileValidation"    value="Submit"/></div>
   
</div>


 
  
 

 

</form>

</div>
<div class="box-inner row "><div data-ng-include="'jspas/app/components/favGrid/favGrid.html'"></div></div>
