
 <div class="senderDeleteAndActiveCtrl as sad " class="col-md-12 text-left">
<p> Please choose your action</p>
  <button class=" btn grid-btn btn-success" ng-onlick="sad.SenderAction($root.selectedSender,'Active')">Active</button>   <button class="btn grid-btn btn-danger" ng-onlick="sad.SenderAction($root.selectedSender,'Delete')">Delete</button>
</div>
<style>
.modal-dialog.modal-lg{width:250px!important}
</style>