<table width="290" align="center" border="0" cellpadding="0"
	cellspacing="0"
	title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
	<tr>
		<td width="135" align="center" valign="top"><script src=""></script></td>
		<td width="155" valign="middle"
			style="font: 11px/ 16px Helvetica, Verdana, Arial, sans-serif;"></td>
	</tr>
	
</table>