<div class="grid-box col-md-12" data-ng-show='import.listData' >
	<div class="box-header"> Beneficiary list <input type="text" class="grid-search pull-right" data-ng-model="import.search"/>  </div>
		<div class="table-container col-md-12">
	<table class="table table-responsive table-striped" fixed-header>
	<thead>
		<tr>
			<th>
		
			   <a href="javascript:void(0)" class="whiteColor" data-ng-click="sortType = 'id'; sortReverse = !sortReverse">
       	Beneficiary Id
            <span data-ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
			</th>
			<th>
		
			   <a href="javascript:void(0)" class="whiteColor" data-ng-click="sortType = 'name'; sortReverse = !sortReverse">
       	Beneficiary Name
            <span data-ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
			</th>
			<th>
				   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'accountNo'; sortReverse = !sortReverse">
       Account No            <span data-ng-show="sortType == 'accountNo' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortType == 'accountNo' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
			</th>
			<th>
				   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'trasMode'; sortReverse = !sortReverse">
       Transfer Type          <span data-ng-show="sortType == 'trasMode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortType == 'trasMode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
			<th>		
			   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ifscCode'; sortReverse = !sortReverse">
      IFCS Code
            <span data-ng-show="sortType == 'ifscCode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortType == 'ifscCode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a></th>
			<th>
			   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'status'; sortReverse = !sortReverse">
      Status         <span data-ng-show="sortType == 'status' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortType == 'status' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>			
			<th>Action</th>
			
		
		</tr>
		
	</thead>
	
	
	
	

	<tr data-ng-repeat="list in import.importList.beneficiaryList | orderBy:sortType:sortReverse | filter: import.search" >
<td>{{list.id}}</td>
		<td>{{list.name}}({{list.verified}})</td>
		<td>{{list.accountNo}}</td>
		<td>{{list.transferType}}</td>
		<td>{{list.ifscCode}}</td>
		<td>{{list.status}}</td>
		<td><input type="button" class="btn-secondary btn grid-btn" value="Import" data-ng-click="import.importBene(list.id)" /></td>

</tr>

</table>
</div>
</div>