<link rel="stylesheet" type="text/css"
	href="./css/newthemecss/css/theme-converter.css" />
<link rel="stylesheet" type="text/css"
	href="./css/newthemecss/css/newtheme.css" />
<link rel="stylesheet" type="text/css" href="./css/charisma-app.css" />


<!--RegUser.html : start -->
<div class="container-fluid">
	<div class="box-inner row">
		<div
			data-ng-include="'jspbk/app/components/regUser/senderDetails.html'+$root.version"></div>

	</div>


	<div class="box box-inner row"
		data-ng-controller="fundTransCtrl as fund">
		<div class="grid-box"
			data-ng-controller="addBeneficiaryCtrl as beneficiary">
			<div style="display: none;" class="box-header box-header-header2"
				data-ng-click="beneficiary.refreshTab()" data-toggle="collapse"
				data-target="#add-beneficiary-form">
				<h2 style="display: none;">Add Beneficiary</h2>
				<a href="javascript:void(0)" class="pull-right collapsed"> <span
					class="glyphicon glyphicon-menu-down ExitdownArrow"
					style="font-size: 20px; font-weight: bold; padding-top: 2px; padding-right: 10px;"></span>
				</a>
			</div>
			<div id="add-beneficiary-form" class="collapse "
				data-ng-include="'jspbk/app/components/addBeneficiary/addBeneficiary.html'+$root.version"></div>
		</div>

		<div class="grid-box">
			<div class="box-header box-header-header3">
				<h2 style="padding: 0px; line-height: 15px; height: 100%;">
					<span
						style="width: calc(100% - 900px); margin: 5px; display: inline-block;"
						data-toggle="collapse" data-target="#beneTransTable">Beneficiary List </span>
				</h2>




				<input style="margin: 0px" type="text"
					class="grid-search  searchinheading pull-right"
					data-ng-model="fund.search" placeholder="Search Beneficiary"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Search Beneficiary'" /> <a
					href="#/importSender"
					class="btn btn-info searchinheading2 btn-primary btn-info pull-right import-sender-btn"
					style="color: #fff !important; margin: 0px 15px 0px 0px; width: fit-content !important; padding: 0px 10px !important; line-height: 22px;">
					<span class="glyphicon glyphicon-import"></span> Import Beneficiary
				</a>

				<button
					class="btn btn-info searchinheading2 btn-primary btn-info pull-right import-sender-btn"
					style="color: #fff !important; margin: 0px 15px 0px 0px"
					data-ng-click="beneficiary.refreshTab()" data-toggle="collapse"
					data-target="#add-beneficiary-form">Add Beneficiary</button>
			</div>

			<div class="table-container col-md-12 collapse in"
				id="beneTransTable">

				<table class="table table-responsive table-striped table-fixed">
					<thead>
						<tr>

							<th class="col-xs-2" style="line-height: 50px;"><a
								href="javascript:void(0)" class="whiteColor"
								data-ng-click="sortType = 'name'; sortReverse = !sortReverse">
									Beneficiary Name <span
									data-ng-show="sortType == 'name' && !sortReverse"
									class="glyphicon glyphicon-chevron-down"></span> <span
									data-ng-show="sortType == 'name' && sortReverse"
									class="glyphicon glyphicon-chevron-up"></span>
							</a></th>
							<th class="col-xs-2" style="line-height: 50px;"><a
								href="javascript:void(0)" class="whiteColor"
								data-ng-click="sortType = 'accountNo'; sortReverse = !sortReverse">
									Account No. <span
									data-ng-show="sortType == 'accountNo' && !sortReverse"
									class="glyphicon glyphicon-chevron-down"></span> <span
									data-ng-show="sortType == 'accountNo' && sortReverse"
									class="glyphicon glyphicon-chevron-up"></span>
							</a></th>
							<th class="col-xs-2" style="line-height: 50px;"><a
								href="javascript:void(0)" class="whiteColor"
								data-ng-click="sortType = 'transferType'; sortReverse = !sortReverse">
									Transfer Type <span
									data-ng-show="sortType == 'transferType' && !sortReverse"
									class="glyphicon glyphicon-chevron-down"></span> <span
									data-ng-show="sortType == 'transferType' && sortReverse"
									class="glyphicon glyphicon-chevron-up"></span>
							</a></th>
							<th class="col-xs-2" style="line-height: 50px;"><a
								href="javascript:void(0)" class="whiteColor"
								data-ng-click="sortType = 'ifscCode'; sortReverse = !sortReverse">
									IFSC Code <span
									data-ng-show="sortType == 'ifscCode' && !sortReverse"
									class="glyphicon glyphicon-chevron-down"></span> <span
									data-ng-show="sortType == 'ifscCode' && sortReverse"
									class="glyphicon glyphicon-chevron-up"></span>
							</a></th>
							<th class="col-xs-1" style="line-height: 50px;"><p
									style="text-align: center; margin-bottom: 0px;">Amount</p></th>
							<th class="col-xs-2" style="line-height: 50px;">Action</th>
							<th class="col-xs-1" style="line-height: 50px;"><a
								href="javascript:void(0)" class="whiteColor"
								data-ng-click="sortType = 'status'; sortReverse = !sortReverse">
									Status <span
									data-ng-show="sortType == 'status' && !sortReverse"
									class="glyphicon glyphicon-chevron-down"></span> <span
									data-ng-show="sortType == 'status' && sortReverse"
									class="glyphicon glyphicon-chevron-up"></span>
							</a></th>
							<!-- <th>Delete</th> -->
						</tr>
					</thead>

					<tr
						data-ng-repeat="menu in $root.LoginSender.beneficiaryList  | orderBy:sortType:sortReverse | filter: fund.search"
						id="row-bene{{menu.id}}">

						<td class="col-xs-2" style="line-height: 50px;">
							{{menu.name}} ({{menu.verified}})</td>
						<td class="col-xs-2" style="line-height: 50px;">
							{{menu.accountNo}}</td>
						<td class="col-xs-2" style="line-height: 50px;">
							<div class="tras-mode">
								<a href="javascript:void(0);"
									data-ng-click="fund.ChangeTrans('#grid-imps' + menu.id);"
									data-ng-class=" $root.loginUserData.isimps == 1 ? 'active' : 'isImpsFalse'  "
									class="btn-radio left" id="grid-imps{{menu.id}}">IMPS</a><a
									href="javascript:void(0)"
									data-ng-click="fund.ChangeTrans('#grid-neft' + menu.id);"
									class="btn-radio right " id="grid-neft{{menu.id}}"
									data-ng-class="{ active: $root.loginUserData.isimps == 0}">NEFT</a>
							</div>

						</td>



						<td style="line-height: 50px;" class="col-xs-2 " data-toggle=""
							title="{{menu.bankName}}">{{menu.ifscCode}}</td>

						<td class="col-xs-1" style="overflow: visible; line-height: 50px;">
							<div class="amount-wrapper">
								<div class="glyphicon glyphicon-exclamation-sign"
									style="right: 7px;"
									data-ng-show="values['field_' + $index] > $root.LoginSender.transferLimit || values['field_' + $index]  > 25001 || ($root.transactionMode == true &&  menu.id == $root.currentTransBene)">
									<div class="tooltip fade right in" role="tooltip">

										<!-- <div class="tooltip-arrow" ></div> -->
										<div class="tooltip-inner"
											data-ng-hide="$root.LoginSender.transferLimit == 0 || $root.transactionMode == true"">Amount
											can't be more than your transfer limit
											({{$root.LoginSender.transferLimit}})</div>
										<div class="tooltip-inner"
											data-ng-show="$root.LoginSender.transferLimit == 0 && $root.transactionMode == false">
											You have reached your monthly transfer limit.</div>
										<div class="tooltip-inner"
											data-ng-show="$root.transactionMode == true">Your
											transaction of INR {{$root.trasactionAmount}} is under
											process please wait...</div>
									</div>
								</div>
								<input type="text" id="amount{{menu.id}} "
									style="height: 30px; line-height: 30px; color: #111;"
									data-ng-class="{ error: values['field_' + $index] > $root.LoginSender.transferLimit || values['field_' + $index]  > 25001}"
									data-ng-model="values['field_' + $index]"
									data-mw-input-restrict="onlynumbers"
									class="grid-search-sm noZero desableButton"
									data-ng-keyup="fund.amountValidation(menu.name, menu.status)"
									data-ng-pattern="fund.amountRegex" maxlength="5" />
								{{fund.values['field_' + $index]}}
							</div>


						</td>
						<td class="amount-btn col-xs-2" style="line-height: 50px;"><input
							type="button"
							style="padding: 5px 10px 10px 10px; height: 30px !important; box-shadow: none !important; font-weight: 900; color: #000; font-size: 15px;"
							data-ng-disabled="!values['field_' + $index] || menu.status == 'Deactive' || values['field_' + $index] > $root.LoginSender.transferLimit || $root.LoginSender.transferLimit == 0 || values['field_' + $index]  > 25001 || fund.isprocessing || ($root.transactionMode == true &&  menu.id == $root.currentTransBene)"
							class="btn-secondary btn grid-btn" value="Send Money"
							data-ng-click="fund.transAmount('#amount' + menu.id, menu.id, '#row-bene'+ menu.id , menu.verified )" />


						</td>
						<td class="col-xs-1" style="line-height: 50px;"><input
							type="button"
							style="line-height: 17px; height: 30px !important; box-shadow: none !important;"
							class=" btn grid-btn"
							data-ng-class="menu.status == 'Active' ? 'btn-success' : 'btn-danger'"
							value="{{menu.status}}"
							data-ng-click="fund.changeBeneStatus(menu.id, menu.status)" /></td>

					</tr>
				</table>


			</div>
		</div>



	</div>
	<!-- <div class="box-inner row" >
	<div data-ng-include="'jspbk/app/components/favGrid/favGrid.html'"></div>
	</div>-->
</div>
<!-- fav grid -->
<!--RegUser.html : ends -->
