<style>
 #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<div data-ng-controller="transferConfirmCtrl as transConfim">
                        
  <table class="table table-bordered table-striped">

<tr>
    <th colspan="2" style="text-align: center;background-color: #696969;color:#fff;">Transaction Confirmation</th> 
  </tr>

  <tr>
    <td>Customer Mobile : </td> 
    <td>{{$root.LoginSender.mobileNo}}</td>
  </tr>

  <tr>
    <td>Transaction Mode : </td> 
    <td>{{$root.beneDataAmountObj.transferType}}</td>
  </tr>

  <tr>
    <td>Beneficiary Name(As per Bank) : </td> 
    <td><b>{{$root.validateBeneoObj.beneName}}</b></td>
  </tr>

  <tr>
    <td>Beneficiary Bank : </td> 
    <td>{{$root.validateBeneoObj.bankName}}</td>
  </tr>


  <tr>
    <td>Beneficiary Ifsc : </td> 
    <td>{{$root.validateBeneoObj.ifscCode}}</td>
  </tr>

  <tr>
    <td style= "font-weight: 800;  color: black;">Beneficiary Account : </td> 
    <td style= "font-weight: 800;  color: black;">{{$root.validateBeneoObj.accountNo}}</td>
  </tr>

  <tr>
    <td style= "font-weight: 800;  color: black;">Transfer Amount :  </td> 
    <td style= "font-weight: 800;  color: black;">{{$root.validateBeneoObj.txnAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
  </tr>
  
  <tr>
    <td><b>Transfer Amount(in word) : </b></td> 
    <td style= "font-weight: 800;  color: black;">{{NumInWords($root.validateBeneoObj.txnAmount)}}</td>
  </tr>

  <tr>
    <td>Charged from customer : </td> 
    <td>{{$root.validateBeneoObj.surChargeAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
  </tr>

  <tr>
    <td>Agent Commision : </td> 
    <td>{{$root.validateBeneoObj.cashBackAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
  </tr>

  <tr>
    <td>Net Agent Cost : </td> 
    <td>{{$root.validateBeneoObj.paybleAmount  |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
  </tr>

  <tr>
    <td>Total Amount : </td> 
    <td style= "font-weight: 800;  color: black;">{{$root.validateBeneoObj.totalAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
  </tr>

     
  </table>


 <div class="modal-footer" style="border-top: 0px solid #e5e5e5 !important;">

         <button class="btn-primary pull-right btn" id="comfirmTransaction" data-ng-click="transConfim.transferConfirmed('#comfirmTransaction');" >{{transConfim.btnText}}</button>
 </div>
 </div>
 <script>
$(function(){
	$(".curr-inr").html("INR");
}) 
 </script>