<div data-ng-controller="transferConfirmCtrl as transConfim">
  <h2>Transaction Confirmation</h2>
                        
  <table class="table table-bordered table-striped">

    <tbody>
      <tr>
        <td width="35%;"><strong>Sender Mobile</strong></td>
        <td> {{$root.LoginSender.mobileNo}}</td>
      </tr>
      <tr>
        <td><strong>Beneficiary Name</strong></td>
        <td>{{$root.beneDataAmountObj.beneName}}   {{$root.validateBeneoObj.beneName}}</td>
      </tr>
     
      <tr data-ng-hide="$root.validateBeneoObj.name == undefined ">
       <td><strong>Beneficiary Verification Status</strong></td>
        <td>{{$root.beneDataAmountObj.name}} {{$root.validateBeneoObj.name}}</td>
     </tr>
       <tr>
       <td><strong>Beneficiary Account No</strong></td>
        <td>{{$root.beneDataAmountObj.accountNo}}{{$root.validateBeneoObj.accountNo}}</td>
     </tr>
        <tr>
       <td><strong>Beneficiary IFSC code</strong></td>
        <td>{{$root.beneDataAmountObj.ifscCode}}{{$root.validateBeneoObj.ifscCode}}</td>
   
      </tr>
        <tr>
       <td><strong>Transaction Mode</strong></td>
        <td>{{$root.beneDataAmountObj.transferType}}</td>
     </tr>
         <tr>
       <td><strong>Amount</strong></td>
        <td>{{$root.validateBeneoObj.txnAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
     </tr>
        <tr>
       <td><strong>Charge</strong></td>
        <td>{{$root.validateBeneoObj.surChargeAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
     </tr>
     
        <tr>
       <td><strong>Total Amount    </strong></td>
        <td>{{$root.validateBeneoObj.totalAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
     </tr>
 
  </table>


 <div class="modal-footer">

         <button class="btn-primary pull-right btn" id="comfirmTransaction" data-ng-click="transConfim.transferConfirmed('#comfirmTransaction');" >{{transConfim.btnText}}</button>
 </div>
 </div>
 <script>
$(function(){
	$(".curr-inr").html("INR");
}) 
 </script>