<!-- 
<iframe id="pancardIframe" src="" style="width:100%;border:none;
    height: 500px">


</iframe> -->


<div  data-ng-controller="uploadPanCtrl as pc" >
<div class="container-fluid">


<form action="UploadSenderPanF60.action" method="post" id="panFrom60Form" enctype="multipart/form-data">

<font color="red"><s:actionerror/> </font>
<font color="blue"><s:actionmessage/> </font>
<s:fielderror></s:fielderror>
									

<div class="row">
<div class="col-md-12">
<h2 style="margin-top:0px" id="heading">
		Upload Pan Card	</h2>

</div>
<input type="hidden" value="<s:property value='%{mudraSenderPanDetails.senderId}'/>" name="mudraSenderPanDetails.senderId" id="desc1" >
<input type="hidden" value="PAN" name="mudraSenderPanDetails.proofType" id="proofType" >

</div>
	<div class="row" id="pancard" >

		<div class="col-md-12 form-group">
		
		<label>Enter Your PAN Card Number:</label>
				<input type="text"  value="<s:property value='%{mudraSenderPanDetails.panNumber}'/>" name="mudraSenderPanDetails.panNumber" id="panCardInp" 
																		class="form-control pancard-vl mandatory"
																		placeholder="Enter PAN" >
				
		</div>
	
		<div class="col-md-12 form-group">
	
		<label>Upload PAN Card:</label>
				<input type="file" value="<s:property value='%{mudraSenderPanDetails.myFile1}'/>" name="mudraSenderPanDetails.myFile1" id="panfile"  class="mandatory" placeholder="PAN CARD" required readonly="readonly" required> 
				
		</div>
		
	<div class="col-md-12" style="margin-top:15px"><strong>Note:</strong> If you don't have PAN card. You can submit FORM 60 instead of PAN Card. To submit FORM 60 <a href="javascript:void(0)" id="form60LInk" >Click here</a></div>
		
	</div>
	<div class="row" id="from60"  style="display:none" >
	
	
		<div class="col-md-12 form-group">
		<label><a href="../jspbk2/assets/downloads/Form60.pdf"  download>Download "Form 60" </a></label>
		<label class="pull-right"><a href="javascript:void(0)" id="uploadPanCard" >Upload PAN Card</a></label>
			
		</div>
	
		<div class="col-md-12 form=group">
			<label>Upload duly filled & sender copy of "Form 60".</label>
			
				<input type="file" value="<s:property value='%{mudraSenderPanDetails.myFile1}'/>" name="mudraSenderPanDetails.myFile1" id="form60file"  placeholder="FORM 60" required readonly="readonly" required> 
				
		</div>
	
	</div>



</form>
<!-- <form ng-submit="pc.submitPanForm()" enctype="multipart/form-data" >

									

<div class="row">
<div class="col-md-12">
<h2 style="margin-top:0px" id="heading">
	{{$root.popupHeadingPanCard }}</h2>

</div>


</div>
	<div class="row" id="pancard"  >

	<div class="col-md-12 form-group"  data-ng-hide="$root.panCard">
		<label><a href="../jspbk2/assets/downloads/Form60.pdf"  download>Download "Form 60" </a></label>
		<label class="pull-right"><a href="javascript:void(0)" ng-click="pc.panCardForm()" id="uploadPanCard" >Upload PAN Card</a></label>
			
		</div>
		<div class="col-md-12 form-group" data-ng-show="$root.panCard">
	
		<label>Enter Your PAN Card Number:</label>
		
				<input type="text"  data-ng-model="pc.panCardForm60Obj.panCard"  capitalize id="panCardInp" 
																		class="form-control pancard-vl mandatory"
																		placeholder="Enter PAN" >
				
		</div>
	
		<div class="col-md-12 form-group">
	
		<label>{{$root.fileLabelHeading}}</label>
				<input type="file"   id="panfile" file-model="pc.panCardForm60Obj.file" class="mandatory" placeholder="PAN CARD" > 
				
		</div>
		
	<div class="col-md-12" data-ng-show="$root.panCard" style="margin-top:15px"><strong>Note:</strong> If you don't have PAN card. You can submit FORM 60 instead of PAN Card. To submit FORM 60 <a href="javascript:void(0)" ng-click="pc.uploadFrom60()" id="form60LInk" >Click here</a></div>
		
	</div>
	<div class="row" id="from60"  data-ng-hide="$root.panCard" >
	
	
	
	
		<div class="col-md-12 form=group">
			<label>Upload duly filled & sender copy of "Form 60".</label>
			
				<input type="file" value="<s:property value='%{mudraSenderPanDetails.myFile1}'/>" name="mudraSenderPanDetails.myFile1" id="form60file"  placeholder="FORM 60" required readonly="readonly" required> 
				
		</div>
	
	</div>

	<div class="row">
	<div class="col-md-12">
	<input class="btn btn-primary btn-block" type="submit" ng-click="pf.Submit()" value="Submit" style="
    padding: 11px;
    margin: 20px 0 10px;
">
</div>
</div>

</form> -->

	</div>
</div>
 <div class="modal-footer " style="text-align:left!important">
     <p><strong>
     
     "As Mandated by the IT Dept., Ministry of Finance (Govt. of India), sender will only be
     allowed to transfer upto Rs 50,000 per year without submission of PAN card. It is 
     strongly advised that you upload sender's PAN Card document along with KYC or
     fill form 60, to allow sender more than Rs 50,000 in a year.
     "
     </strong></p>
      </div>



<!-- <div data-ng-controller="uploadPanCtrl as pc" data-ng-init="pc.initPanCard()">

<form name="pc.panform60Form" enctype="multipart/form-data"  data-ng-submit="pc.submitPanForm()">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 style="margin-top:0px">
		{{$root.popupHeadingPanCard}}	</h2>

</div>
</div>
	<div class="row" id="pancard" data-ng-show="$root.panCard">
{{pc.panform60Form}}
		<div class="col-md-12 form-group">
		
		<label>Enter Your PAN Card Number:</label>
				<input type="text" data-ng-model="pc.panform60Form.panCardInp " name="pc.panform60Form.panCardInp " class="form-control" >
		</div>
	
		<div class="col-md-12 form=group">
		{{filesArray}}
		<label>Upload PAN Card:</label>
				<input type="file"    name="file" file-model ng-model="filesArray" multiple/>
		</div>
		
	<div class="col-md-12" style="margin-top:15px"><strong>Note:</strong> If you don't have PAN card. You can submit FORM 60 instead of PAN Card. To submit FORM 60 <a href="javascript:void(0)" data-ng-click="pc.uploadFrom60()" >Click here</a></div>
		
	</div>
	<div class="row" id="from60"  data-ng-hide="$root.panCard">
	
	
		<div class="col-md-12 form-group">
		<label><a href="jspbk2/assets/downloads/Form60.pdf" target="_blank">Download "Form 60" </a></label>
			
		</div>
	
		<div class="col-md-12 form=group">
			<label>Upload duly filled & sender copy of "Form 60".</label>
				<input type="file"  >
		</div>
	
	</div>
	<div class="row">
	<div class="col-md-12">
	<input class="btn btn-primary btn-block" type="submit" value="Submit" style="
    padding: 11px;
    margin: 20px 0 10px;
">
</div>
	</div>

</div>
</form>

</div>
 <div class="modal-footer " style="text-align:left!important">
     <p><strong>
     
     "As Mandated by the IT Dept., Ministry of Finance (Govt. of India), sender will only be
     allowed to transfer upto Rs 50,000 per year without submission of PAN card. It is 
     strongly advised that you upload sender's PAN Card document along with KYC or
     fill form 60, to allow sender more than Rs 50,000 in a year.
     "
     </strong></p>
      </div>
      -->
<style>
.modal-dialog{width:400px!important}
</style> 