
div.dt-button-collection button.dt-button:active:not(.disabled), 
div.dt-button-collection button.dt-button.active:not(.disabled), 
div.dt-button-collection div.dt-button:active:not(.disabled), 
div.dt-button-collection div.dt-button.active:not(.disabled), 
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled) {
    background-color: #111f2a !important;
    box-shadow: inset 1px 1px 3px #666;
    color:#fff !important;
}

div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled){
    color: #fff;
}
div.dt-button-collection button.dt-button, div.dt-button-collection div.dt-button, div.dt-button-collection a.dt-button {
    background-color: #ccc!important;
}
 

#allmerchants-on-mobile{
    display: none;
}
@media (max-width: 414px){
  #allmerchants-on-mobile{
   display: block;
 }  
}

.allmerchants-on-desktop{
display: inline-block;
}
@media (max-width: 414px){
  .allmerchants-on-desktop{
    display: none;
    }  
}
#sparks {
    display: block;
    list-style: none;
    margin: 16px 0 0;
    /*padding: 0;*/
    text-align: left;
}

@media (max-width: 768px){
    #sparks {
        display: block;
        list-style: none;
        margin: 8px 0 0;
        /*padding: 0;*/
        text-align: left;
    }
}


#sparks li:first-child {
    border-left: none; 
}
#sparks li:last-child {
    border-right: none;
   /* padding-left: 10px;*/
}
#sparks li {
    border-left: 1px dotted #fff;
    /*padding: 0 7px;*/
}
#sparks li {
    /*padding-top: 10px;*/
    display: inline-block;
    max-height: 47px;
    overflow: hidden;
    text-align: left;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-right: 2px dotted #73869c;
}

@media (max-width: 414px){
    #sparks li {
        /*padding: 10px 10px 10px 10px;*/
    }
}

.sparks-info {
    /*min-width: 70px;*/
}

#sparks li span {
    color: #636363;
    display: block;
}
.sparks-info span {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    text-transform: none;
}
.sparks-info i {
    font-size: 12px; 
}
.txt-color-blue {
    color: #57889c!important;
}
.sparks-info .sparkline {
    display: block;
    float: right;
    margin: 0px 0 0 12px;
}
















.Add-New-Merchant-anchorTab{
    margin-bottom: 10px;
    margin-top: 22px;   
}

@media (max-width: 414px){
    .Add-New-Merchant-anchorTab{
        margin-bottom: 25px !important;
        margin-top: 22px;   
    }
}

.scrollD {
    min-width: 20%;
    min-width: 90%;
}

@media only screen and (max-width:1024px) {
    .scrollD {
        margin: 0 auto; 
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        width: 295px;
        display: block;
    }
}

 

@media only screen and (max-width:768px) {
    .scrollD {
        margin: 0 auto;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        width: 295px;
        display: block;
    }
}











 


#wrapperr {
    width: 100%;
    background: #fff;
    margin:0px; padding:0px;float:left;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #333;
   
}

#navigation a.head:hover i {
    color: #ffff;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
background-color: #2497BA;
color: #fff;
}

 
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

 
 
 
  @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
        
    }
    
    
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 217px;
    }
body.nav-sm .container.body .left_col {
    width: 118px;
    padding: 0; 
    height: 100%;
    float:left;
    margin:0px;    
}

.navbar {
 border-radius: 0px; 
}

}

 @media(max-width:480px) {
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px; }
#wrapperr {
    width: 100%;
    background: #fff;
    margin:0px; padding:0px; margin-left:0px;  float:left;
}
}

a.logo1 img {
    width: 7em;
    height: auto;
    padding: 10px 0px;
    margin-left: 70px;
}

#page-inner {
    width:100%;
    background-color:transparent;
    padding:10px;
    padding-top:0px;
    min-height:auto;
    margin:0px;
    padding:0px;
}

.no-boder { 
}
 
.page-headerr {
padding-bottom: 2px;
margin:-15px 0 10px;
}

.panel{border:none; box-shadow: none;}
h1.page-headerr { font-size:26px; text-align:center; color:#333333;}
.panel-left { 
    height: 54px; 
    border: none; 
    background: none !important;
    position: absolute !important;
    z-index: 1; 
    line-height: 10px;
    font-size: 10px;
    left: 35px;
    color: #73869c !important;
    height: 20px !important;
    top: 2px;
}
.panel-left .fa-5x {
font-size: 2em;
color: #73869c4d;
padding: 10px 0;
margin-bottom:20px;
line-height: 100% !important;
}
.panel-right{ 
width: 100%;
height: 54px;
background: #F7F7F7; 
font-size:9px;
}
.njnew { border:1px solid #ddd; border-radius:5px; margin-top:-10px; padding:0px;}
.paddrr { padding:0px 7px 0px 7px;}

.newteds { padding:0px; border-radius:3px;text-align: right;}
.panel-right h3{  
font-size: 14px;
padding: 2px 0px 0px 0px;
margin:0px;
color:#333333;
}
.margin-right { margin-right:5em; }

 

/*.borderbottom {
    color: #73869c;
    background-color: transparent; 
    font-size: 22px; 
    padding: 7px;
    border-bottom: 2px solid #bbbcbd;
    text-shadow: 1px 1px 3px #dcdcdc;
}*/

.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
.green {
background-color: #5cb85c;
color: #fff;
}
 .blue {
background-color: #03a9f4;
color: #fff
}
  .red {
background-color: #F0433D;
color:#fff;
}
.magenta {
background-color: #9c27b0;
color:#fff;
}
  .brown {
background-color: #f0ad4e;
color:#fff;
} 
 .back-footer-red {
background-color: #F0433D;
color:#fff;
border-top: 0px solid #fff;
}
@media(min-width: 768 px)
.navbar-side {
        z-index: 1;
        position: absolute;
        width: 221px;
    }
 
 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

@media(max-width:480px) {
.page-headerr h1 {
display: block;
padding-top:0px;
font-size: 19px;
}
.page-headerr {
padding-bottom: 2px;
margin:0px 0 10px;
}
.top-navbar .dropdown-menu{
min-width:200px;
margin-left:5%;
margin-top:5px;
border-radius: 0 0 4px 4px;
float:right;
}
}
@media(max-width:768px) {
.page-headerr h1 {
display: block;
padding-top:0px;
font-size: 19px;
}
.page-headerr {
padding-bottom: 2px;
margin:0px 0 10px;
}
}

@media(max-width:600px) {
    .top-navbar .dropdown-menu{
min-width:200px;
margin-left:5%;
margin-top:5px;
border-radius: 0 0 4px 4px;
float:right;
}
    }
.dash-analyse{}
.dash-analyse .analyse-block{position: relative !important; margin-bottom:15px;
    }
.dash-analyse .analyse-block .analyse-block-in{width:100%; float:left; margin:0;}
    .dash-analyse .analyse-amount{ position:absolute; right:15px; top:0; font-size:14px; color#222222; margin: 5px auto;}
    .dash-analyse .analyse-count{    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #73879C;}
.analyse-block .panel-right, .analyse-block .panel-left{height:75px; position:relative;}
.analyse-block .panel-left i{    padding: 0;
    margin: 0;
    line-height: 2.2em;}
.dash-analyse .analyse-text{color:#73879C; text-align:center; font-weight:bold; font-size:13px; position:absolute; width:100%; left:0; bottom:5px;}
 

.dash-analyse .analyse-block:after {
    content: "";
    border-left: 2px solid #00BCD4;
    top: 20%;
    display: block;
    position: absolute;
    bottom: 20%;
    right: 7px;
}

.brown1{
        background-color: #FFC107;
}
.brown2 {
    background-color: #9C27B0;
}
.brown3 {
    background-color: #f79c0e;
}
.brown4 {
    background-color: #3F51B5;
}
tr.even td {
    background: #efefef;
}

#settlementAmountDataTable tbody td {
    padding: 3px;
    text-align: center;
    font-size: 13px;
    border-right: 1px solid #dcdcdc;
}


 
#main {
    margin-left: 220px;
    padding: 0;
   /*  padding-bottom: 52px; */
    /* min-height: 500px; */
    position: relative;
}
#mainTDR-Setting{
    margin-left: 180px;
    padding: 0;
    padding-bottom: 52px;
    min-height: 500px;
    position: relative;
}
.txnf {
    background: transparent;
    margin: 10px 0 0;
    padding: 10px 10px 10px 10px !important;
}


/*.txnf h2 { 
    color: #fff;
    background-color: transparent; 
    padding: 7px;
    border-bottom: 2px solid #bbbcbd; 
    text-align: left;
}*/


.MerchBx {
    min-width: 20%;
    min-width: 92%; 
    padding: 0;
}
.persenr {
    width: 32%;
    float: left;
    font: bold 12px arial;
    color: #333;
    line-height: 22px;
    margin: 0 0 0 10px;
}
 


.form-control {
    display: block;
    width: 96%; 
    padding: 3px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #334555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #aaa;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 2%;
    line-height: 40px;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.signupbutton {
    border: 1px solid #f81213;
    width: 100%;
    padding: 10px;
    font: 700 14px Tahoma;
    color: #fff;
    cursor: pointer;
}

.filters {
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    border: 1px solid #d8d8d8;
    position: relative;
    top: 0;
    vertical-align: top;
}

.filters {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

 

.kotak{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin-bottom: 20px;
} 

 
.maindivcol-md-6{
    padding: 10px;
    border: 1px solid #111;
    margin-top: 20px;  
}
.maindivcol-md-6-perhead{
    color: #333;
    border: 1px solid #c0c0c0;
    background: #f2f2f2;
    border-radius: 5px;
}
.txnfnew{
    margin-bottom: 0px;
    padding: 9px 7px;
    font: bold 16px Arial;
    background-color: #808080;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #333333;
    border-bottom: 3px solid #ee8422;
}

.txnfnew2{
    margin-top: 0;
    color: #73869c;
    background-color: transparent;
    font-weight: normal;
    font-size: 22px; 
    padding: 7px;
    border-bottom: 2px solid #bbbcbd;
    text-shadow: 1px 1px 3px #dcdcdc;
    text-align: left;    
}
.forinlinepurpose{
    display: inline-block;
}

.forinlinepurposestl{
    float: left;
}
.block-head{
    font: bold 13px verdana;
    color: #fff;
    background: #333;
    padding: 7px 0;
    text-align: center;
}

 


.sapermission {
    width: 30%;
    float: left;
    list-style: none;
}

.onlyforadminProfile{
    margin-left: 266px;
}




.adduTR{
    margin-bottom: 10px;
}
 
.ui-dialog .ui-dialog-titlebar-close{
   opacity: 1 !important;
}

.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button{
    color: #333 !important;
}

.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button .ui-state-hover{
    color: #333 !important;
}










.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #fff !important;
    /* background-color: #2b6dd1 !important; */
    background-color:#76797E !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button { 
     margin-left: 0px !important;  
}
/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate 
.paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active { 
    border: 1px solid #fff !important; 
}*/





.smart-style-5 .btn-info, .smart-style-5 .btn-info.active, .smart-style-5 .btn-info:active, .smart-style-5 .btn-info:focus, .smart-style-5 .btn-info:hover, .smart-style-5 .open>.dropdown-toggle.btn-info {
    border-color: rgb(238, 132, 34) !important;
    background: rgb(28, 49, 67) !important;
}



 

.smart-style-5 .btn-success, .smart-style-5 .btn-success.active, .smart-style-5 .btn-success:active, .smart-style-5 .btn-success:focus, .smart-style-5 .btn-success:hover, .smart-style-5 .open>.dropdown-toggle.btn-success, .smart-style-5 .sa-chat-learnmore-btn, .smart-style-5 .sa-chat-learnmore-btn:active, .smart-style-5 .sa-chat-learnmore-btn:focus, .smart-style-5 .sa-chat-learnmore-btn:hover {
    border-color: rgb(238, 132, 34) !important;
    background: rgb(28, 49, 66) !important;
}

 


.ui-widget {
    font-family: verdana!important;
    font-size: 13px;
}
table.product-spec { 
    font-family: verdana!important;
}
 

/*.borderbottom {
    color: #fff !important;
    background-color: transparent !important;
    font-size: 22px;
    padding: 0px !important;
    border-bottom: 2px solid #fff !important;
    text-shadow: none !important;
}*/




.txtnew{
    font-family: verdana !important;
}
 

.smart-style-5 .smart-form, 
.smart-style-5 .ui-jqgrid .ui-jqgrid-title, 
.smart-style-5 .ui-state-focus, .smart-style-5 .ui-state-hover, 
.smart-style-5 .ui-widget-content .ui-state-focus, 
.smart-style-5 .ui-widget-content .ui-state-hover, 
.smart-style-5 .ui-widget-header .ui-state-focus, 
.smart-style-5 .ui-widget-header .ui-state-hover {
    color: #fff !important;
    opacity: 1;
    background: #ee8422 !important;
}



/*input.setDet-menu {
    padding: 8px;
    margin: 24px;
    background: #1b3041;
    color: #fff;
    border: 1px solid #ee8422;
}*/



 

::-webkit-input-placeholder {  
  color: #666;
}
::-moz-placeholder {  
  color: #666;
}
:-ms-input-placeholder { 
  color: #666;
}
:-moz-placeholder { 
  color: #666;
}

 

.txt-color-greenDark p {
    margin: 0px 0px 0px -10px;
}
.sparkline p{
        margin: 5px 0px 0px 0px;
}


.six-in-one h5{
    font-size: 15px;
    font-weight: bold;
}
.six-in-one i {
    font-size: 20px;
}
.six-in-one div {
   cursor: pointer;
}
.six-in-one p {
  display: inline-block;
}
.sparks-info{
border-right: 1px dashed #111;
}
.six-in-one .sparks-info:first-child{
    border-right: 1px dashed #111;
}
.six-in-one .sparks-info:last-child{
    border-right: 0px dashed #111;
}
.no-0f-action{
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 768px){
    .sparks-info{ 
    margin-bottom: 15px;
    }
    .six-in-one .sparks-info:first-child{
        margin-bottom: 15px;
    }
    .six-in-one .sparks-info:last-child{
        margin-bottom: 15px;
    }
}

@media (max-width: 414px){
    .sparks-info{
    border-bottom: 1px dashed #111; 
    }
    .six-in-one .sparks-info:first-child{
        border-bottom: 1px dashed #111;
    }
    .six-in-one .sparks-info:last-child{
        border-bottom: 0px dashed #111;
    }
}