<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/theme-converter.css" />
<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/newtheme.css" />
<link rel="stylesheet" type="text/css" href="./css/charisma-app.css" />

<div class="box-inner">
<div class="grid-box">

<!-- <div class="box-header ">
	
Sender Registration
<a class="pull-right" href="#/">Exit Sender</a>
</div> -->

<div class="box-header">
		<h2>Sender Registration</h2>
		<a class="pull-right" href="#/" style="padding: 10px;">Exit Sender</a>
</div>


<div class="senderFormWrapper" data-ng-controller="senderFromCtrl as sender"  data-ng-init="sender.showModelBox()" >
<form data-ng-submit="sender.postSenderData();"  name="newUserReg" autocomplete="off">

<div class="form-wrapper" >
<div class="alert alert-danger col-md-5 col-sm-offset-4" data-ng-show="sender.error">
 <span class="glyphicon glyphicon-alert" ></span> <strong>  {{sender.errorMsg}}</strong> </div>
<div class="row" style="margin-top: 15px;">
	<div class="col-md-3 col-sm-offset-1 form-label"> Mobile Number</div>
	<div class="col-md-5 form-group form-group-text">  {{sender.senderMobileNo}}</div>
	
</div>
<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label"  maxlength="50">Name</div>
	<div class="col-md-5 form-group"><input type="text" data-mw-input-restrict="onlyAlpha" data-ng-model="sender.firstName"  data-ng-required="true" class="form-control" /></div>
	
</div>
<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label">Set MPIN</div>
	<div class="col-md-5 form-group"><input  type="password" data-mw-input-restrict="onlynumbers" data-ng-pattern="/\d{4}/"  data-ng-required="true" maxlength="4" class="form-control" data-ng-model="sender.mpin" /></div>
	
</div>
<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label">Confirm MPIN</div>
	<div class="col-md-5 form-group"> <input type="password" data-mw-input-restrict="onlynumbers" data-ng-pattern="/\d{4}/" data-ng-required="true" maxlength="4"  class="form-control" data-ng-model="sender.confirmMpin"/></div>
	
</div>

<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label">OTP </div>
	<div class="col-md-5 form-group"> <input type="text" class="form-control" data-mw-input-restrict="onlynumbers" data-ng-required="true" data-ng-pattern="/\d{6}/" maxlength="6"  data-ng-model="sender.otp"/></div>
	<div class="col-md-3"><strong data-ng-show="sender.counter != 0">OTP Resend link will be here in {{sender.counter}} seconds</strong> <a href="javascript:void(0)" data-ng-click="sender.DmtOtpResend(); " data-ng-show="sender.otpResendLink" class="resend-otp">Resend OTP</a> </div>
	
</div>



  <div class="row">
  <div class="col-md-5  col-sm-offset-4 text-right" style="margin-bottom: 10px;">




 
<input type="submit" class="btn btn-primary " data-ng-disabled="newUserReg.$invalid || sender.mpin != sender.confirmMpin || sender.loading" value="{{sender.btnText}}" data-ng-attr-title="{{newUserReg.$invalid  ? 'Please fill all fields with valid data' : 'Register me'}}" data-toggle="tooltip" data-placement="bottom"  />
  </div>
  
 </div>
</div>
</form>


 

</div>


</div>
</div>