<style> 
.searchinheading {
    width: 25% !important;
    color: #fff !important;
    margin-top: 4px !important;
    background: #decbcbab !important;
    border-bottom: none !important;
}
</style>

<div ng-controller="senderLedgerCtrl as sender" ng-init="sender.initDatePicker()">
      
      <form  data-ng-submit="sender.getsenderReport()" name="senderForm">
    
     <!-- <h4>Please provide sender mobile number</h4> -->
     <div class="row">
     
     </div>
     <h4>Search By</h4>
     <div class="row">
     <div class="col-sm-2">
     <label>Account Number 
    	 <input type="radio" ng-model="sender.senderForm.mobileNoChecked" ng-click="sender.emptyfield()" ng-value="false" name="sSearch">
     </label>
  </div>
      <div class="col-sm-2">
 
     <label>Mobile Number 
     	<input type="radio" ng-model="sender.senderForm.mobileNoChecked" checked ng-click="sender.emptyfield()" ng-value="true"  name="sSearch">
     </label>
     </div>
<!--  <div class="col-sm-2">
     
     <label>transaction Id 
     	<input type="radio" ng-model="sender.senderForm.mobileNoChecked" checked ng-click="sender.emptyfield()" ng-value="true"  name="sSearch">
     </label>
 </div> -->  
      	
   </div>
      	
     <div class="row" style="margin-top: 20px;">
       <div class="col-md-4">
      	<div class="form-group">
      	<input class="form-control" placeholder="Sender Mobile"  style="margin-left: 0px;" id="senderMobileNo"   ng-show="sender.senderForm.mobileNoChecked"  data-ng-model="sender.senderForm.mobileNo"       data-ng-pattern="/^[7896]\d{9}$/" maxlength="10" /> 
        <input class="form-control" placeholder="Account Number" style="margin-left: 0px;" id="senderAccountNo"  ng-hide="sender.senderForm.mobileNoChecked"  data-ng-model="sender.senderForm.accountno"      data-ng-pattern="/\d{9,}/"        maxlength="26" />
       <!--  <input class="form-control" placeholder="Transaction Id" style="margin-left: 0px;" id="senderTransactionId"  ng-show="sender.senderForm.mobileNoChecked"  data-ng-model="sender.senderForm.transactionId"      data-ng-pattern="/\d{9,}/"        maxlength="26" /> -->
<!--       	<input class="form-control" placeholder="Sender Mobile"   data-ng-model="sender.senderForm.mobileNo" required="required" data-ng-pattern="/^[7896]\d{9}$/" maxlength="10" />
 -->      	
 </div>
      </div>
      <div class="col-md-4"> <input type="submit" value="{{sender.btnText}}"  title="{{ senderForm.$invalid ? 'Please provide valid sender mobile' : 'Search the sender ledger'  }}" class="btn-success btn" data-ng-disabled="senderForm.$invalid || sender.senderForm.mobileNo.$invalid  || sender.loading" /></div>
     
     </div>
     
     
      </form>
      <div class="grid-box " data-ng-show="sender.sendergridData">
	<div class="box-header box-header-header2" data-toggle="collapse" data-target="#beneTransTable">
		<h2>Transaction Status Report</h2>
		<input type="text" class="grid-search searchinheading pull-right" data-ng-model="sender.searchsender"/> 
	</div>
		 
	 

	<div class="record-count" style="margin-top:15px;">
		<strong>Total record count: </strong>{{$root.senderLedgerCount}}
		
		<button class="dt-button btn-info pull-right download-btn" data-ng-click="sender.pdfDownload()">PDF Download</button>

		<button class="dt-button btn-info pull-right download-btn" data-ng-click="sender.printFile()"> Print</button> 

		<button class="dt-button btn-info pull-right download-btn"  data-ng-disabled="sender.exl" data-ng-click="sender.exportToExcel()"> Excel</button> 

	</div>

<div class="table-container" > 
<table class="table table-responsive table-striped" id="sender-data" >
	<thead>
		<tr>
			
			<th><a href="javascript:void(0)" class="whiteColor" data-ng-click="sortType = 'txnid'; sortReverse = !sortReverse">Txn ID<span data-ng-show="sortType == 'txnid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'txnid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'accountno'; sortReverse = !sortReverse">Account Number<span data-ng-show="sortType == 'accountno' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'accountno' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'dramount '; sortReverse = !sortReverse">Debit<span data-ng-show="sortType == 'dramount ' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'dramount ' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'cramount'; sortReverse = !sortReverse">Credit<span data-ng-show="sortType == 'cramount' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'cramount' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
	       	<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ifsccode'; sortReverse = !sortReverse">IFSC Code<span data-ng-show="sortType == 'ifsccode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ifsccode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>				
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'isbank'; sortReverse = !sortReverse">Type<span data-ng-show="sortType == 'isbank' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ptytransdt' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'narrartion'; sortReverse = !sortReverse">Txn Type<span data-ng-show="sortType == 'narrartion' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'narrartion' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'bankrrn'; sortReverse = !sortReverse">Bank RRN<span data-ng-show="sortType == 'bankrrn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'bankrrn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'remark'; sortReverse = !sortReverse">Status<span data-ng-show="sortType == 'remark' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'remark' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ptytransdt'; sortReverse = !sortReverse">Txn Date<span data-ng-show="sortType == 'ptytransdt' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ptytransdt' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
       <!-- <th><a href="javascript:void(0)"  class="whiteColor">Action</a></th> -->
            
            
            
            
		</tr>
	</thead>

	<tr dir-paginate="item in $root.senderLedgerList  | orderBy:sortType:sortReverse | filter: sender.searchsender|itemsPerPage:10"  >

<td style="font-size: 12px;">{{item.id}}</td>
<td style="font-size: 12px;">{{item.accountno}}</td>
<td style="font-size: 12px;">{{item.dramount | currency:"" }}</td>
<td style="font-size: 12px;">{{item.cramount | currency:"" }}</td>
<td style="font-size: 12px;">{{item.ifsccode}}</td>
<td style="font-size: 12px;"> {{item.isbank == 1 ? 'Bank' : 'Wallet'}}</td>
<td style="font-size: 12px;">{{item.narrartion}}</td>
<td style="font-size: 12px;">{{item.bankrrn}}</td>
<td style="font-size: 12px;">{{item.remark }}</td>
<td style="font-size: 12px;">{{item.ptytransdt }}</td>
<!-- <td style="position: relative;
    overflow: visible;"> <button data-ng-click="sender.refundTransaction(item.id,item.senderid)"class="btn btn-primary" style="    padding: 7px;
    width: 74px;
    min-width: initial!important;" ng-show="item.narrartion == 'IMPS' && item.status == 'FAILED'">Refund</button></td> -->





</tr>
	</table>
	
	<dir-pagination-controls
					max-size="10"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
	</div>
	</div>
</div>
