<div ng-controller="agentLedgerCtrl as agent" ng-init="agent.initDatePicker()">
      <form  data-ng-submit="agent.getAgentReport()" name="agentSearchForm">
      <h4>Please select the date of transaction for which you want to search.</h4>
      <div class="row">
     
        <div class="col-md-4">
      	<div class="form-group">
      	
      		<input 
      				class="form-control datepicker-here1" 
      				readonly placeholder="Start Date"  
      				required="required"  
      				data-ng-model="agent.astDate" 
      				id="adpStart" />
      	</div>
      </div>
        <div class="col-md-4">
      	<div class="form-group">
      		
      		<input 
      				class="form-control datepicker-here2" 
      				readonly placeholder="End Date"  
      				required="required" 
      				data-ng-model="agent.aedDate" 
      				id="adpEnd" />
      	</div>
      </div>
     
      <div class="col-md-4"><input type="submit" value="{{agent.btnText}}" data-ng-disabled="agent.loading"  class="btn-success btn"></div>
      </div>
    
      
     
      </form>
      <div class="grid-box " data-ng-show="agent.agentgridData">
	<div class="box-header" data-toggle="collapse" data-target="#beneTransTable">
		Agent Ledger Report
		<input type="text" class="grid-search searchinheading pull-right" data-ng-model="agent.searchAgent"/>
    </div>

 

		
		<div class="record-count">
			<strong>Total record count: </strong>{{agent.ledgerCount}}

			<button class="btn-info pull-right download-btn" data-ng-click="agent.pdfDownload()">PDF Download</button>
			<button class="btn-info pull-right download-btn" data-ng-click="agent.printFile()"> Print</button> 
			<button class="btn-info pull-right download-btn"  data-ng-disabled="agent.exl" data-ng-click="agent.exportToExcel()"> Excel</button>
		</div>


		<div class="table-container" >
		
<table class="table table-responsive table-striped "  >
	<thead>
		<tr>
			
			<th><a href="javascript:void(0)" class="whiteColor" data-ng-click="sortType = 'txnDate'; sortReverse = !sortReverse">Date<span data-ng-show="sortType == 'txnDate' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'txnDate' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'userid'; sortReverse = !sortReverse">Agent ID<span data-ng-show="sortType == 'userid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'userid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'resptxnid'; sortReverse = !sortReverse">Txn ID<span data-ng-show="sortType == 'resptxnid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'resptxnid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'txntype'; sortReverse = !sortReverse">Txn Type<span data-ng-show="sortType == 'txntype' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'txntype' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
          	<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'mobileno'; sortReverse = !sortReverse">Sender Mobile<span data-ng-show="sortType == 'mobileno' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'mobileno' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'accountno'; sortReverse = !sortReverse">Account Number<span data-ng-show="sortType == 'accountno' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'accountno' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ifsccode'; sortReverse = !sortReverse">IFSC Code<span data-ng-show="sortType == 'ifsccode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ifsccode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'dramount'; sortReverse = !sortReverse">Debit<span data-ng-show="sortType == 'dramount' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'dramount' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'txncredit'; sortReverse = !sortReverse">Credit<span data-ng-show="sortType == 'txncredit' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'txncredit' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'closingbal'; sortReverse = !sortReverse">Running Balance<span data-ng-show="sortType == 'closingbal' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'closingbal' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            
            
		
			
		</tr>
	</thead>

	<tr dir-paginate="item in agent.atReport  | orderBy:sortType:sortReverse | filter: agent.searchAgent |itemsPerPage:10"  >

<td>{{item.txnDate}}</td>
<td>{{item.userid}}</td>
<td>{{item.resptxnid}}</td>
<td>{{item.txntype}}</td>
<td>{{item.mobileno}}</td>
<td>{{item.accountno}}<br/> ({{item.name}})</td>
<td>{{item.ifsccode}}</td>
<td>{{item.dramount | currency:"" }}</td>
<td>{{item.txncredit | currency:""}}</td>
<td>{{item.closingbal | currency:"" }}</td>




</tr>
	</table>
	<dir-pagination-controls
					max-size="10"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
	
	</div>
	</div>
</div>