<div  data-ng-controller="refundCtrl as refund">
<h3 style="
    margin-top: 1px;
">Fund Transfer</h3>
<form ng-submit="refund.submitRefund()">
<span id="refundResponse" style="font-size: 16px;
    margin: 13px 0;
    float: left;" ></span>
<input type="hidden" id="txtId" ng-model="refund.id"/>

<input type="hidden" id="sendersenderidSearch" ng-model="refund.account"/><label ng-hide="$root.refunddone">
Please Enter Sender MPIN

</label>
<input type="text" ng-hide="$root.refunddone" ng-model="refund.mpin" id="refundMpin" class="form-control" style="margin: 0 0 23px 0;" required maxlength="4" data-mw-input-restrict="onlynumbers"/>
<input type="submit" ng-hide="$root.refunddone" class="btn btn-primary btn-block" style="padding: 11px;" value="{{refund.loading == true ? 'Loading..' : 'Submit'}}" ng-disabled="refund.loading">



</form>
<input type="button"data-dismiss="modal" class="btn btn-primary btn-block" style="padding: 11px;" value="Done" ng-show="$root.refunddone">

</div>

<style>
.modal-dialog {

width: 297px!important;
}

</style>