<div  class="container-fluid" >
<div class="class="grid-box col-md-12">

<div class="box-inner row" >
  <div class="box-header ng-binding">
	

Reports <a class="pull-right" href="#/">Sender Portal</a>
</div>

 
<div class="row">
	<div class="col-md-12"> 
	<div class="panel with-nav-tabs panel-default">
	<div class="panel-heading">
	<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="javascript:void(0)" data-target="#transactionReport">Transaction Ledger</a></li>
    <li><a data-toggle="pill"   href="javascript:void(0)" data-target="#agentLedger">Agent Ledger</a></li>
     <li><a data-toggle="pill"   href="javascript:void(0)" data-target="#senderLedger">Sender Ledger</a></li>
 
  </ul></div>
	<div class="panel-body">
  
  <div class="tab-content"  >
<div data-ng-include="'jspbk/app/components/reports/transactionLedger.html'+$root.version "  id="transactionReport" class="tab-pane fade in active"></div> 
 <div data-ng-include="'jspbk/app/components/reports/agentLedger.html'+$root.version" id="agentLedger" class="tab-pane fade"></div> 
  <div data-ng-include="'jspbk/app/components/reports/senderLedger.html'+$root.version" id="senderLedger" class="tab-pane fade"></div>
    
    </div>
    
    </div>
  </div></div>
</div>

 
</div>
</div>


</div>
