<!-- <button pdf-save-button="idOne" pdf-name="someone.pdf" class="btn">Hello Someone</button> -->

	<div class="grid-box col-md-12" data-ng-controller="favlistCtrl as fav" data-ng-init="fav.popGrid();">
	<div class="box-header">Priority Sender() <input type="text" style="margin: 0px;" class="grid-search pull-right" data-ng-model="fav.search"/></div>
		<div class="table-container col-md-12">
		
 <table class="table table-responsive table-striped" fixed-header>
		
	
	<thead>
		<tr>
			<th >
			   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'name'; favSortReverse = !favSortReverse">
   		 Name
            <span data-ng-show="sortTypeFav == 'name' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortTypeFav == 'name' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a></th>
			<th>
			   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'mobileNumber'; favSortReverse = !favSortReverse">
   		Mobile Number
            <span data-ng-show="sortTypeFav == 'mobileNumber' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortTypeFav == 'mobileNumber' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a></th>
          <th>
			   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'mobileNumber'; favSortReverse = !favSortReverse">
   		Wallet Balance
            <span data-ng-show="sortTypeFav == 'walletbalance' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortTypeFav == 'walletbalance' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a></th>
          <th>
			   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'mobileNumber'; favSortReverse = !favSortReverse">
   		Transfer Limit
            <span data-ng-show="sortTypeFav == 'transferlimit' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortTypeFav == 'transferlimit' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a></th>
          <th>
			   <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'mobileNumber'; favSortReverse = !favSortReverse">
   		KYC Status
            <span data-ng-show="sortTypeFav == 'kycstatus' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span data-ng-show="sortTypeFav == 'kycstatus' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a></th>
			
			<th>Action</th>
			<th>Update KYC</th>
			<th>Remove</th>
				</tr>
	</thead>

	<tr data-ng-repeat="gridItem in $root.favList |  orderBy:sortTypeFav: favSortReverse | filter: fav.search"  id="row-{{gridItem.favouritid}}" >
<td>
    {{gridItem.name}}
</td>
	<td>
    {{gridItem.mobileno}}
</td>
	<td>
    {{gridItem.walletbalance | currency: $root.loginUserData.countrycurrency + "  "}}
</td>
	<td>
    {{gridItem.transferlimit | currency: $root.loginUserData.countrycurrency + "  "}}
</td>
	<td>
    {{gridItem.kycstatus}}
</td>
<td>
    <input type="button" value="Login Sender" data-ng-click="fav.loginSender(gridItem.mobileno)" data-ng-disabled="fav.isProccessing"   class="btn-secondary btn grid-btn" />
</td>
<td>

	
	  <input type="button" value="Update KYC" data-ng-click="fav.updateSenderKYC(gridItem.mobileno, gridItem.senderid)"  data-ng-disabled="fav.isProccessing" data-ng-hide="gridItem.kycstatus == 'FULL KYC'" class="btn-secondary btn grid-btn" />
	
<span style="color:green" data-ng-show="gridItem.kycstatus == 'FULL KYC'">KYC Done</span>
  
</td>
<td class="delete-opt-col"    style="overflow: visible;">
  <a href="javascript:void(0)" id="delete{{gridItem.favouritid}}" data-ng-click="fav.showDeleteFav( gridItem.favouritid)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

  </a> 
  <div class="popover confirmation fade left in fav-grid-popup"  style="top: -21px;
    left: 38px;
    display: none;">
<div class="arrow"></div><div class="popover-content"><p class="confirmation-content" >Are you sure?</p>
<div class="confirmation-buttons text-center"><div class="btn-group"><a href="javascript:void(0)" class="btn btn-xs " data-ng-click="fav.deleteFav(gridItem.senderid ,gridItem.favouritid)" data-apply="confirmation">
<i class="glyphicon glyphicon-ok"></i> Yes</a><a href="javascript:void(0)" data-ng-click="fav.hideDeletePopup(gridItem.favouritid)" class="btn btn-xs btn-default" data-dismiss="confirmation"><i class="glyphicon glyphicon-remove"></i> No</a></div></div></div></div>
</td>


</tr>
	</table>
	
	

	</div>
	</div>