  <style>
  .kyc-Block{
    
    
    background: #f36d25;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
    margin: auto;    
  }
  .kyc-Block:hover{
    width: 90%;
    padding:25px;
  }
  </style>
  <div data-ng-controller="kycCtrl as kyc" ng-init="kyc.initKyc()">

 <form action="SaveSenderKyc" method="post" id="kycForm" enctype="multipart/form-data">
 	<div class="container-fluid " >
 		<div class=" row">
 			<div class="grid-box col-md-12">
 				<div class="box-header ">
	
KYC
<span class="pull-right" id="senderMobileTop"></span>
</div>
			<div class="box-inner-content "> 
					<div class="" style=" max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;">
   
<div class="row">
		
		<input type="hidden" id="mobileNo"  value="" name="senderKyc.sernderMobileNo" />
		<input type="hidden" id="senderId"  value="" name="senderKyc.senderId" />
		<input type="hidden" id="agentId" value="{{$root.loginUserData.agentid}}" name="senderKyc.agentId">
		<input type="hidden" id="Aggre" value="{{$root.loginUserData.aggreatorid}}" name="senderKyc.aggreagatorId">
		
		
		
<!-- 		  <div class="col-md-6 text-center" >
    <div class="kyc-Block" ng-click="kyc.submitKYC('bio')">

       Bio-Matric
    </div>
   

  </div>
  <div class="col-md-6 text-center" >
    <div class="kyc-Block" ng-click="kyc.submitKYC('otp')">
        OTP

    </div>
   
  </div> -->
  
  <div class="form-group col-md-4">

  <label>Proof of Address</label>
<!-- 
    <select class="form-control"  ng-change="kyc.submitKYC(bio)" ng-model="kyc.bio" ng-options="item for item in kyc.bioMet">
  
  
  </select> -->
   <select class="form-control" name="senderKyc.addressProofType"  ng-model="kyc.addressDoc" ng-options="item for item in kyc.addDoc">
  
  
  </select>
 
  	
  </div>
  <div class="form-group col-md-4">

    <label>Address Proof Number</label>

    <input type="text" name="senderKyc.addressProof" ng-model="kyc.addProofNo"  class="form-control" required>
   
      
    </div>
          <div class="form-group col-md-4">
    
        <label>Upload Address Proof </label>
    
        <input type="file" ng-model="kyc.addressProoffile" name="senderKyc.myFile1" required>
       
          
        </div>
        </div>
        <div class="row">
    <div class="form-group col-md-4">

      <label>Proof of Identity</label>
    <!-- 
        <select class="form-control"  ng-change="kyc.submitKYC(bio)" ng-model="kyc.bio" ng-options="item for item in kyc.bioMet">
      
      
      </select> -->
       <select class="form-control"  name="senderKyc.idProofType"  ng-model="kyc.idProofDoc" ng-options="item for item in kyc.idDoc">
      
      
      </select>
     
        
      </div>
      <div class="form-group col-md-4">
    
        <label>Identity Proof No.</label>
    
        <input type="text" required ng-model="kyc.idProofNo" class="form-control" name="senderKyc.idProof">
       
          
        </div>
          <div class="form-group col-md-4">
    
        <label>Upload Identity Proof </label>
    
        <input type="file" ng-model="kyc.idProoffile" name="senderKyc.myFile2" required>
       
          
        </div>
        </div>
        
 <div class="row">
 <div class="col-md-12">
  Please upload clear scan copies of the documents along with self attestation of customer and O.S.V.(Original Seen and Verified) written over the document with Agent signature.
  </div>
 </div>



        <div class="row">
 <div class="col-md-6">
  <input type="submit" style="margin-top: 23px;
    padding: 8px 0;"  class="btn btn-primary" value="submit" />
  
  </div>
 


</div>

						
					</div>
			</div>
 				
 			</div>
 			
 		</div>
 		
 </div>
</form>
  </div>