
<style>
 .delete-opt-col{
     position: relative;
 }
 .popover-content {
    padding: 3px 5px;
}
.confirmation {
    top: 49%;
    left: -40%;
    position: absolute;
    display: block;
    width: 100%;
}

.fixed-header #main { 
    padding-bottom: 60px !important;
}

tr > th, td{
    line-height: 31px;
    }
    

</style>

<div class="grid-box	" data-ng-controller="favlistCtrl as fav" data-ng-init="fav.popGrid();">
	<div class="box-header box-header-header2">
		<h2>Priority Sender(s) </h2>
		
		<input style="margin: 0px;" type="text" class="grid-search searchinheading pull-right" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'" data-ng-model="fav.search"/>
	</div>
	<!-- <div class="table-container col-md-12"> -->
		<div class="table-container">
		
		    <table class="table table-responsive table-striped" fixed-header > 
				<thead>
					<tr>
						<th style="line-height: 31px;">
						    <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'name'; favSortReverse = !favSortReverse">
			   		        Name
			                    <span data-ng-show="sortTypeFav == 'name' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
			                    <span data-ng-show="sortTypeFav == 'name' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
			                </a>
			            </th>
						<th style="line-height: 31px;">
						    <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'mobileNumber'; favSortReverse = !favSortReverse">
			   		        Mobile Number
			                    <span data-ng-show="sortTypeFav == 'mobileNumber' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
			                    <span data-ng-show="sortTypeFav == 'mobileNumber' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
			                </a>
			            </th>
			            
			            <th style="line-height: 31px;">
						    <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortTypeFav = 'mobileNumber'; favSortReverse = !favSortReverse">
			   		        Transfer Limit
			                <span data-ng-show="sortTypeFav == 'transferlimit' && !favSortReverse" class="glyphicon glyphicon-chevron-down"></span>
			                <span data-ng-show="sortTypeFav == 'transferlimit' && favSortReverse" class="glyphicon glyphicon-chevron-up"></span>
			                </a>
			            </th>  
						<th>Action</th> 
						<th>Remove</th>
					</tr>
				</thead>

				<tr data-ng-repeat="gridItem in $root.favList |  orderBy:sortTypeFav: favSortReverse | filter: fav.search"  id="row-{{gridItem.favouritid}}" >
					<td style="line-height: 31px;">
					    {{gridItem.name}}
					</td style="line-height: 31px;">
						<td>
					    {{gridItem.mobileno}}
					</td>
						<td style="line-height: 31px;">
					    {{gridItem.transferlimit | currency: $root.loginUserData.countrycurrency + "  "}}
					</td> 
					<td style="line-height: 31px;">
					    <input type="button" value="Login Sender" data-ng-click="fav.loginSender(gridItem.mobileno)" data-ng-disabled="fav.isProccessing"   class="btn-success btn grid-btn" />
					</td>

					<td class="delete-opt-col" style="overflow: visible;line-height: 31px;">
						<a href="javascript:void(0)" id="delete{{gridItem.favouritid}}" data-ng-click="fav.showDeleteFav( gridItem.favouritid)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</a> 
						<div class="popover confirmation fade bottom in fav-grid-popup" style="display: none;">
						    <div class="arrow"></div>
							<div class="popover-content">
								<p class="confirmation-content" >Are you sure?</p>
								<div class="confirmation-buttons text-center">
									<div class="btn-group">
										<a href="javascript:void(0)" class="btn btn-xs " data-ng-click="fav.deleteFav(gridItem.senderid ,gridItem.favouritid)" data-apply="confirmation">
								            <i class="glyphicon glyphicon-ok"></i> 
							            Yes</a>
										<a href="javascript:void(0)" data-ng-click="fav.hideDeletePopup(gridItem.favouritid)" class="btn btn-xs btn-default" data-dismiss="confirmation">
											<i class="glyphicon glyphicon-remove"></i> 
										No</a>
							        </div>
							    </div>
						    </div>
					    </div>
					</td> 

			    </tr>
		    </table>
	
	    </div>
</div>

