<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/theme-converter.css" />
<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/newtheme.css" />

<div class="row">

<form data-ng-submit="beneficiary.addBeneficiary();" autocomplete="off" name="beneficiary.beneForm"  data-ng-init="beneficiary.initBeneForm()" >

 
<div class="form-wrapper col-md-12"> 
<div class="alert alert-danger col-md-5 col-sm-offset-4" data-ng-show="beneficiary.error">
 <span class="glyphicon glyphicon-alert" ></span> <strong>  {{beneficiary.errorMsg}}</strong> </div> 
 <div class="row" style="margin-top:20px;">
	
</div> 
<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label">Beneficiary Name</div>
	<div class="col-md-5 form-group">
	<input type="text" class="form-control" maxlength="50" data-ng-model="$root.Benefields.name" data-ng-required="true"  ng-trim="true" data-mw-input-restrict="onlyAlpha"/></div>
	
</div>	
<div class="row">	
	<div class="col-md-3 col-sm-offset-1 form-label">Beneficiary Account No.</div>
	<div class="col-md-5 form-group">
	<input type="text"  class="form-control"  data-ng-model="$root.Benefields.accountNo" data-ng-required="true" id="accountNoBene"  data-mw-input-restrict="onlynumbers" data-ng-pattern="/\d{9,}/" maxlength="26"/></div>
	
</div>	
<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label">Bank Name</div>
	
	<div class="col-md-5  form-group">
	



	 <select class="form-control" id="bankNames" ng-model="$root.beneSelectedBank"   >


			<option data-ng-repeat="bankList in beneficiary.dropOption" value="{{bankList.id}}"> {{bankList.bankName}}</option>
				   
	   
	   </select>
	
	</div>
	
</div>

<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label">IFSC Code</div>
	<div class="col-md-5 form-group">
	<input type="text" class="form-control"   data-ng-blur="beneficiary.searchIfscCode('input')" data-mw-input-restrict="onlyAlphaNum" name="beneIfsc" data-ng-pattern="/^[A-Za-z]{4}[0]{1}[A-Za-z0-9]{6}$/" maxlength="11" data-ng-required="true"  data-ng-model="$root.Benefields.ifscCode" capitalize/>
	<span style="color:red" data-ng-show="$root.beneIfscInvalid">Invalid IFSC code! Please provide valid IFSC code</span></div>
	<div class="col-md-3"><button type="button" class="btn btn-secondary"  data-ng-click="beneficiary.searchIfscCode('button')">Search IFSC Code </button></div>
</div>
{{$rootScope.Benefields}}
<div class="row">	
	<div class="col-md-3 col-sm-offset-1 form-label"></div>
	<div class="col-md-5" style="display:none" id="bank-prefilled">
		<div class="bank-details">
			
			<div class="col-md-12 form-label">
			<span>Branch Name:</span><span class="bank-field" id="senderBranch"> {{$root.Benefields.branchName}}</span>
			</div>
			<div class="col-md-12 form-label">
			<span>City:</span><span class="bank-field" id="senderCity"> {{$root.Benefields.city}}</span>
			</div>
			<div class="col-md-12 form-label">
			<span>State:</span><span class="bank-field" id="senderState"> {{$root.Benefields.state}}</span>
			</div>
			<div class="col-md-12 form-label">
			<span>Address:</span><span class="bank-field" id="senderAddress"> {{$root.Benefields.address}}</span>
			</div>	
		</div> 
	
	</div>
	
	

</div>

<div class="row">
	<div class="col-md-3 col-sm-offset-1 form-label">Sender MPIN </div>
	<div class="col-md-5 form-group"><input class="form-control" autocomplete="new-password" type="password" data-ng-required="true" data-mw-input-restrict="onlynumbers"	maxlength="4"  data-ng-pattern="/\d{4}/" data-ng-model="$root.Benefields.mpin"/></div>
	
</div>
<div class="row">

	<div class="col-md-5 form-group col-sm-offset-4 text-right"><div class="col-md-6" style="text-align: right;
    position: relative;
    left: 107px;
    z-index:2;
    top: 7px;
"><label style="position: relative;
    margin-right: 9px;
    top: -3px;">Verify Beneficiary </label><input type="checkbox" ng-model="$root.Benefields.verifyBeneCheckBox"/></div><div class="col-md-6"><input type="Submit" style="position: relative;
    left: 15px;" data-ng-disabled="beneficiary.beneForm.$invalid || beneficiary.loading ||  ($root.Benefields.bankName == -1)" value="{{beneficiary.btnText}}" class="btn btn-primary"  /></div></div>
	
</div>
</div>

</form>

   </div>
   