<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/theme-converter.css" />
<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/newtheme.css" />
<link rel="stylesheet" type="text/css" href="./css/charisma-app.css" />


<div class="box-inner"><div data-ng-include="'jspbk/app/components/regUser/senderDetails.html'"></div></div>

<div class="box-inner" data-ng-controller="importSenderCtrl as import" style="margin-top: 20px;">

<div class="grid-box" >
	<div class="box-header ng-binding">
	<h2>Import Beneficiary</h2> 
	<a class="pull-right" href="#/regUser">Sender Home</a>
</div>
<div class="box-inner-content " style="margin-bottom: 0px;padding-bottom: 0px;">

<div class="">
<div class=" col-md-6">
<div class="alert alert-danger " data-ng-show="import.error">
 <span class="glyphicon glyphicon-alert" ></span> <strong>  {{import.errorMsg}}</strong> </div>

</div>

</div>
<form data-ng-submit="import.searchImportSender()" name="importSenderForm">
<div class="row">
<div class="col-md-12" style="padding: 15px;">
<input type="text" style="display:none">
<input type="password" style="display:none">
<div class="col-md-4">
<label>Sender Mobile Number</label>
<input type="text" data-ng-model="import.info.exportMobile" class="form-control" maxlength="10" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/^[6789]\d{9}$/"
data-ng-required="true" />
</div>
<div class="col-md-4">
<label>Enter MPIN</label>

<input class="form-control" style="    margin-top: 10px;    border: 1px solid #ccc;" st data-ng-model="import.info.mpin" autocomplete="off" maxlength="4" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/\d{4}/"
data-ng-required="true" type="password" />
</div>
<div class="col-md-4" style="padding-top: 10px;">
<label style="width: 100%;">&nbsp;</label> 
<input type="submit"  data-ng-disabled="importSenderForm.$invalid || $root.LoginSender.mobileNo == import.info.exportMobile" class="btn btn-primary" value="Search"> 
</div>
</div>
</div>
</form>
	</div>

	<div data-ng-include="'jspbk/app/components/importSender/importedSenderBeneGrid.html'" class="">
	
	</div>

</div>
</div>