  <style>
  .kyc-Block{
    
    
    background: #f36d25;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
    margin: auto;    
  }
  .kyc-Block:hover{
    width: 90%;
    padding:25px;
  }
  </style>
  <div data-ng-controller="kycCtrl as kyc">

 <form action="UpdateSenderKYC" method="post" id="kycForm" >
 	<div class="container-fluid " >
 		<div class=" row">
 			<div class="grid-box col-md-12">
 				<div class="box-header ">
	
KYC Options
<span class="pull-right" id="senderMobileTop"></span>
</div>
			<div class="box-inner-content "> 
					<div class="" style=" max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;">
   
<div class="row">
		
		
		<input type="hidden" id="senderId" ng-model="kyc.mobile" value="" name="mastBean.mobileno" />
		<input type="hidden" id="agentId" value="{{$root.loginUserData.agentid}}" name="mastBean.agentid">
		<input type="hidden" id="Aggre" value="{{$root.loginUserData.aggreatorid}}" name="mastBean.aggreatorid">
		<input type="hidden" id="serviceType" value="05" name="mastBean.servicetype">
		
		  <div class="col-md-6 text-center" >
    <div class="kyc-Block" ng-click="kyc.submitKYC('bio')">

       Bio-Matric
    </div>
   

  </div>
  <div class="col-md-6 text-center" >
    <div class="kyc-Block" ng-click="kyc.submitKYC('otp')">
        OTP

    </div>
   
  </div>



</div>

						
					</div>
			</div>
 				
 			</div>
 			
 		</div>
 		
 </div>
</form>
  </div>