<div ng-controller="senderLedgerCtrl as sender" ng-init="sender.initDatePicker()">
      <form  data-ng-submit="sender.getsenderReport()" name="senderForm">
    
   <!--   <h4>Please provide sender mobile number</h4> -->
   <h4>Search By Account Number <input type="radio" ng-model="sender.senderForm.mobileNoChecked" ng-click="sender.emptyfield()" ng-value="false" name="sSearch"></h4>
     <h4>Search By Mobile Number <input type="radio"  ng-model="sender.senderForm.mobileNoChecked" ng-click="sender.emptyfield()" ng-value="true"  name="sSearch"></h4>
      	
     
     <div class="row">
       <div class="col-md-4">
      	<div class="form-group">
      	
      	
      	<input class="form-control" placeholder="Sender Mobile" ng-show="sender.senderForm.mobileNoChecked" id="sender-mobile" data-ng-model="sender.senderForm.mobileNo" data-ng-pattern="/^[7896]\d{9}$/" maxlength="10" /> 
       <input class="form-control" placeholder="Account Number"  ng-hide="sender.senderForm.mobileNoChecked" id="sender-account"   data-ng-model="sender.senderForm.accountno"  data-ng-pattern="/\d{9,}/" maxlength="26" />
    <!--   	<input class="form-control" placeholder="Sender Mobile"   data-ng-model="sender.senderForm.mobileNo" required="required" data-ng-pattern="/^[7896]\d{9}$/" maxlength="10" /> -->
      	</div>
      </div>
      <div class="col-md-4"> <input type="submit" value="{{sender.btnText}}"  title="{{ senderForm.$invalid ? 'Please provide valid sender mobile' : 'Search the sender ledger'  }}" class="btn btn-primary" data-ng-disabled="senderForm.$invalid || sender.senderForm.mobileNo.$invalid  || sender.loading" /></div>
     
     </div>
    
      
     
     
      </form>
      <div class="grid-box " data-ng-show="sender.sendergridData">
	<div class="box-header" data-toggle="collapse" data-target="#beneTransTable">Sender Ledger Report<input type="text" class="grid-search pull-right" data-ng-model="sender.searchsender"/>  
	 <button class="pull-right btn-primary download-btn" data-ng-click="sender.pdfDownload()">PDF Download</button>
	 <button class="pull-right btn-primary download-btn" data-ng-click="sender.printFile()"> Print</button> 
	 <button class="pull-right btn-primary download-btn"  data-ng-disabled="sender.exl" data-ng-click="sender.exportToExcel()"> Excel</button> </div>
		<div class="table-container col-md-12 " >
			<div class="record-count"><strong>Total record count: </strong>{{sender.ledgerCount}}</div>
<table class="table table-responsive table-striped" id="sender-data" >
	<thead>
		<tr>
			
			<th><a href="javascript:void(0)" class="whiteColor" data-ng-click="sortType = 'txnid'; sortReverse = !sortReverse">Txn ID<span data-ng-show="sortType == 'txnid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'txnid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th> <a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'accountno'; sortReverse = !sortReverse">Account Number<span data-ng-show="sortType == 'accountno' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'accountno' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'dramount '; sortReverse = !sortReverse">Debit<span data-ng-show="sortType == 'dramount ' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'dramount ' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'cramount'; sortReverse = !sortReverse">Credit<span data-ng-show="sortType == 'cramount' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'cramount' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
	       	<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ifsccode'; sortReverse = !sortReverse">IFSC Code<span data-ng-show="sortType == 'ifsccode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ifsccode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>				
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'isbank'; sortReverse = !sortReverse">Type<span data-ng-show="sortType == 'isbank' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ptytransdt' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'narrartion'; sortReverse = !sortReverse">Txn Type<span data-ng-show="sortType == 'narrartion' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'narrartion' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'bankrrn'; sortReverse = !sortReverse">Bank RRN<span data-ng-show="sortType == 'bankrrn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'bankrrn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'remark'; sortReverse = !sortReverse">Status<span data-ng-show="sortType == 'remark' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'remark' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ptytransdt'; sortReverse = !sortReverse">Txn Date<span data-ng-show="sortType == 'ptytransdt' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ptytransdt' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            
            
		</tr>
	</thead>

	<tr dir-paginate="item in sender.ledgerList  | orderBy:sortType:sortReverse | filter: sender.searchsender|itemsPerPage:10"  >

<td>{{item.id}}</td>
<td>{{item.accountno}}</td>
<td>{{item.dramount | currency:"" }}</td>
<td>{{item.cramount | currency:"" }}</td>

<td>{{item.ifsccode}}</td>
<td> {{item.isbank == 1 ? 'Bank' : 'Wallet'}}</td>
<td>{{item.narrartion}}</td>
<td>{{item.bankrrn}}</td>
<td>{{item.remark }}</td>
<td>{{item.ptytransdt }}</td>




</tr>
	</table>
	
	<dir-pagination-controls
					max-size="10"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
	</div>
	</div>
</div>