<div data-ng-controller="transLedgerCtrl  as trans" data-ng-init="trans.initDatePicker()">
    <form name="trans.transReportObj" data-ng-submit="trans.getTransReport()">
      <h4>Please select the date of transaction for which you want to search.</h4>
      <div class="row">
      <div class="col-md-4">
      	<div class="form-group">
      	
      		<input class="form-control datepicker-here1" type="text"  required placeholder="Start Date" name="trans.transReportObj.stDate" readonly  data-ng-model="trans.stDate" id="dpStart" required/>
      	</div>
      </div>
      
             <div class="col-md-4">
      	<div class="form-group">
      		
      		<input class="form-control datepicker-here2"  required type="text" placeholder="End Date" name="trans.transReportObj.edDate	" readonly data-ng-model="trans.edDate" id="dpEnd" required />
      	 
      	</div>
      </div>
      <div class="col-md-4"> <input type="submit" value="{{trans.btnText}}" data-ng-disabled="trans.loading" class="btn btn-primary"></div>
     
      
      </div>
     
 
     
      </form>
       <div class="row">
      <div class="grid-box col-md-12" data-ng-show="trans.gridData">
	<div class="box-header" data-toggle="collapse" data-target="#beneTransTable">Transaction Ledger Report 
	 <input type="text" class="grid-search pull-right" data-ng-model="trans.search"/> 
	 <button class="pull-right btn-primary download-btn" data-ng-click="trans.pdfDownload()">PDF Download</button>
	 <button class="pull-right btn-primary download-btn" data-ng-click="trans.printFile()"> Print</button> 
	 <button class="pull-right btn-primary download-btn" data-ng-disabled="trans.exl" data-ng-click="trans.exportToExcel()"> Excel</button> 
	 </div>
	<div class="record-count"><strong>Total record count: </strong>{{trans.ledgerCount}}</div>

		<div class="table-container container-fluid" >
		
	<table class="table table-responsive table-striped "  id="ta-data">
	<thead>
		<tr>
			
			<th><a href="javascript:void(0)" class="whiteColor" data-ng-click="sortType = 'ptytransdt'; sortReverse = !sortReverse">Trans Date<span data-ng-show="sortType == 'ptytransdt' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ptytransdt' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'txnid'; sortReverse = !sortReverse">Trans ID<span data-ng-show="sortType == 'txnid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'txnid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'dramount'; sortReverse = !sortReverse">Amount<span data-ng-show="sortType == 'dramount' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'dramount' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'narrartion'; sortReverse = !sortReverse">Mode<span data-ng-show="sortType == 'narrartion' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'narrartion' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
          	<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'mobileno'; sortReverse = !sortReverse">Sender Mobile No. (Name)<span data-ng-show="sortType == 'mobileno' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'mobileno' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			<th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'accountno'; sortReverse = !sortReverse">Bene Account No. (Name)<span data-ng-show="sortType == 'accountno' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'accountno' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ifsccode'; sortReverse = !sortReverse">IFSC Code (Bank Name)<span data-ng-show="sortType == 'ifsccode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ifsccode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'bankrrn'; sortReverse = !sortReverse">Bank RRN<span data-ng-show="sortType == 'bankrrn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'bankrrn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
            <th><a href="javascript:void(0)"  class="whiteColor" data-ng-click="sortType = 'ifsccode'; sortReverse = !sortReverse">Status<span data-ng-show="sortType == 'ifsccode' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span><span data-ng-show="sortType == 'ifsccode' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
          
		
			
		</tr>
	</thead>

	<tr dir-paginate="item in trans.tReport|orderBy:sortType:sortReverse|filter:trans.search|itemsPerPage:10"> 

<td>{{item.ptytransdt}}</td>
<td class="txnTd"> <a href="javascript:void(0)"  data-ng-click="trans.getTransactionDetails(item.txnid)">{{item.txnid}}</a>

<!-- <div class="txnpopup text-left">
<h3>Transaction Details</h3>


<p><strong>Details:</strong> nothing</p>
<p><strong>Details: </strong> nothing</p>
<p><strong>Details: </strong> nothing</p>

</div> --></td>

<td>{{item.dramount | currency:"" }}</td>
<td>{{item.narrartion}}</td>
<td>{{item.mobileno}}<br/> ({{item.firstname}})</td>
<td>{{item.accountno}}<br/> ({{item.name}})</td>
<td>{{item.ifsccode}}<br/> ({{item.bankname}})</td>
<td>{{item.bankrrn}}</td>
<td>{{item.status}}</td>

</tr>
	</table>
	
<dir-pagination-controls
					max-size="10"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
	</div>
	</div>
	</div>
</div> 