<div data-ng-controller="variBene as vb" >
  <h2>Beneficiary Verification Details</h2>
 <div class="alert {{vb.msgClass}}" data-ng-show="$root.MsgShowVbPup">
{{vb.Msg}}
</div>
  <table class="table table-bordered table-striped">
   
    <tbody>
   
      <tr>
        <td><strong>Beneficiary Name</strong></td>
        <td>{{$root.verifiedBeneDetails.name}}</td>
      </tr>
     
      <tr >
       <td><strong>Beneficiary Verification Status</strong></td>
      <td>{{$root.verifiedBeneDetails.beneName}}</td>
     </tr>
     
       <tr>
       <td><strong>Beneficiary Account No</strong></td>
   <td>{{$root.verifiedBeneDetails.accountNo}}</td>
     </tr>
        
  
 
  </tbody></table>


 <div class="modal-footer">
<button type="button" class="btn btn-primary" ng-click="vb.reject()" ng-hide="$root.MsgShowVbPup" >Reject</button>
         <button type="button" class="btn btn-primary" ng-click="vb.acceptVari()" ng-hide="$root.MsgShowVbPup">Accept</button>
          <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-show="$root.MsgShowVbPup">Done</button>
 </div>
 </div>