<div class="row">
 <div ng-controller="senderDeleteAndActiveCtrl as sad " class="col-md-12 text-right">

<p> Please choose your action</p>
  <button class=" btn grid-btn btn-success" ng-click="sad.SenderAction($root.selectedSender,'Active')">Active</button>   <button class="btn grid-btn btn-danger" ng-click="sad.SenderAction($root.selectedSender,'Delete')">Delete</button>
</div>
<style>
.modal-dialog.modal-lg{width:190px!important}
</style>

</div>