<div data-ng-controller="transferConfirmCtrl as transConfim" ng-init="traCon.initTrans()">
  <h2>Transaction Confirmation</h2>
  
  <div class="alert alert-danger col-md-5 col-sm-offset-4" data-ng-show="transConfim.error">
 <span class="glyphicon glyphicon-alert" ></span> <strong>  {{transConfim.errorMsg}}</strong> </div> 
 <div class="alert alert-success col-md-5 col-sm-offset-4" data-ng-show="transConfim.success">
 <strong>  {{transConfim.successMsg}}</strong> </div> 
                        
  <table class="table table-bordered table-striped">
   
    <tbody>
      <tr>
        <td width="35%;"><strong>Sender Mobile</strong></td>
        <td> {{$root.LoginSender.mobileNo}}</td>
      </tr>
      <tr>
        <td><strong>Beneficiary Name</strong></td>
        <td>{{$root.validateBeneoObj.beneName}}</td>
      </tr>
     
      <tr data-ng-hide="$root.validateBeneoObj.name == undefined ">
       <td><strong>Beneficiary Verification Status</strong></td>
        <td>{{$root.validateBeneoObj.name}}</td>
     </tr>
       <tr>
       <td><strong>Beneficiary Account No</strong></td>
        <td>{{$root.validateBeneoObj.accountNo}}</td>
     </tr>
        <tr>
       <td><strong>Beneficiary IFSC code</strong></td>
        <td>{{$root.validateBeneoObj.ifscCode}}</td>
   
      </tr>
        <tr>
       <td><strong>Transaction Mode</strong></td>
        <td>{{$root.beneDataAmountObj.transferType}}</td>
     </tr>
         <tr>
       <td><strong>Amount</strong></td>
        <td>{{$root.validateBeneoObj.txnAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
     </tr>
        <tr>
       <td><strong>Charge</strong></td>
        <td>{{$root.validateBeneoObj.surChargeAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
     </tr>
     
        <tr>
       <td><strong>Total Amount  </strong></td>
        <td>{{$root.validateBeneoObj.totalAmount |  currency: $root.loginUserData.countrycurrency + "  "}}</td>
     </tr>
     
       <tr >
       <td><strong>{{$root.loginUserData.otpVerificationRequired == 1 ? "OTP":"MPIN"}}</strong></td>
       
        <td width="50%"><form name="otpForm"><input type="password" class="form-control" ng-model="transConfim.transactionOtp" ng-minlength="$root.loginUserData.otpVerificationRequired == 1 ? '6' : '4'" name="otp"  ng-required="true" ng-maxlength="transConfim.isOtpVarified ? '6' : '4'"/></form></td>
     </tr>
 
  </table>



 <div class="modal-footer">

         <button class="btn-primary pull-right btn" id="comfirmTransaction"  data-ng-click="transConfim.transferConfirmed('#comfirmTransaction');"  data-ng-disabled="$root.transactionMode || !otpForm.otp.$valid">{{$root.transactionMode == true ? 'Loading...' : 'Confirm'}}</button>
 </div>
 </div>
 <script>
$(function(){
	$(".curr-inr").html("INR");
}) 
 </script>