<div data-ng-controller="fundTransferPopupCtrl as ft">
<h2>
Verification Confirm

</h2>

<p data-ng-bind-html="$root.validateBeneoObj.message"></p>
 <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-ng-click="ft.AmountConfirmation('N')">No</button>
        <button type="button" class="btn btn-primary" data-ng-disabled="ft.loading" data-ng-click="ft.AmountConfirmation('Y')">{{ft.btnText}}</button>
        <p class="text-left  mTop-10" >
        <strong>Please Note: </strong>
        {{$root.validateBeneoObj.note}}
        
        </p>
 </div>
</div>
 <script>
$(function(){
	$(".curr-inr").html("INR");
}) 
 </script>