<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/theme-converter.css" />
<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/newtheme.css" />
<link rel="stylesheet" type="text/css" href="./css/charisma-app.css" />

<div class="grid-box" data-ng-controller="regUserCtrl as regUser" data-ng-init="regUser.regInit()">
	<div class="box-header">
	<h2>BANK3: Welcome {{$root.LoginSender.firstName}}</h2> <a class="pull-right" href="#/">Exit Sender</a>
</div>    
<div class="box row" style="">
<div class="item-row col-md-12">
	<div class="col-md-3" style="line-height:30px;">
	<strong>Mobile Number:</strong> {{$root.LoginSender.mobileNo}}
	</div>
	<div class="col-md-3">
<button class="btn btn-primary  btn-info btn-info " data-ng-hide="regUser.isFav" data-ng-click="regUser.addFav()" data-ng-disabled="regUser.isLoading">{{regUser.favlink}}</button>
	<!-- <strong>Wallet Balance:</strong> {{$root.LoginSender.walletBalance | currency: $root.loginUserData.countrycurrency + "  "}}  -->
	</div>

	<div class="col-md-3">

	<button class=" btn-info btn-primary btn" data-ng-click="regUser.showMpinPop();">Forgot MPIN</button>
	   {{regUser.mpinPop}}
	<div class="popover fade right in" role="tooltip" id="mpinPopup" style="top: -99px;left: 130px;display:none;width: 300px;" >
  
  
    <div class="arrow" style="top: 30%;"></div>
    <h3 class="popover-title">Change your MPIN<span class="pull-right" data-ng-click="regUser.closePop()"><span class="glyphicon glyphicon-remove"></span></span></h3>
	  <div id="newMpinForm"  style="padding:10px !important;">
    	<div class="alert ">
    	{{regUser.newMpinMsg}}
     
  </div>
    <form data-ng-submit="regUser.summitNewMpin()" name="forgetMpin" autocomplete="off">
    
    <input type="hidden" data-ng-model="regUser.mpinFormSubmit.id" />
    <input type="hidden" data-ng-model="regUser.mpinFormSubmit.mobileNo" />
    <input type="hidden" data-ng-model="regUser.mpinFormSubmit.aggreatorId" />
    <div class="popover-content" id="newMpin">
    <div class="form-group">
    <input type="text" style="display:none">
    <label>New MPIN</label><input type="password" class="form-control" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/\d{4}/" data-ng-model="regUser.mpinFormSubmit.mpin" maxlength="4" data-ng-required="true" autocomplete="off" />
    </div>
     <div class="form-group">
    <label>OTP</label><input class="form-control" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/\d{6}/" maxlength="6" data-ng-model="regUser.mpinFormSubmit.otp" data-ng-required="true"autocomplete="off" />
<strong data-ng-show="regUser.counter != 0">OTP Resend link will be here in {{regUser.counter}} seconds</strong>
    <a href="javascript:void(0)" data-ng-click="regUser.resendMpin()" data-ng-show="regUser.otpResendLink">Resend OTP</a>
    </div>
    <input type="submit" class="btn btn-primary  btn-info   btn-info  btn-block" value="Change MPIN"   data-ng-disabled="forgetMpin.$invalid" />
    </div>
    </form>
    </div>
    </div>
</div>
<!-- 	<div class="col-md-3">
	<strong>Transfer Limit:</strong>  {{$root.LoginSender.transferLimit | currency: $root.loginUserData.countrycurrency + "  "}}
	</div> -->
	<div class="col-md-3" style="line-height:30px;">
	
	<!-- <strong>KYC Type:</strong> {{$root.LoginSender.kycStatus}}  -->
	<strong>Transfer Limit:</strong>  {{$root.LoginSender.transferLimit | currency: $root.loginUserData.countrycurrency + "  "}}
	</div>
	</div>
	<div class="item-row" style="margin-bottom: 0px;">
<!-- <div class="col-md-3">

	<button class=" btn-info btn-primary btn" data-ng-click="regUser.showMpinPop();">Forgot MPIN</button>
	   {{regUser.mpinPop}}
	<div class="popover fade right in" role="tooltip" id="mpinPopup" style="top: -99px;left: 130px;display:none;max-width: 300px;" >
  
  
    <div class="arrow" style="top: 50%;"></div>
    <h3 class="popover-title">Change your MPIN<span class="pull-right" data-ng-click="regUser.closePop()"><span class="glyphicon glyphicon-remove"></span></span></h3>
	  <div id="newMpinForm"  style="padding:10px !important;">
    	<div class="alert ">
    	{{regUser.newMpinMsg}}
     
  </div>
    <form data-ng-submit="regUser.summitNewMpin()" name="forgetMpin" autocomplete="off">
    
    <input type="hidden" data-ng-model="regUser.mpinFormSubmit.id" />
    <input type="hidden" data-ng-model="regUser.mpinFormSubmit.mobileNo" />
    <input type="hidden" data-ng-model="regUser.mpinFormSubmit.aggreatorId" />
    <div class="popover-content" id="newMpin">
    <div class="form-group">
    <input type="text" style="display:none">
    <label>New MPIN</label><input type="password" class="form-control" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/\d{4}/" data-ng-model="regUser.mpinFormSubmit.mpin" maxlength="4" data-ng-required="true" autocomplete="off" />
    </div>
     <div class="form-group">
    <label>OTP</label><input class="form-control" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/\d{6}/" maxlength="6" data-ng-model="regUser.mpinFormSubmit.otp" data-ng-required="true"autocomplete="off" />
<strong data-ng-show="regUser.counter != 0">OTP Resend link will be here in {{regUser.counter}} seconds</strong>
    <a href="javascript:void(0)" data-ng-click="regUser.resendMpin()" data-ng-show="regUser.otpResendLink">Resend OTP</a>
    </div>
    <input type="submit" class="btn btn-primary  btn-info   btn-info  btn-block" value="Change MPIN"   data-ng-disabled="forgetMpin.$invalid" />
    </div>
    </form>
    </div>
    </div>
</div> -->

<div class="col-md-3">


</div>
<div class="col-md-3">

<!-- <button class="btn btn-primary" data-ng-click="regUser.updateSenderKYC($root.LoginSender.mobileNo)" data-ng-hide="$root.LoginSender.kycStatus == 'FULL KYC'">Upgrade KYC</button> -->


</div>
<div class="col-md-3">

<!-- <button class="btn btn-primary" data-ng-click="regUser.uploadPancard()" >Upload PAN Card</button> -->

</div>
	</div>
</div>

	</div>