<div class="">
<table class="table table-bordered table-striped">
	<tr>
		<td>
			<strong>Sender Mobile</strong>
		</td>
		<td>
			
		</td>
		<td>
			<strong>Beneficiary Name</strong>
		</td>
		<td>
			
		</td>
	</tr>
		<tr>
		<td>
			<strong>Beneficiary IFSC</strong>
		</td>
		<td>
			
		</td>
		<td>
			<strong>Beneficiary Account No.</strong>
		</td>
		<td>
			
		</td>
	</tr>
		<tr>
		<td>
			<strong>Amount</strong>
		</td>
		<td>
			
		</td>
		<td>
			<strong>Charges</strong>
		</td>
		<td>
			
		</td>
	</tr>
		<tr>
		<td>
			<strong>Transaction Mode</strong>
		</td>
		<td>
			
		</td>
		<td>
			<strong></strong>
		</td>
		<td>
			
		</td>
	</tr>

</table>
<table class="table table-bordered table-striped">
<thead>
	<tr>
		<th>Beneficiary Account No.</th>
		<th>Transaction Number</th>
		<th>Transaction Type</th>
		<th>Amount</th>
		<th>Status</th>
		<th>Remark</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>
			
		
		</td>
		<td>
			
		
		</td>
		<td>
			
		
		</td>
		<td>
			
		
		</td>
		<td>
			
		
		</td>
		<td>
			
		
		</td>
	</tr>


</tbody>


</table>
</div>