<div class="box-inner row"><div data-ng-include="'jspas/app/components/regUser/senderDetails.html'"></div></div>

<div class="box-inner row" data-ng-controller="importSenderCtrl as import">

<div class="grid-box col-md-12" >
	<div class="box-header ng-binding">
Import Beneficiary <a class="pull-right" href="#/regUser">Sender Home</a>
</div>
<div class="box-inner-content ">

<div class="row">
<div class=" col-md-6">
<div class="alert alert-danger " data-ng-show="import.error">
 <span class="glyphicon glyphicon-alert" ></span> <strong>  {{import.errorMsg}}</strong> </div>

</div>

</div>
<form data-ng-submit="import.searchImportSender()" name="importSenderForm">

<input type="text" style="display:none">
<input type="password" style="display:none">
<div class="col-md-4">
<label>Sender Mobile Number</label>
<input type="text" data-ng-model="import.info.exportMobile" class="form-control" maxlength="10" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/^[6789]\d{9}$/"
data-ng-required="true" />
</div>
<div class="col-md-4">
<label>Enter MPIN</label>

<input class="form-control" data-ng-model="import.info.mpin" autocomplete="off" maxlength="4" data-mw-input-restrict="onlynumbers"
data-ng-pattern="/\d{4}/"
data-ng-required="true" type="password" />
</div>
<div class="col-md-4">
<label style="width: 100%;">&nbsp;</label> 
<input type="submit"  data-ng-disabled="importSenderForm.$invalid || $root.LoginSender.mobileNo == import.info.exportMobile" class="btn btn-primary" value="Search"> 
</div>
</form>
	</div>

	<div data-ng-include="'jspas/app/components/importSender/importedSenderBeneGrid.html'" class="row">
	
	</div>

</div>
</div>