<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/theme-converter.css" />
<link rel="stylesheet" type="text/css" href="./css/newthemecss/css/newtheme.css" />
<link rel="stylesheet" type="text/css" href="./css/charisma-app.css" />


<div class="box-inner">
<div class="box-header">
          			<h2>Bank2: Sender Management</h2> 
</div>
<div class="box-content container-fluid agent-info-wrapper"  data-ng-controller="senderLoginCtrl as sender">
<form  data-ng-submit="sender.postSenderData();">

		<div class="">
			<h5 style="margin-bottom:10px;">Sender Mobile Number<br/>
			    <!-- <span></span> -->
			</h5>
	
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " style="padding-left:0px">
				<input style="margin:0px;" autocomplete="on" placeholder="(To add new sender or search existing sender)" 
onfocus="this.placeholder = ''"
onblur="this.placeholder = '(To add new sender or search existing sender)'" data-mw-input-restrict="onlynumbers" class="form-control search-input" data-ng-model="sender.mobile" id="senderNum" data-ng-keyup="sender.valid()" maxlength="10" type="text" /> 
			</div> 
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<input  class="btn btn-success submit-form" type="Submit" data-ng-disabled="sender.mobileValidation" value="Submit"/>
			<input class="btn btn-primary btn-fill" style="" id="reset" type="reset" value="Reset">
		</div>
 
  
 

 

</form>
</div>
</div>

<div class="box box-inner homeviewlast"><div data-ng-include="'jspbk/app/components/favGrid/favGrid.html'"></div></div>
