<!-- 
<iframe id="pancardIframe" src="" style="width:100%;border:none;
    height: 500px">


</iframe> -->


<div  data-ng-controller="beneOtpCtrl as otp" >
<div class="container-fluid">


<form  data-ng-submit="otp.validateOtp();" autocomplete="off"  name="otp.beneForm"  data-ng-init="otp.initBeneOtp()"  >

<font color="red"><s:actionerror/> </font>
<font color="blue"><s:actionmessage/> </font>
<s:fielderror></s:fielderror>
									

<div class="row">
<div class="col-md-12">
<h2 style="margin-top:0px" id="heading">
		Verify By OTP	</h2>

</div>


</div>
	<div class="row" id="pancard" >

		<div class="col-md-12 form-group">
		
		<label>Enter Your PAN Card Number:</label>
				<input type="text"  value="<s:property value='%{mudraSenderPanDetails.panNumber}'/>" name="mudraSenderPanDetails.panNumber" id="panCardInp" 
																		class="form-control pancard-vl mandatory"
																		placeholder="Enter PAN" >
				
		</div>
	
	
		
	




</form>


	</div>
</div>





<style>
.modal-dialog{width:400px!important}
</style> 