   <div class="row" data-ng-controller="getBankDetailsCtrl as ifsc" data-ng-init="ifsc.getDropVal()" >
 <div class="col-md-12">
   <form data-ng-submit="ifsc.getBankList()" autocomplete="off">
      <div class="col-md-2 form-group">
	   <label>IFSC code</label>
	 <input type="text" class="form-control" data-ng-model="ifsc.fields.ifscCode" />
	   </div>
	   
	   <div class="col-md-3 form-group">
	   	<label>State</label>
<select data-ng-model="ifsc.fields.state" class=" form-control " id="state">
																<option value="-1">------------Select State------------</option>
																<option value="ANDAMAN AND NICOBAR ISLAND">ANDAMAN AND NICOBAR ISLAND</option>
																<option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
																<option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
																<option value="ASSAM">ASSAM</option>
																<option value="BIHAR">BIHAR</option>
																<option value="CHANDIGARH">CHANDIGARH</option>
																<option value="CHHATTISGARH">CHHATTISGARH</option>
																<option value="DADRA AND NAGAR HAVELI">DADRA AND NAGAR HAVELI</option>
																<option value="DAMAN AND DIU">DAMAN AND DIU</option>
																<option value="DELHI">DELHI</option>
																<option value="GOA">GOA</option>
																<option value="GUJARAT">GUJARAT</option>
																<option value="HARYANA">HARYANA</option>
																<option value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
																<option value="JAMMU AND KASHMIR">JAMMU AND KASHMIR</option>
																<option value="JHARKHAND">JHARKHAND</option>
																<option value="KARNATAKA">KARNATAKA</option>
																<option value="KERALA">KERALA</option>
																<option value="LAKSHADWEEP">LAKSHADWEEP</option>
																<option value="MADHYA PRADESH">MADHYA PRADESH</option>
																<option value="MAHARASHTRA">MAHARASHTRA</option>
																<option value="MANIPUR">MANIPUR</option>
																<option value="MEGHALAYA">MEGHALAYA</option>
																<option value="MIZORAM">MIZORAM</option>
																<option value="NAGALAND">NAGALAND</option>
																<option value="ODISHA">ODISHA</option>
																<option value="PUDUCHERRY">PUDUCHERRY</option>
																<option value="PUNJAB">PUNJAB</option>
																<option value="RAJASTHAN">RAJASTHAN</option>
																<option value="SIKKIM">SIKKIM</option>
																<option value="TAMIL NADU">TAMIL NADU</option>
																<option value="TELANGANA">TELANGANA</option>
																<option value="TRIPURA">TRIPURA</option>
																<option value="UTTARAKHAND">UTTARAKHAND</option>
																<option value="UTTAR PRADESH">UTTAR PRADESH</option>
																<option value="WEST BENGAL">WEST BENGAL</option>
																</select>	   
	   </div>
	   <div class="col-md-4 form-group">
	   <label>Select Bank</label>

	   <select class="form-control" id="bankNameIfsc" >
	  
			<option data-ng-repeat="bankList in ifsc.dropOption"  data-ng-selected="{{$root.beneSelectedBank == bankList.id}}" value="{{bankList.id}}"> 	   {{bankList.bankName}}</option>
				   
	   
	   </select>
	   </div>
	    <div class="col-md-3 form-group">
	   <label>Branch Name</label>
	   <input type="text" class="form-control" id="bankNamePopUp" data-ng-model="ifsc.fields.branchName" data-ng-pattern="/^[A-Za-z]{4}[0]{1}[A-Za-z0-9]{6}$/" capitalize >
	   </div>
	     <div class="col-md-4 form-group">

	   <input type="submit" class="btn btn-primary" title="{{ifsc.BtnMsg}}" value="{{ifsc.btnText}}" data-ng-disabled="ifsc.loading || (ifsc.fields.state == '-1' && ifsc.fields.ifscCode == '')"/>
	   </div>
	  </form>
	
	  </div>
	  <div class="container-fluid" data-ng-show="ifsc.gridData">
	  <div class="row">
	 <div class="grid-box col-md-12" >
	 <div class="box-header "> <input type="text" class="grid-search pull-right " data-ng-model="ifsc.search">
Bank List

	</div>
	<div class="table-container col-md-12">
	  <table class="table table-responsive table-striped" fixed-header>
	  <thead>
	  	<tr>
	  		<th>Bank Name</th>
	  		<th>Branch Name</th>
	  	
	  		<th>IFSC Code</th>	  	
	  		<th>State</th>
	  		<th>City</th>
	  			<th>Select</th>
	  		
	  	</tr>
	  
	  </thead>
	  <tbody>
	  <tr data-ng-repeat="bD in ifsc.bankDetailGrid  | filter: ifsc.search" >
	  		<td>{{bD.bankName}}</td>
	  		<td>{{bD.branchName}}</td>
	  		<td>{{bD.ifscCode}}</td> 
	  		<td>{{bD.state}}</td>
	  		<td>{{bD.city}}</td>
	  		<td><input type="button" class="btn-secondary btn grid-btn" data-ng-click="ifsc.getSelectedBank(bD.ifscCode)" value="Select"/></td>
	  
	  </tr>
	  
	  
	  </tbody>
	  
	  
	  </table>
	  
	  </div>
	  </div>
	  </div>
	  </div>
   </div>