.adduT {
    width: 100%;
    float: left;
    font: bold 12px arial;
    color: #333;
    margin: 0 0 9px 2px;
    line-height: 22px;
}
.bkn {
    float: left;
    width: 47%;
    margin: 0 0 0 20px;
    padding: 10px;
    font: 12px arial;
    color: #333;
    border: 1px solid #c0c0c0;
    background: #f2f2f2;
    border-radius: 5px;
}
.bkn h4 {
    font: bold 13px verdana;
    color: #fff;
    background: #333;
    padding: 7px 0;
    text-align: center;
}