/*only For Glass theme*/


/*::selection { 
  color: #333!important;
}
::-moz-selection {
  color: #333!important;
}
*/

/*::-webkit-scrollbar { 
width: 5px;

}

::-webkit-scrollbar-track {

background-color: #ffffff;

}

::-webkit-scrollbar-thumb {

background-color: #ffffff;

}

::-webkit-scrollbar-thumb:hover {

background-color: #ffffff;

}*/

.MessageBoxMiddle{
    text-align: left;
}
.hidden-menu #logo{
    width: 61%;
    height: auto;
    padding-left: 0px;
    /*margin-top: 1px;*/
}
/*.hidden-menu #header{
    border-bottom: 1px solid #111!important;
}*/


@media(max-width: 414px){
  .hidden-menu #logo {
    width: 100%;
    height: auto;
    padding-left: 0px;
    /*margin-top: 15px;*/
    }  
}

@media(max-width: 768px){
    #logo{
        width:65%;
    }
      .hidden-menu #logo {
        width: 100%;
        height: auto;
        padding-left: 0px;
        /*margin-top: 15px;*/
    }  
}


.onlytxnf-bg-margin{
	margin-bottom: 5px!important;
}



.FraudPrevention-hidden-table{
    width: 10%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);	
}

/*.dataTables_wrapper .dataTables_paginate .paginate_button { 
	
    color: #fff !important; 
}*/



.addfildn-alignment .fl_label{
    position: absolute !important;
    top: -14px !important;
    left: 0 !important;
}

.addfildn-alignment .addfildn{
    margin: 15px 0px !important; 
}


.Emailer-Flag h2{
    margin-top: 0px;
    font-family: verdana!important;
}
.spandata{
    margin-left: 7px;
    margin-top: 3px;
    font-family: verdana;
    font-size: 13px;
}


.Emailer-Flag-2 h2{
    margin-top: 0px;
    font-family: verdana!important;
}





.newround {
    /* border-radius: 15px; */
    padding: 5px 8px;
    background: #757474;
    /* border: 1px solid #357ebd; */
    color: #fff;
    font-size: 11px;
}



.messi-box { 
    height: auto !important; 
}



/*Welcome Admin Start*/
    .fixed-ribbon #content {
        padding-top: 45px;
       }
.select2-results__option[aria-selected] { 
    border: 1px solid #fff!important;
}
.select2-results__option {
    padding: 3px 15px!important;
}
    .form-control {
        display: block;
        width: 100%;
        /*height: 28px !important;*/
        height: 35px !important;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        /*border: 1px solid #ccc;*/
        border: 2px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

 
    .panel {
    border: none;
    box-shadow: none;
    }

    .dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
    }
/*    table.dataTable thead th {
    padding: 12px 2px;
    border-bottom: 1px solid #e4e4e4;
    }*/
    .sorting_desc {
    background: url(../image/sort_desc.png) no-repeat center right;
    }
    .sorting {
    background: url(../image/sort_both.png) no-repeat center right;
    }

    hr {
    margin-top: 5px !important; 
    margin-bottom: 5px !important;  
    border: 0;
    border-top: 1px solid #eee;
    }



 

#sparks li h5 {
    color: #555;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: -3px 0 0 0;
    padding: 0;
    font-family: verdana;
    border: none;
    text-transform: uppercase;
}


/*Welcome Admin End*/



/*.smart-style-5 .bootstrap-tagsinput>span, 
.smart-style-5 .btn-primary, 
.smart-style-5 .btn-primary.active, 
.smart-style-5 .btn-primary:active, 
.smart-style-5 .btn-primary:focus, 
.smart-style-5 .btn-primary:hover, 
.smart-style-5 .open>.dropdown-toggle.btn-primary, 
.smart-style-5 .select2-container-multi .select2-choices .select2-search-choice {
    border-color: rgb(238, 132, 34);
    background: rgb(27, 48, 66);
    webkit-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    -moz-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}*/


/*adminProfile Strat From here*/
body{
    font-family: verdana !important;
}
.error-text{
    color:#a94442;
    font-weight:bold;
    background-color:#f2dede;
    list-style-type:none;
    text-align:center;
    list-style-type: none;
    margin-top:10px;
}
.error-text li {
 list-style-type:none;
  }

    @media(max-width: 414px){
    .tab-content>.tab-pane {
        /*display: none;*/
        border: 0px solid #dadada;
        height: auto;
        background-color: #fff;
    }
    }
    table.product-specbigstripes {
    margin: 0 auto;
    border: 4px solid #bdbdbd;
    border-radius: 10px;
    width: 60%;
    border-collapse: separate;
    border-spacing: 2px 2px 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    }
    @media(max-width: 414px){
        table.product-specbigstripes {
        margin: 0 auto;
        border: 4px solid #bdbdbd;
        border-radius: 10px;
        width: 100%;
        border-collapse: separate;
        border-spacing: 2px 2px 2px 2px;
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
        }
    }
/*    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: #333;
        cursor: default;
        font:verdana !important;
        padding-left: 10px;
        background: #2c4054;
        background-size: 5px 5px;
        border: 1px solid #ddd;
        border-top: 5px solid #2ea3f2;
        border-bottom-color: transparent;
        outline: 0;
        color: #ffffff;
    }*/


/*  .table, td, th {
        border: none;
        padding: 0;
        margin: 0;
        color: #111;
    }*/
/*    .smart-style-5 .btn-success{
        border-color: rgb(238, 132, 34)!important;
        background: rgb(27, 48, 66)!important;
        webkit-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        -moz-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    }*/


    .greytdbg {
    background: transparent!important;
    }
/*    .smart-style-5 .btn-success,  .smart-style-5 .btn-success:hover{
    border-color: rgb(238, 132, 34)!important;
    background: rgb(28, 49, 66)!important;
    webkit-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    -moz-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    }*/
/*    .smart-style-5 .form-control{
    background: rgb(26, 48, 65)!important;
    border-color: rgb(238, 132, 34)!important;
    color: #FFF;
    }*/
    .redsmalltext {
    font: 400 11px verdana !important;
    color: #fff !important;
    }
/*    strong { 
    color: #fff !important;
    }
    td { 
    color: #fff !important;
    }*/


/*adminProfile End From here*/































/*merchantAccountSetup.jsp Start from here*/

    .success-text {
    border-color: #d6e9c6;
    font-size: 14px;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-top: 10px;
    }
    .success{
        border-radius: 0px!important;
    }
 .errorMessage {
        color: #ff0000;
        text-align: right;
     }

    .rkb {
        float: left;
        width: auto;
        margin: 0 0 0 20px;
        padding: 10px;
        font: 12px arial;
        color: #333;
    }



    @media (max-width: 414px){
        select {
            width: 100% !important;
            float: left;
        }
    }



    .choosefilealignment{
        margin-bottom: 0px;
        top: 6px;
        position: relative;
        left: -9px;
        height: 39px !important;
    }

    .smart-style-5 .btn-danger, 
    .smart-style-5 .btn-danger.active, 
    .smart-style-5 .btn-danger:active, 
    .smart-style-5 .btn-danger:focus, 
    .smart-style-5 .btn-danger:hover, 
    .smart-style-5 .open>.dropdown-toggle.btn-danger {
        border-color: rgb(238, 132, 34) !important;
        background-color: rgb(25, 48, 65) !important;
        webkit-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        -moz-text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        text-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    }
 
    .invoCR { 
        color: #fff !important; 
        margin: 57px 0px 0px 10px;
    }

    @media(max-width: 768px){
        .invoCR {
            color: #fff !important;
            margin: 43px 0px 0px 10px;
            width: 9%;
        }
    }
    .checkbox3d{
        margin: 62px 0px 0px 10px!important;
    }
   
    @media(max-width: 414px){
        .checkbox3d {
        margin: 4px 0px 10px 10px!important;
        }
    }
       
    .formbox {
        background: transparent;
        border: 1px solid #fff;
        width: 100%;
        padding: 0px;
    }


    #divPL a {
        margin-left: -10px!important;
    }
    .Request-URL{
        padding-top: 22px;
    }

/*merchantAccountSetup.jsp End from here*/




.txnf, .txnf h2 { 
    font-family: verdana !important;
}


/*invoice page start */

.invoice-client-name{
    font-family: Tahoma;
}
.invoice-own-txt{
    font-size: 12px;
    font-family: Tahoma;
    font-weight: bold;
}
.invoice-own-logo{
    width: 30%;
}
@media (max-width: 768px){
    .invoice-own-logo{
      width: 50%;
    }  
}
@media (max-width: 414px){
    .invoice-own-logo{
      width: 100%;
    }  
}
.invoice-table-border{
    border: 1px solid #a9a9a9;
}
.invoice-table-txt1{
color: #fff; 
font-size: 17px;
}

.invoice-table-heading{
    padding-left: 13px;
}
@media (max-width: 768px){
    .invoice-table-heading{
        padding-left: 25px;
    } 
}
@media (max-width: 414px){
    .invoice-table-heading{
        padding-left: 7px;
    } 
}
#mk-invoice{
    width: 70%;
}
@media (max-width: 414px){
    #mk-invoice{
        width: 96%;
    } 
}
@media (max-width: 320px){
    #mk-invoice{
        width: 98%;
    } 
}
/*.invoicetable table {
    overflow-x: auto; 
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    display: block;
    min-width: 90%;
    }*/

/*.invoice-table-border table{
    width: 70%;
}*/

/*table .invoicetable {
 margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}*/
 
 
/*invoice page End */



/*invoice-Promotional page Start */

.invoice-table-width-promotional{
    width: 70%;
}
@media (max-width: 414px){
    .invoice-table-width-promotional{
        width: 98%;
    } 
}

/*invoice-Promotional page End */