#rightAlign { 
  /* padding-top: 23px!important; */
  padding-top: 13px!important;
}
table thead {
	/* background-color: #525050; */
	background-color: #fff;
}

.menuIconcolomn{
	border-right: 1px solid #292D38; 
	padding: 12px; 
	opacity: 0.3;
}
label { 
    margin-bottom: -4px!important; 
}



.tras-mode a.active {
    /* background: #000000; */
    background: #5b835b;
    /* padding: 6px; */
    color: #ffffff;
    /* margin: 10px; */
    /* font-size: 12px; */
}
.tras-mode a {
    padding: 6px;
}

.tras-mode a.left{    border-radius: 14px 0px 0px 14px;
}
.tras-mode a.right{    border-radius: 0px 14px 14px 0px;
 }

.resend-otp{

}

#bank-mod{}

.modal-header .close{float: right;}
table.table th a{color:#756969;}



