/*Start Search Payment*/


/*input[type="text"], textarea, input[type="password"] {
    border-bottom: 1px dashed #2c4054 !important;
    background: none;
    padding: 8px;
    width: 100%;
    color: #000;
    border-radius: 3px;
    height: 40px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.form-control {
    display: block;
    width: 96%;
    padding: 3px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #334555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #aaa;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 2%;
    line-height: 40px;
}*/