@charset "ISO-8859-1";

/* Menu Background-color Change  Start */
.menu-on-top, body.menu-style1 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #fff;
}

.menu-on-top, body.menu-style2 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #eecb3b;
}

.menu-on-top, body.menu-style3 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #193562;
}

.menu-on-top, body.menu-style7 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #a90005;
}

body.menu-style6 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #00a975;
}

body.menu-style8 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #307470;
}
body.menu-style9 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #ea6223;
}

body.menu-style6 .chosen-container-single .chosen-single {
	border-radius: 0px !important;
}

.menu-on-top, body.menu-style3 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	/* 	background-color: #f7f7f9;
 */
}

body.menu-style4.menu-on-top {
	background-color: #fff;
}

body.menu-style7.menu-on-top {
	background-color: #fff;
	padding-top: 0px;
}

.menu-on-top, body.menu-style4 aside#left-panel nav>ul {
	display: block;
	width: 100%;
	background-color: #0d4ca0;
}

/* Menu Background-color Change End */

/* For Icons and text Color Change Start */
body.menu-style6 aside#left-panel nav>ul a {
	color: #000000;
}

body.menu-style7 aside#left-panel nav>ul a {
	color: #000 !important;
	/*  line-height: 16px; */
}

body.menu-style6 aside#left-panel nav>ul li:hover {
	margin-left: 0px;
}

body.menu-style7 aside#left-panel nav>ul li:hover {
	margin-left: 0px;
}

body.menu-style6 aside#left-panel nav>ul li>ul li:hover a {
	background-color: #00a975;
}

body.menu-style7 aside#left-panel nav>ul li>ul li a {
	background-color: #a90005;
}

body.menu-style7 aside#left-panel nav>ul li>ul li:hover a {
	background-color: #fff;
	color: #000;
}

body.menu-style6 aside#left-panel nav>ul a>.glyphicon {
	font-size: 16px;
}

.smart-style-3, body.menu-style1 nav ul li a, .smart-style-3, body.menu-style1  nav ul li.open>a,
	.smart-style-3, body.menu-style1  nav ul li.open>a b {
	color: #111 !important;
	padding: 5px 9px !important;
	/* background-color:#193562 !important; */
}

.smart-style-3, body.menu-style1 nav ul li a:hover, .smart-style-3, body.menu-style1  nav ul li.open>a:hover,
	.smart-style-3, body.menu-style1  nav ul li.open>a:hover b {
	color: #444 !important;
	/* background-color:#fff !important; */
}

.smart-style-3, body.menu-style2 nav ul li a, .smart-style-3, body.menu-style2  nav ul li.open>a,
	.smart-style-3, body.menu-style2  nav ul li.open>a b {
	color: #fff !important;
	background-color: #eecb3b !important;
}

.smart-style-3, body.menu-style2 nav ul li a:hover, .smart-style-3, body.menu-style2  nav ul li.open>a:hover,
	.smart-style-3, body.menu-style2  nav ul li.open>a:hover b {
	color: #444 !important;
	background-color: #fff !important;
}

.smart-style-3, body.menu-style9 nav ul li a:hover, .smart-style-3, body.menu-style9  nav ul li.open>a:hover,
	.smart-style-3, body.menu-style9  nav ul li.open>a:hover b {
	color: #444 !important;
	background-color: #fff !important;
}

.smart-style-3, body.menu-style8 nav ul li a:hover, .smart-style-3, body.menu-style8  nav ul li.open>a:hover,
	.smart-style-3, body.menu-style8  nav ul li.open>a:hover b {
	color: #444 !important;
	background-color: #fff !important;
}

.smart-style-3, body.menu-style8 nav ul li a, .smart-style-3, body.menu-style8  nav ul li.open>a,
	.smart-style-3, body.menu-style8  nav ul li.open>a b {
	color: #fff !important;
	background-color: #307470 !important;
}

.menu-on-top, body.menu-style17 aside#left-panel nav>ul {
    display: block;
    width: 100%;
    background-color: hsl(95deg 46% 52%);
}

.smart-style-3, body.menu-style17 nav ul li a, .smart-style-3, body.menu-style9  nav ul li.open>a,
	.smart-style-3, body.menu-style17  nav ul li.open>a b {
	color:#000 !important;
	
}

.smart-style-3, body.menu-style9 nav ul li a, .smart-style-3, body.menu-style9  nav ul li.open>a,
	.smart-style-3, body.menu-style9  nav ul li.open>a b {
	color: #fff !important;
	background-color: #ea6223 !important;
}

.smart-style-3, body.menu-style3 nav ul li a, .smart-style-3, body.menu-style3  nav ul li.open>a,
	.smart-style-3, body.menu-style3  nav ul li.open>a b {
	color: #fff !important;
	background-color: #193562 !important;
}

.smart-style-3, body.menu-style4 nav ul li a, .smart-style-3, body.menu-style4  nav ul li.open>a,
	.smart-style-3, body.menu-style4  nav ul li.open>a b {
	color: #fff !important;
	background-color: #0f4ca1 !important;
}

.smart-style-3, body.menu-style3 nav ul li a:hover, .smart-style-3, body.menu-style3  nav ul li.open>a:hover,
	.smart-style-3, body.menu-style3  nav ul li.open>a:hover b {
	color: #111 !important;
	background-color: #fff !important;
}

.smart-style-3, body.menu-style4 nav ul li a:hover, .smart-style-3, body.menu-style4  nav ul li.open>a:hover,
	.smart-style-3, body.menu-style4  nav ul li.open>a:hover b {
	color: #111 !important;
	background-color: #fff !important;
}

/* For Icons and text Color Change End */

/* Heading Background Color Change Start */
.menu-style1 .box-header {
	/* background-color: #eaecf7; */
	background-color: #f6f6f6;
}

.menu-style1 .box-header-header2 {
	background-color: #c3c5cd;
}

.menu-style1 .box-header-header3 {
	background-color: #71768b;
}

.menu-style2 .box-header {
	background-color: #5d5d5d;
}

.menu-style2 .box-header-header2 {
	background-color: #976b24;
}

.menu-style2 .box-header-header3 {
	background-color: #c7bebe;
}

.menu-style3 .box-header {
	background-color: #d91b5c;
}

.menu-style17 .box-header {
	background-color: hsl(36deg 92% 59%);
}

.menu-style6 .box-header {
	background-color: #9a75ac;
	color: #fff;
}

.menu-style7 .box-header {
	background-color: #be5b5e;
	color: #fff;
}

.smart-style-7 input[type=text] {
	border: 1px solid #ccc;
	margin-top: 10px;
	border-radius: 30px !important;
	width: 100%;
	height: 35px;
	padding: 8px;
}

.smart-style-7  .ddTitle {
	border-radius: 30px;
}

.menu-style4 .box-header {
	background-color: #0c4c9f;
	color: #fff;
}

.menu-style8 .box-header {
	background-color: #9ae17b;
	color: #fff;
}

.menu-style9 .box-header {
	background-color:  #f2205b;;
	color: #fff;
}

.menu-style3  .box-header-header2 {
	background-color: #d5517d;
}

.menu-style3  .box-header-header3 {
	background-color: #e18daa;
}
/* Heading Background Color Change End */
body.menu-style2 .btn-success {
	background-color: #eecb3b !important;
	border-color: #fff;
}

body.menu-style2 .fa-envelope {
	color: #eecb3b !important;
}

body.menu-style2 .fa-phone {
	color: #eecb3b !important;
}

body.menu-style2 .glyphicon-repeat {
	color: #eecb3b !important;
}

body.menu-style3 .btn-success {
	background-color: #193562 !important;
	border-color: #fff;
}

body.menu-style3 .fa-envelope {
	color: #d91b5c !important;
}

body.menu-style3 .fa-phone {
	color: #d91b5c !important;
}

body.menu-style3 .glyphicon-repeat {
	color: #d91b5c !important;
}

body.menu-style6 {
	background-color: #fafbff !important
}

body.menu-style1 .form .submit {
	background-color: #ff6e26;
}

body.menu-style1 .form .submit:hover {
	background-color: #00994b;
}

body.menu-style2 .form .submit {
	background-color: #eecb3b;
}

body.menu-style2 .form .submit:hover {
	background-color: #5d5d5d;
}

body.menu-style3 .form .submit {
	background-color: #66c9d9;
}

body.menu-style3 .form .submit:hover {
	background-color: #193562;
}

body.menu-style1 a {
	/* color: #ff6e26 !important;  */
	
}

body.menu-style1 a {
	/* color: #eecb3b !important;  */
	
}

body.menu-style1 a {
	/* color: #193562 !important; */
	
}

body.menu-style2 .form-bottom form button.btn {
	background-color: #eecb3b !important;
}

body.menu-style2 .form-bottom form button.btn:hover {
	background-color: #5d5d5d;
}

body.menu-style3 .form-bottom form button.btn {
	background-color: #66c9d9;
}

body.menu-style3 .form-bottom form button.btn:hover {
	background-color: #193562;
}

body.menu-style2 input.login-form.OTPreset {
	background-color: #eecb3b;
}

body.menu-style2 input.login-form.OTPreset:hover {
	background-color: #5d5d5d;
}

body.menu-style3 input.login-form.OTPreset {
	background-color: #66c9d9;
}

body.menu-style3 input.login-form.OTPreset:hover {
	background-color: #193562;
}

body.menu-style2 .ExitdownArrow {
	color: #fff;
}

body.menu-style3 .ExitdownArrow {
	color: #fff;
}

#beneTransTable td {
	position: relative;
}

#beneTransTable td .amount-wrapper {
	position: static;
}

#beneTransTable .desableButton:disabled {
	font-weight: normal;
}

#beneTransTable .desableButton {
	font-weight: 700;
}

#beneTransTable td .glyphicon.glyphicon-exclamation-sign {
	position: absolute;
	top: 29px;
	right: 15px !important;
}

desableButton {
	font-weight: 700;
}

.desableButton:desabled {
	color: #000;
	font-weigth: normal;
}

spinning {
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

body.menu-style6 .form-group .form-control {
	margin-top: 12px;
}

body.smart-style-6 .form-control {
	margin-top: 12px;
	margin-left: 0px;
}

body.smart-style-6 #reportrange, .dd .ddTitle {
	border-radius: 0px;
}

body.smart-style-6  #main {
	margin-top: 70px !important;
}

body.menu-style6 .fa-phone, body.menu-style6 .fa-envelope, body.menu-style6 .glyphicon-repeat{
	color: #00a975 !important;
}

body.menu-style6 .pull-right.hidden-xs>ul li a {
	color: #000;
}

body.menu-style6 .page-footer {
	background-color: #252525;
}

body.menu-style6 .page-footer a {
	color: #fff;
}

.page-footer .txt-color-white {
	color: #fff !important;
}