<!--style the form-->

  
  .input-group-addon {
    padding: 0px 1px !important;
    font-size: 10px !important;
  }
.form-style{
    max-width: 450px;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}
.form-style label{
    display:block;
    margin-bottom: 1px;
}
.form-style label > span{
    float: left;
    width: 140px;
    color: #fff;
    font-weight: Normal;
    font-size: 12px;
    
}
.form-style fieldset{
    
    margin: 0px 0px 0px 0px;
   
    padding: 12px;
    background:#fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.form-style fieldset legend{
    
    
    
    background:#fff;
    padding: 12px 12px 12px 12px;
   
    font-weight: normal;
    font-size: 14px;
    
}

.form-style input[type=text],
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style input[type=email],
.form-style select, 
.form-style textarea{
    
    outline: none;
    color: #000;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    
    background: #fff;
    width:100%;
}
.form-style  input[type=submit],
.form-style  input[type=button]{
    background: #fff;
    padding: 5px 15px 5px 15px;
    color: #000;
    box-shadow: inset -1px -1px 3px #000;
    -moz-box-shadow: inset -1px -1px 3px #000;
    -webkit-box-shadow: inset -1px -1px 3px #000;
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}

.form-control::-moz-placeholder {
  color: #5E5E5E;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-moz-placeholder {
  color: #5E5E5E !important;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control::-webkit-input-placeholder {
  color: #5E5E5E !important;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-ms-input-placeholder {
  color: #5E5E5E !important;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding-left:10px !important;
  height: 40px ! important;
  -webkit-box-shadow: none;
  box-shadow: none;
}






.main_txn{
	margin:0 auto;
	width:100%;
	height:auto;
	border:1px solid #efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
}
.header_txn{
	padding:1px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#42D0ED;
	border-bottom:1px solid #efefef;
	color:#fff;
	}
.title_txn{
font-size:17px;
font-weight:bold;
margin-left: 7px;
margin-top: 7px;

}
.txn_cont{
width:100%;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
.success_txn{

background-color:#efefef;
border-collapse:collapse;
border:0px;
}
.dd_txn{
font-size:12px;

}
.txn_footer{
width:480px;
float:center;
padding: 25px;
margin-left: 198px;
}
.tbl-main{
padding:5px;
}

.btn_txn{
background-color:#42D0ED;
width:120px;
color:#fff;
font-size:14px;
border-radius:16px;
-moz-border-radius:16px;
-ms-border-radius:16px;
-webkit-border-radius:16px;
padding:8px;
border:0px;
}

.btn_txn_close{
background-color:#42D0ED;
width:100px;
color:#fff;
font-size:14px;
border-radius:16px;
-moz-border-radius:16px;
-ms-border-radius:16px;
-webkit-border-radius:16px;
padding:8px;
border:0px;
}
.dd_txn{
padding:10px;
width:480px;
margin:10px;
}